<style>
#main-container{
	display: block;
	padding-left: 20.05%;
	padding-right: 3.2%;
	position: relative;
	overflow-x:hidden;
}

#page-content #inner-container {
    padding-top: 50px;
}

</style>
<h1>All sites</h1>
<div id="all-sites-wrapper"></div>
<script type="module">
import { Grid } from "/gridjs/dist/gridjs.mjs";
( ()=>{
	new Grid({
		sort: true,
		columns: [
			{
				name: 'ID',
				hidden: true,
			}, 
			{
				name: 'SiteKey',
				hidden: true,
			}, 
			'Name'
		],
		server: {
			method: 'POST',
			url: '/admin/sites',
			then: data => data.map( site => 
				[
					site.ID, 
					site.siteKey,
					site.domain
				]),
			total: data => {
				debugger; 
				return data.length
			}
		},
		pagination: {
			enabled: true,
			limit: 1000,
			summary: true,
			server: {
				url: (prev, page, limit) => {
					return `${prev}${prev.includes('?')? '&' : '?'}limit=${limit}&offset=${page * limit}`
				}
			}
		},
		search: {
			enabled : true
			// server: {
			// 	url: (prev, keyword) => {
			// 		return `${prev}?search=${keyword}`
			// 	}
			// }
		},

	}).render(document.getElementById("all-sites-wrapper"));
})();
</script>
