<section id="bottom-section">
    <%- include('../partials/tiny-footer', { footerID : 'bottom'}); %>
    <% if ( !isMonitorAdminGroupMember || isDev ){ %>
        <%- include('../partials/cookies'); %>
        <% if ( authenticated ){ %>
            <%- include('../partials/chat'); %>
        <% } %>
    <% } %>

    <% if ( isDev && isDevTeamMember ){ %>
        <%- include('../partials/dev-tools'); %>
    <% } %>

    <% if ( adminOverride ){ %>
        <%- include('../partials/admin/flying-login'); %>
    <% } %>
    <script src="/js/navigator.js" type="module"></script>
    <script>
    window.interdeal = {
    <% if ( isDev ){ %>
        sitekey : "514d35b55a6fcba971d1b3be7f8433f9",
        domains : {
            js : "https://js.nagich.co.il/",
            acc : "https://access.nagich.co.il/"
        }
    <% } else { %>
        sitekey : "@@a11ySiteKey",
        domains : {
            js : "https://cdn.equalweb.com/",
            acc : "https://access.equalweb.com/"
        }
    <% } %>
    }
    </script>
<% if ( isDev ){ %>
    <script>
        console.log( 'A11y widget should be initalized here..' );
    </script>
<% } else { %>
    <script src="https://js.nagich.co.il/core/4.0.0/accessibility.js" async defer></script>
<% } %>
</section>