<% if (isDev) { %>
    <style>
    #chat-dummy-ph {
        height: 60px;
        width: 60px;
        margin: 1rem;
        position: fixed;
        z-index: 1000;
        bottom: 0;
        right: 0;
        background-color: var(--ew-blue);
        border-radius: 50px;
        cursor: not-allowed;
    }
    #chat-dummy-ph:before {
        position: absolute;
        top: 30%;
        left: 20%;
        font-size: 2rem;
        color: white;
    }
    </style>
    <script>
        const dummyChat = document.createElement('div');
        dummyChat.id = 'chat-dummy-ph';
        dummyChat.className = 'fal fa-comments-alt';
        document.querySelector('body').appendChild( dummyChat );
    </script>
<% } else { %>
    <script>
    ( () =>{
        window.hsConversationsSettings = {
            identificationEmail: "@@user$email"
        };
        const initChat = () =>{
            setTimeout( () =>{
                if( 'HubSpotConversations' in window && !HubSpotConversations.widget.status().loaded ){
                    console.debug('Reloading HubSpot Widget..');
                    HubSpotConversations.resetAndReloadWidget();
                }
            }, 1000);
        }
    <@if expr="len(@@user$hsChatToken)">
        hsConversationsSettings.identificationToken = "@@user$hsChatToken";
        initChat();
    <@else>
        fetch('chat.taf')
            .then( res => res.json())
            .then( response =>{
                hsConversationsSettings.identificationToken = response.token;
                initChat();
            });
    </@if>
    })();
    </script>
<% } %>