<li class="has-sub-menu">
	<a href="/profile">
		<icon></icon>
		<span>My Account</span> 
	</a>
	<ul class="sub-menu" hidden>
		<li>
			<a href="/pMethods">
				<icon></icon>
				<span>Payment Methods</span> 
			</a>
		</li>
		<li>
			<a href="/transactions">
				<icon></icon>
				<span>Billing & Transactions</span> 
			</a>
		</li>
		<li>
			<a href="/invoices">
				<icon></icon>
				<span>Invoices</span>
			</a>
		</li>
		<li>
			<a href="/creditPlans">
				<icon></icon>
				<span>Credits</span>
			</a>
		</li>
	<% if (hasSiteProcess) { %>
		<li>
			<a href="/API">
				<icon></icon>
				<span>API</span>
			</a>
		</li>
	<% } %>
	</ul>
</li>
<li id="doc-item">
	<a href="/documentation">
		<icon></icon>
		<span>Documentation</span> 
	</a>
</li>
<li>
	<a href="/faq">
		<icon></icon>
		<span>F.A.Q</span>
	</a>
</li>
<% if (isDev) { %>
	<li>
		<a href="/help">
			<icon></icon>
			<span>Help</span>
		</a>
	</li>
<% } else { %>
	<li>
		<a href="/support">
			<icon></icon>
			<span>Support</span> 
		</a>
	</li>
<% } %>