<link rel="stylesheet" href="/css/partials/header.css">
<header>
    <a href="/?page=home" id="header-top-link">
        <img src="/img/logos/ew-logo-sidebar.png" id="ew-header-logo" alt="EqualWeb - Web accessibility">
         <img src="/img/logos/ew-logo-sidebar-white.png" id="ew-header-logo-white" alt="EqualWeb - Web accessibility">
		<img src="/img/logos/ew-icon-small.png" id="ew-top-icon" alt="EqualWeb - Web accessibility"/>
    </a>
    <button aria-controls="side-menu" id="show-menu">
        <icon></icon>
        <span class="sr-only">Show menu</span>
    </button>
    <button class="toggle-menu-width" aria-expanded="<@if isTrue(@@user$menuMinimized)>false<@else>true</@if>" aria-controls="side-menu">
        <icon></icon>
        <span class="sr-only">Toggle menu width</span>
    </button>
    <nav id="top-menu" aria-label="Top menu">
    <% if ( hasCurrencies ) { %>
        <div id="payment-curreny-wrapper">
            <icon id="selected-curreny-symbol"></icon>
            <select id="payment-curreny" class="mdb-select colorful-select" aria-label="Choose your payment currency"></select>
        </div>
    <% } %>
        <div id="top-greeting">
            <span id="day-time"></span>
            <span id="top-user-name"><%= user.name %>!</span>
        </div>
        <div class="dropdown" id="top-menu-dropdown-wrapper">
            <button class="btn dropdown-toggle" id="top-menu-trigger" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if (user.agentID && user.profilePic ) { %>
                <img src="<%= user.profilePic %>" alt="<%= user.name %>">
            <% } else { %>
                <icon></icon>
            <% } %>
                <span class="sr-only">Show menu</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="top-menu-trigger">
                <a href="/profile" data-target="profile">
                    <icon></icon>
                    <span>My Account</span>
                </a>
                <a href="/pMethods" data-target="pMethods">
                    <icon></icon>
                    <span>Payment Methods</span>
                </a>
                <a href="/transactions" data-target="transactions">
                    <icon></icon>
                    <span>Billing & Transactions</span>
                </a>
                <a href="/invoices" data-target="invoices">
                    <icon></icon>
                    <span>Invoices</span>
                </a>
                <a href="/creditPlans" data-target="creditPlans">
                    <icon></icon>
                    <span>Credits</span>
                </a>
            <% if (hasSiteProcess) { %>
                <a href="/API" data-target="API">
                    <icon></icon>
                    <span>API</span>
                </a>
            <% } %>
                <a href="/logout" id="log-out">
                    <icon></icon>
                    <span>Log Out</span>
                </a>
            </div>
        </div>
    </nav>
</header>