<link rel="stylesheet" href="/css/partials/left-banner.css">
<div id="intro-banner">
    <a href="/<%= page %>" class="logo">
        <img src="/img/logos/registration_page_logo.png" alt="EqualWeb - Web accessibility"/>
    </a>
<% if ( page == 'registration' ) { %>
	<% if ( isCDK ) { %>
		<%- include('partials/CDK/reg-content'); %>
	<% } else { %>
	<div class="banner-content">
		<img src="/img/banners/registration_side.png" alt="Registration"/>
		<p>
		EqualWeb is trusted and used by industry leading companies.
		<strong>Join us now!</strong>
		</p>
	</div>
	<% } %>
<% } else if( page == 'activation' ){ %>
    <div class="banner-content">
		<img src="/img/banners/activation_page.png" alt="Activation"/>
		<p>
		You're a step away from becoming compliant!
		<strong>Thanks for taking part!</strong>					
		</p>
	</div>
<% } else if( page == 'forgot-password' || page == 'authentication' ) { %>
	<div class="banner-content">
		<img src="/img/banners/Forgot_Password.png" alt="Password Recovery"/>
		<p>
		Make your website <br />ADA compliant!
		<strong>Thanks for taking part!</strong>					
		</p>
	</div>
<% } else if( page == 'login') { %>
	<div class="banner-content">
		<img src="/img/banners/registration_side.png" alt="Login"/>
		<p>Becoming ADA compliant has never been easier</p>
	</div>
<% } %>
	<%- include('../partials/tiny-footer', { footerID : 'side'}); %>
</div>