<ul>
	<li class="has-sub-menu">
		<a href="/dashboard" id="dashboard-link">
			<icon></icon>
			<span>Dashboard</span>
		</a>
		<ul class="sub-menu" hidden>
			<li>
				<a href="/site-list">
					<icon></icon>
					<span>My sites</span>
				</a>
			</li>
		<% if (hasSiteProcess) { %>
			<li>
				<a href="/siteProcess">
					<icon></icon>
					<span>Add new site</span>
				</a>
			</li>
		<% } %>
		</ul>
	</li>
	<%- include('../partials/monitor/menu-links'); %>
    <%- include('../partials/default-menu-links'); %>
</ul>
