<link rel="stylesheet" href="/css/partials/right-side.css">
<div id="right-side-bar">
	<div class="innerWrap">
    <% if ( page == 'support' || page == 'premium-request') { %>
		<testimonial style="display: none;"></testimonial>
		<script type="module">
		// 	import {ParseJSON} from '/module.taf?utils';
		// 	import {testimonials} from '/module.taf?testimonials';
		// (()=>{
		// 	const customer = testimonials[ Math.floor( (Math.random() * testimonials.length ) ) ];
		// 	if( !customer ) return;
		// 	let $testimonial = $('testimonial');
		// 	let $img = $(`<img src="/assets/img/customers/testimonials/${customer.img}" alt="${customer.name}">`).on('load', function(){
		// 		$testimonial.fadeIn('slow');
		// 	});

		// 	$testimonial.html(`
		// 		<p>${customer.desc}</p>
		// 		<customer-details>
		// 			${$img[0].outerHTML}
		// 			<customer-name>${customer.name}</customer-name>
		// 		</customer-details>`);
		// })();
		</script>
    <% } else if ( page == 'faq' || page == 'profile' || page == 'purchase') { %>
		<h2>Accessibility guide-line</h2>
		<ul>
			<li class="detRow detRow1">
				<div><i class="fal fa-paperclip"></i> Accessibility statement</div>
				<a href="https://www.equalweb.com/html5/WEB/1116/Accessibility_Statement.pdf" target="_blank">For a sample accessibility declaration <br /><span>Click here</span></a> 
			</li>
			<li class="detRow detRow2">
				<div><i class="fal fa-paperclip"></i> Document accessibility guide</div>
				<a href="https://www.equalweb.com/html5/WEB/1116/Equaweb-documents-guide.pdf" target="_blank">For our document accessibility guide <br /><span>Click here</span></a>
			</li>
			<li class="detRow detRow3">
				<div><i class="fal fa-paperclip"></i> Accessibility guide</div>
				<a href="https://www.equalweb.com/html5/?_id=10619&did=1116&G=10619&page=150" target="_blank">Support guide for all platforms<br /><span>Click here</span></a>
			</li>
		</ul>
    <% } else if ( page == 'siteProcess' || page == 'sitesList' ) { %>
		<div id="icon-preview-wrap" class="preview-wrap" hidden>
			<div class="top-title-wrap">
				Widget page display 
				<strong id="top-title-domain"></strong>
			</div>
			<demo-browser role="none">
				<demo-browser-header>
					<circle></circle>
					<circle></circle>
					<circle></circle>
					<circle></circle>
				</demo-browser-header>
				<demo-browser-body>
					<button id="icon-preview" class="circle-btn ew-left-side-btn ew-icon-btn" disabled>
						<@include file="assets/img/icons/a11y/1.svg">
						<span style="display:none;">Accessibility</span>
					</button>
				</demo-browser-body>
			</demo-browser>
			<div class="appearance-text">This is how the widget <br />appears on your website!</div>
		</div>
		<div id="menu-preview-wrap" class="preview-wrap" hidden>
			<div class="appearance-text">This is how the menu <br />will look on your website!</div>
			<demo-menu>
				<demo-menu-header>
					<@include file="assets/img/icons/menu/menu-header-bg.svg">
					<i class="fa fa-times"></i>
					<i id="dummy-menu-lang-combo"></i>
					<i class="fa fa-arrows-h"></i>
					<i class="fa fa-eye-slash"></i>
				</demo-menu-header>
				<demo-menu-body>
				<@FOR STOP="6">
					<div class="a11y-menu-function-btn<@if expr="<@currow>=1"> active</@if>" id="a11y-menu-function-btn-<@currow>">
						<@include file="assets/img/icons/menu/<@currow>.svg">
						<span class="a11y-menu-function-btn-name"></span>
						<span class="a11y-menu-function-btn-desc"></span>
					</div>
				</@for>
				</demo-menu-body>
				<demo-menu-footer>
					<div class="menu-footer-block"></div>
					<div class="menu-footer-block"></div>
				</demo-menu-footer>
			</demo-menu>
		</div>
    <% } else if ( page == 'schedule' ) { %>
        <h2>Is ongoing monitoring for me?</h2>
        <p>
            Becoming accessible is just the first step. Avoid complaince violations by signing up for ongoing monitoring through our streamline system.
        </p>
        <img src="/img/banners/registration_side.png" alt="Schedule"/>	
	<% } else if ( page == 'home' || page == 'siteMap' || page == 'scan') { %>
        <h2>Start Real Time Accessibility Scanning & Monitoring</h2>
        <p>Scan and monitor your website for ADA and WCAG 2.1 compliance to identify and fix accessibility violations. The monitor scans small to large complex sites that consist of hundreds of thousands of pages in mere hours. 
        <br />Start your scan for FREE!</p>
        <div class="steps-wrap" role="list">
            <div class="step-box step-box-1" role="listitem">
                <h3>Enter Domain Name</h3>
                Choose a domain from the list or enter your domain name. It is recommended to embed the EqualWeb accessibility widget code and embed the code on your website before running the scan. This way you will be able to see what has been fixed by EqualWeb.
            </div>
            <div class="step-box step-box-2" role="listitem">
                <h3>Website Mapping</h3>
                The monitor crawls the site and displays all your active site pages. Select the pages you want to scan. Optional – Custom Settings for website deep mapping OR schedule a scan.
            </div>
            <div class="step-box step-box-3" role="listitem">
                <h3>Start scanning</h3>
                Now that the pages have been selected, start the site scanning, OR schedule a scan. The process can take several minutes to days depending on the page-count size. You will be notified by email when the scan is complete, and the report is ready. 
            </div>
            <div class="step-box step-box-4" role="listitem">
                <h3>View your report</h3>
                The report is ready. Now you can see what issues have been fixed by EqualWeb and the remaining errors. In order to maintain your website’s standards and remain compliant, choose a monitor plan that fits your website's size.
            </div>
        </div>
    <% } else if ( page == 'settings' ) { %>
        <h2>IS ONGOING MONITORING FOR ME?</h2>
        <ul>
            <li>The Ai Monitor will scan the website pages according to your selected schedule.</li>
            <li>The Ai crawl Monitor will save the 3 last scans reports and compare the scans.</li>
            <li>The crawl time can take from a few hours to several days depending on the structure and content of the site.</li>
        </ul>
        <p>Avoid compliance violations by signing up for ongoing monitoring!</p>
        <img src="/img/banners/settings_side.png" alt="Schedule"/>
    <% } else if ( page == 'API' ) { %>
        <h2>Partner With Us</h2>
        <p></p>We are living in an increasingly inclusive, compassionate society.
        Web accessibility is growing as a priority, and EqualWeb is at the forefront of that evolution.</p>
        <a href="https://www.equalweb.com/html5/?_id=9688&did=1116&G=9688" target="_blank">Let’s Blaze The Trail, Together!</a>
        <img src="/img/banners/api_side.png" alt="Schedule"/>
    <% } %>
	</div>
</div>