<link rel="stylesheet" href="/css/partials/side-menu.css">
<aside id="side-menu" aria-label="Side Menu">
	<nav id="site-links" aria-label="Menu links">
		<button id="hide-menu" class="mobile-btn" aria-controls="site-links">
			<i class="far fa-times"></i>
			<span class="sr-only">Hide menu</span>
		</button>
	<% if ( userRole == 'admin' ){ %>
		<%- include('../partials/admin/menu-links'); %>	
	<% } else { %>
		<%- include('../partials/menu-links'); %>	
	<% } %>
	</nav>
    <%- include('../partials/tiny-footer', { footerID : 'side'}); %>
</aside>