<link rel="stylesheet" href="/font/fontawesome/css/all.css">
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/gridjs/dist/theme/mermaid.css">
<link rel="stylesheet" href="/css/partials/vars.css">
<link rel="stylesheet" href="/css/partials/smooth-scroll.css">
<link rel="stylesheet" href="/css/partials/general.css">
<link rel="stylesheet" href="/css/partials/bs-spinner.css">
<link rel="stylesheet" href="/css/partials/combobox.css">
<link rel="stylesheet" href="/css/partials/forms.css">
<link rel="stylesheet" href="/css/partials/no-2fa.css">
<link rel="stylesheet" href="/css/partials/responsive.css">