<div id="<%- footerID %>-tiny-footer" class="tiny-footer">
    <div>
      <div id="site-provider-details">
        <span class="powered-by-text">Powered by</span>
        <a href="https://www.equalweb.com" target="_blank" rel="noopener">EqualWeb</a>
        <span class="all-rights-reserved" hidden>© All rights reserved</span>
      </div>
      <div id="site-terms-and-privacy">
        <a href="https://www.equalweb.com/html5/?_id=10016&did=1116&G=10016" target="_blank" rel="noopener">Terms of Service</a> 
        <span role="seperator" class="seperator"></span>
        <a href="http://www.equalweb.com/html5/sbs.py?_id=8615&did=1116&G=8593" target="_blank" rel="noopener">Privacy Policy</a>
      </div>
  </div>
    <a role="button" tabindex="0" class="INDmenu-btn" onclick="document.getElementById('INDmenu-btn')?.click();">
      <i class="far fa-universal-access"></i> 
      <span>Accessibility</span>
    </a>
</div>