<section>
<link rel="stylesheet" href="/css/pages/activation.css">
    <div id="inner-container">
        <%- include('../partials/left-banner'); %>
        <div id="form-wrap">
            <div id="heading-container">
                <h1>Activate your account</h1>
                <p>Please choose one type of activation</p>
            </div>
            <form id="activation-form" aria-label="Activation" role="form">
                <div id="comments-row"></div>
                <div class="form-row" id="activation-code-row" <% if ( !hasCode ){ %>hidden<% } %>>
                    <i class="fal fa-arrow-alt-right"></i>
                    <div class="form-control-wrap">
                        <label for="activation-code" data-error="please fill a code!" data-success="✓">Enter code</label>
                        <input type="number" id="activation-code" class="form-control validate" required maxlength="6" min="1" max="999999">
                    </div>
                    <button id="check-code-btn" class="btn">Check code</button>
                </div>
			<% if ( !emailSent ) { %>
                <div class="form-row input-row">
                    <i class="fal fa-envelope"></i>
                    <div class="form-control-wrap">
                        <label for="user-email">Send code to your e-mail</label>
                        <input type="text" id="user-email" readonly class="form-control" value="<%= maskedEmail %>">
                    </div>
                    <button id="send-email-btn" class="btn send-code-btn" data-type="email">Send e-mail</button>
                </div>
            <% } %>
            <% if ( !emailSent && !smsSent || !phoneCallStarted) { %>
                <seperator role="separator"><span>or</span></seperator>
            <% } %>
			<% if ( !smsSent && !phoneCallStarted ) { %>
                <div class="form-row input-row">
                    <i class="fal fa-mobile-alt"></i>
                    <div class="form-control-wrap">
                        <label for="user-phone">Send code or call your phone</label>
                        <input type="text" id="user-phone" readonly class="form-control" value="<%= maskedPhone %>">
                    </div>
                    <div class="btnz-wrap<% if ( smsSent ){ %> single-btn<% } %>">
					<% if ( !smsSent ){ %>
                        <button id="send-sms-btn" class="btn send-code-btn" data-type="sms" data-toggle="tooltip">
                            <i class="fal fa-sms"></i>
                            <span class="sr-only">Send SMS</span>
                        </button>
                    <% } %>
					<% if ( !phoneCallStarted ){ %>
                        <button id="call-phone-btn" class="btn send-code-btn" data-type="phone" data-toggle="tooltip">
                            <i class="fal fa-phone"></i>
                            <span class="sr-only">Call by phone</span>
                        </button>
                    <% } %>
                    </div>
                </div>
            <% } %>
            </form>
			<a href="/logout" id="log-out">
				<i class="far fa-arrow-alt-to-left"></i>
				<span>Back</span>
			</a>
        </div>
    </div>
</section>
<script type="module">
//# sourceURL=https://activation.js

import * as utils from '/js/helpers.js';
( ()=>{
	const form = document.getElementById('activation-form'),
          codeWrap = form.querySelector('#activation-code-row');

    const smsSent = <%= smsSent %>,
          phoneCallStarted = <%= phoneCallStarted %>,
          emailSent = <%= emailSent %>;

	const handleJSON = async res =>{
		let json = await res.json();
		if( res.ok ) return json;
		throw json;
	}

    const renderCommentRow = (typeText, mask) =>{
        form.querySelector('#comments-row').innerHTML += `
        <div class="form-row comment-row">${typeText} to ${ mask }<br>
            <span class="text-danger">Please note: the process may take a few seconds...</span>
        </div>`;
    }
    const setEmailComment = () =>{
        renderCommentRow('E-mail sent', '<%= maskedEmail %>' );
    }
    const setSMSComment = () =>{
        renderCommentRow('SMS sent', '<%= maskedPhone %>' );
    }
    const setPhoneCallComment = () =>{
        renderCommentRow('Phone call started', '<%= maskedPhone %>' );
    }

    const removeSeperator = () =>{
        if( !form.querySelectorAll(`.form-row.input-row`).length )
            form.querySelector('seperator').remove();
    }


    if( emailSent )
        setEmailComment();
    
    if( smsSent )
        setSMSComment();
    
    if( phoneCallStarted )
        setPhoneCallComment();
    

    const removeUsedBtn = btn =>{
		let btnzWrap = btn.parentNode;
		if( btnzWrap.classList.contains('btnz-wrap') && btnzWrap.querySelectorAll('button').length > 1 ){
			//2 btnz in a row..
            //still not alone..
			//bootstrap.Tooltip.getInstance( btn ).dispose();         
            btnzWrap.classList.add('single-btn');
            btn.remove();
            return;
		}
        //Remove whole row..
        btn.closest('.form-row').remove();
        removeSeperator();
        codeWrap.hidden = false;
	}

    const sendCode = btn =>{
        let type = btn.dataset.type;
		fetch(`activation/by/${type}`,{
			method:'POST'
		})
			.then( handleJSON )
			.then( result =>{
				removeUsedBtn( btn );
                switch( type ){
                    case 'email':
                        setEmailComment();
                        break;
                    case 'sms':
                        setSMSComment();
                        break;
                    case 'phone':
                        setPhoneCallComment();
                        break;
                }
			})
			.catch( res => {
				console.error( res.error );
			});
    }
    const checkCode = () =>{
        utils.postForm({ 
            url : `activation/check`,
            payload : {
                code : codeWrap.querySelector('#activation-code').value
            }
        })
			.then( result =>{
                debugger;
            })
			.catch( res => {
				console.error( res.error );
			});
    }

	form.addEventListener('click', function( e ){
        e.preventDefault();
        let btn = e.target.closest('button');
        if( !btn ) return;

        if( btn.matches('.send-code-btn') ){
            sendCode( btn );
        } else if( btn.matches('#check-code-btn') ){
            checkCode();
        }
	})
})();
</script>