<section>
    <link rel="stylesheet" href="/css/pages/authentication.css">
	<div id="inner-container">
		<%- include('../partials/left-banner'); %>
		<div id="form-wrap">
			<div id="heading-container">
				<h1>Authenticate as <%= userName %></h1>
			</div>
				<div id="form-container">
					<form id="authentication-form" aria-label="Authentication" role="form" hidden>
						<div class="form-row" id="activation-code-row">
							<i class="fal fa-arrow-alt-right"></i>
							<div class="form-control-wrap">
								<label for="auth-code"  data-error="please fill a code!" data-success="✓">Enter code</label>
								<input type="number" id="auth-code" class="form-control validate" required maxlength="6" min="1" max="999999">
							</div>
							<button id="check-code-btn" class="btn">Check code</button>
						</div>
					</form>
				</div>
			<% if ( !smsSent ){ %>
			<div class="form-row comment-row">
				Please note! the process may take a few seconds...
			</div>
			<% } %>
			<a href="/logout" id="log-out">
				<i class="far fa-arrow-alt-to-left"></i>
				<span>Back</span>
			</a>
		</div>
	</div>
</section>
<script type="module">
//# sourceURL=https://localhost/assets/js/custom/authentication.js
( ()=>{
	const handleJSON = async res =>{
		let json = await res.json();
		if( res.ok ) return json;
		throw json;
	}
	const form = document.getElementById("authentication-form");
<% if ( smsSent ){ %>
	form.hidden = false;
<% } else { %>
	( async () =>{
		fetch('authentication/send',{
			method:'POST'
		})
			.then( handleJSON )
			.then( result =>{
				form.hidden = false;
			})
			.catch( res => {
				console.error( res.error );
			});
	})();
<% } %>

	form.querySelector('#check-code-btn').addEventListener('click', function(e ){
		e.preventDefault();
		fetch('authentication/check',{
			method:'POST',
			headers: {
				'Content-Type': 'application/json',
				'accept': 'application/json'
			},
			body: JSON.stringify({
				code : form.querySelector('#auth-code').value.trim()
			})
		})
			.then( handleJSON )
			.then( result =>{
				debugger;
			})
			.catch( res => {
				console.error( res.error );
			});
	})
})();
</script>