<style>
#main-container{
    padding-left: 27%;
    padding-top: 170px;
    width: 70%;
}

#main-container h1{
    font-weight: 600;
    font-size: 60px;
}

#page-content #inner-container {
    padding-top: 0;
}

#page-content #inner-container p{margin-bottom: 60px;}

#page-content #inner-container p strong{
    color: #d91022;
    font-size: 35px;
}

#main-container #page-content{position:relative;}
</style>
<section>
    <h1><%= error.status %> - <% if ( error.status == 500) { %> Unexpected error <% } else { %><%= error.message %><% } %></h1>
    <div id="inner-container">
        <p>
            <strong>Oops, something went wrong..</strong>
        <% if ( error.status == 404 ) { %>
            <div>The page you're looking for is either restricted or doesn't exist.</div>
        <% } else { %>
            <div>It looks like we encountered an unexpected error..</div>
        <% } %>
            <a href="/home">Go to homepage</a>
        </p>
        <% if ( isDev ) { %>
            <h2>Dev. Info - Current Stack:</h2>
            <pre><%= error.stack %></pre>
        <% } %>
    </div>
</section>