<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body class="<%= bodyClasses %> scrollbar-ew-blue" data-page="<%= page %>">
    <script>
    (()=>{
    if( window.matchMedia('(max-width: 1080px)').matches ) 
      document.body.classList.add('side-menu-minimized');
    else if( window.matchMedia('(max-width: 1280px)').matches ){
        if( !document.cookie.includes('menuMinimized') || 
            document.cookie.includes('menuMinimized=true') )
            document.body.classList.add('side-menu-minimized');
    }
    if( window.self !== window.top ) document.body.classList.add('isIframe');
    })();
    </script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <% if ( hasHeader ){ %>
      <%- include('partials/header'); %>
    <% } %>
    <div id="main-container">
        <% if ( authenticated ){ %>
          <%- include('partials/side-menu'); %>
        <% } %>
        <main>
            <div id="page-content">
            <%- include( pageDir ); %>
            </div>
        </main>
    </div>
  <% if ( authenticated ){ %>
    <%- include('partials/bottom'); %>
  <% } %>
  </body>
</html>
