<section>
    <link rel="stylesheet" href="/css/pages/dashboard.css">
	<h1 class="sr-only">Dashboard</h1>
	<div id="inner-container">
		<div class="stats-wrap stat-blocks-3" id="top-stats">
			<div class="stat-block">
				<div id="total-sites-count" class="num">0</div>
				<div>
					<i class="far fa-browser"></i>
					Total sites
				</div>
			</div>
			<div class="stat-block">
				<div id="total-widget-activations" class="num">0</div>
				<div>
					<i class="far fa-exchange"></i>
					Total activations
				</div>
			</div>
			<div class="stat-block">
				<div id="popular-widget-count" class="num">0</div>
				<div>
					<i class="far fa-hand-pointer"></i>
					Popular widget <span id="popular-widget-name">no data available</span>
				</div>
			</div>
		</div>
		<div class="stats-wrap" id="middle-stats">
			<div class="stat-block">
				<h2>Websites Statistics</h2>
				<div class="filter-wrap" id="acc-stats-filters">
					<div id="site-domain-wrap">
						<label for="site-domain">Select website domain</label>
						<select name="site-domain" id="site-domain" class="mdb-select colorful-select" searchable="Type a domain..">
							<option value="" selected>Choose site..</option>
						</select>
					</div>
					<div id="site-lang-wrap" hidden>
						<label for="site-lang">Select website language</label>
						<select name="site-lang" id="site-lang" class="mdb-select colorful-select"></select>
					</div>
					<button class="btn" id="download-as-pdf" onclick="window.print();">
						<i class="fa fa-file-pdf"></i> Download PDF
					</button>
				</div>
				<div class="chart-container">
					<canvas id="a11y-stats" role="img" aria-label="Websites Statistics"></canvas>
				</div>
			</div>
		</div>
		<div class="stats-wrap" id="bottom-stats">
			<div class="stat-block">
				<h2>Programs</h2>
				<canvas id="accessibility-type" role="img" aria-label="Accessibility programs"></canvas>
			</div>
			<div class="stat-block widget-activations">
				<h2>Most Interesting</h2>
				<a href="?page=site-list" data-find-target="sitesList" id="get-full-list"> Full list <i class="fa fa-chevron-right"></i></a>
				<table id="top-interesting">
					<thead>
						<tr>
							<th class="cell-name">Name</th>
							<th class="cell-installed">Installed</th>
							<th class="cell-plan">Plan</th>
							<th class="cell-action">Actions</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="stat-block"></div>
		</div>
	</div>
</section>
<!-- 
<script type="application/json" id="plans-template">@@user$allPlans</script>
<script type="application/json" id="sites-template">@@allClientSites</script>
-->
<script type="module">
//# sourceURL=http://dashboard.js
import * as utils from '/js/helpers.js';
( ()=>{
	const renderPopularWidget = stats => {
		document.getElementById('popular-widget-count').innerText = stats.count;
		document.getElementById('popular-widget-name').innerText = stats.name;
	}

	const setPopularWidget = () =>{
		let popularWidget = utils.ParseJSON( '<%- user.popularWidget  %>' );
		if( popularWidget ){
			renderPopularWidget( popularWidget );
			return;
		}
		fetch('dashboard/popular-widget')
			.then( res => res.json() )
			.then( result =>{
				if( result.count )
					renderPopularWidget( result );
			})
			.catch( error => {
				console.error( error );
				debugger;
			})
	}

	setPopularWidget();
})();
</script>