#main-container{
	width:100%;
	padding:0;
}
#page-content #inner-container{
	display:block;
	width:100%;
	height:100vh;
	background-color:#f6f6f6;
	padding:0;
}
#intro-banner{
	display:block;
	height:100%;
	overflow:hidden;
	position:fixed;
	width:28%;
	text-align:center;
	float:left;
}

#intro-banner .logo{
	display:inline-block;
	margin-top:30px;
	position:relative;
	z-index:3;
}
#intro-banner .logo img{
	display:block;
}


#intro-banner #tiny-footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 23px;
    font-size: 12px;
    color: #fff;
	z-index:4;
}
#intro-banner #tiny-footer a {
    color: #fff;
    text-decoration: none;
}

#form-wrap{
	width:72%;
	float:right;
	padding-top:90px;
	text-align:center;
}
#form-wrap #heading-container{
	display:block;
	margin:0 auto 85px;
	width:100%;
	max-width:460px;
}
#form-wrap #heading-container h1{
	padding:0;
	margin:0 0 7px;
	text-align:center;
	line-height:1em;
	font-size:39px;
	color:var(--ew-dark);
}
#form-wrap #heading-container p{
	padding:0;
	margin:0;
	text-align:center;
	line-height:1em;
	font-size:30px;
	color:var(--ew-light-gray);
	font-weight:100;
}
#form-wrap #login-form{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:460px;
}
#site-terms-row{
	font-size:13px;
	color:var(--ew-dark);
	display:block;
	padding-top:30px;
	line-height:1.2em;
}
#site-terms-row a{
	color:var(--ew-dark);
	text-decoration:underline;
}
#site-terms-row a:hover,
#site-terms-row a:focus{
	color:var(--ew-blue);
}
a.dont-have-account{
	color:var(--ew-dark);
	font-size:14px;
}
a.dont-have-account span{
	color:var(--ew-blue);
}
a.dont-have-account:hover,
a.dont-have-account:focus{
	color:var(--ew-blue);
}
#password-recovery{
	float:right;
	color:var(--ew-light-gray);
	font-size:12px;
	display:inline-block;
}
#password-recovery:hover,
#password-recovery:focus{
	color:var(--ew-blue);
}

#activation-form{
	display:block;
	margin:0 auto 20px;
	width:100%;
	max-width:489px;
}
#activation-form .form-row{
	display:block;
	padding-left:47px;
	position:relative;
}

#activation-form .form-row > i{
	color:#b0bec5;
	font-size:38px;
	position:absolute;
	left:0;
	top:31px;
}

#activation-form .form-row:last-child > i{padding-left: 8px;}

#activation-form .comment-row{padding-left: 0;}

.form-row .btnz-wrap.single-btn button{width: 100% !important;}

#activation-form .form-row .btn i{
	color: white;
	font-size:38px;
}

#activation-form .form-control-wrap{
	width:67.4%;
	display:inline-block;
}
#activation-form .form-row > button,
#activation-form .btnz-wrap{
	width:30.5%;
	float:right;
	display:inline-block;
	margin-top:21px;
}
#activation-form .btnz-wrap button{
	width: 48%;
	display:inline-block;
	float:left;
}

#activation-form .btnz-wrap button:first-child{
	margin-right: 5px;
}

#activation-form .form-control-wrap label:first-child{
	color:var(--ew-dark);
	font-size:16px;
	line-height:1em;
	height:21px;
	margin:0;
	display:block;
	text-align:left;
}
seperator{
	display:block;
	margin:30px 0 30px 53px;
	text-align:center;
	position:relative;
}
seperator span{
	display:inline-block;
	background-color:#f6f6f6;
	line-height:1em;
	padding:0 20px;
	position:relative;
	z-index:3;
	color:var(--ew-dark);
	text-transform:uppercase;
}
seperator:before{
	content:"";
	width:100%;
	height:1px;
	background-color:#b0bec5;
	display:block;
	position:absolute;
	left:0;
	top:13px;
}
#log-out{
	font-size:16px;
	color:var(--ew-dark);
    display: block;
}
#log-out:hover,
#log-out:focus{
	color:var(--ew-blue);
	border-color:var(--ew-blue);
}
.side-menu-minimized #main-container{padding:0;}

.send-code-btn{
	position: relative;
}