#main-container{
	width:100%;
	padding:0;
}
#page-content #inner-container{
	display:block;
	width:100%;
	height:100vh;
	background-color:#f6f6f6;
	padding:0;
}
#intro-banner .bgPic{
	position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -ms-transform-origin: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -webkit-transform-origin: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transform-origin: translateY(-50%) translateX(-50%);
}
#intro-banner .logo{
	display:inline-block;
	margin-top:30px;
	position:relative;
	z-index:3;
}
#intro-banner .logo img{
	display:block;
}
#intro-banner #tiny-footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 23px;
    font-size: 12px;
    color: #fff;
	z-index:4;
}
#intro-banner #tiny-footer a {
    color: #fff;
    text-decoration: none;
}

#form-wrap{
	width:71%;
	float:right;
	padding-top:90px;
	text-align:center;
}
#form-wrap #heading-container{
	display:block;
	margin:0 auto 85px;
	width:100%;
	max-width:489px;
}
#form-wrap #heading-container h1{
	padding:0;
	margin:0 0 7px;
	text-align:center;
	line-height:1em;
	font-size:39px;
	color:var(--ew-dark);
}
#form-wrap #heading-container p{
	padding:0;
	margin:0;
	text-align:center;
	line-height:1em;
	font-size:30px;
	color:var(--ew-light-gray);
	font-weight:100;
}
#form-wrap #login-form{
	display:block;
	margin:0 auto;
	width:33%;
}
#site-terms-row{
	font-size:13px;
	color:var(--ew-dark);
	display:block;
	padding-top:30px;
	line-height:1.2em;
}
#site-terms-row a{
	color:var(--ew-dark);
	text-decoration:underline;
}
#site-terms-row a:hover,
#site-terms-row a:focus{
	color:var(--ew-blue);
}
a.dont-have-account{
	color:var(--ew-dark);
	font-size:14px;
}
a.dont-have-account span{
	color:var(--ew-blue);
}
a.dont-have-account:hover,
a.dont-have-account:focus{
	color:var(--ew-blue);
}
#password-recovery{
	float:right;
	color:var(--ew-light-gray);
	font-size:12px;
	display:inline-block;
}
#password-recovery:hover,
#password-recovery:focus{
	color:var(--ew-blue);
}

#authentication-form{
	display:block;
	margin:0 auto 50px;
	width:100%;
	max-width:489px;
}
#authentication-form .form-row{
	display:block;
	padding-left:47px;
	position:relative;
}
#authentication-form .form-row i{
	color:#b0bec5;
	font-size:38px;
	position:absolute;
	left:0;
	top:31px;
}
#authentication-form .form-control-wrap{
	width:67.4%;
	display:inline-block;
	vertical-align: bottom;
}
#authentication-form button{
	width:30.5%;
	display:inline-block;
	margin-top:25px;
}
#authentication-form .form-control-wrap label:first-child{
	color:var(--ew-dark);
	font-size:16px;
	line-height:1em;
	height:21px;
	margin:0;
	display:block;
	text-align:left;
}

#log-out{
	font-size:15px;
	color:var(--ew-light-gray);
	border-bottom:1px solid var(--ew-light-gray);
}
#log-out:hover,
#log-out:focus{
	color:var(--ew-blue);
	border-color:var(--ew-blue);
}
#toggle-menu-width-wrap{
	display:none !important;
}
.side-menu-minimized #main-container{padding-left:0 !important;}