#main-container {
    padding-left: 20.05%;
    padding-right: 3.2%;
}

#page-content #inner-container {
    padding-top: 50px;
}

.stats-wrap{
	display:block;
	margin-bottom:32px;
}
.stats-wrap .stat-block{
	display:inline-block;
	float:left;
	background-color:var(--ew-very-light-gray);
	-webkit-box-shadow: 0 0 5px 0 rgba(96,125,139,0.1);
	box-shadow: 0 0 5px 0 rgba(96,125,139,0.1);
	border-radius:3px;
}
.stats-wrap:after {
	content: "";
	display: table;
	clear: both;
}

#top-stats .stat-block{
	height:86px;
	margin-right:2%;
	width:calc(94%/4);
	padding:20px 0 0 48px;
	color:var(--ew-light-gray);
	font-size:15px;
}

#top-stats.stat-blocks-3 .stat-block{
	width:calc(96%/3);
}

#top-stats .stat-block div:last-child{
	line-height:1em;
}
#top-stats .stat-block:last-child{
	margin-right:0;
}
#top-stats .stat-block .num{
	font-size:31px;
	display:block;
	line-height:1em;
	color:var(--ew-dark);
}
#top-stats .stat-block div i{
	color:var(--ew-green);
	margin-right:4px;
}
#middle-stats .stat-block{
	width:100%;
	padding:35px 20px 20px;
}
#inner-container .stat-block h2{
	color:var(--ew-dark);
	font-size:18px;
	line-height:1em;
	margin-bottom:5px;
}
.filter-wrap{
	margin-bottom:58px;
}
.filter-wrap > div{
	display:inline-block;
}
.filter-wrap > div:not(:first-child){
	margin-left: 1rem;
}

.filter-wrap > div label{
	display:inline-block;
	color:var(--ew-light-gray);
	font-size:15px;
	margin:0 20px 0 0;
}
.filter-wrap > div .select-wrapper{
	display:inline-block;
	width:auto;
	height:25px;
	border: 1px solid var(--ew-light-gray);
	border-radius:2px;
}
.filter-wrap > div .select-wrapper input{
	position: relative;
    cursor: pointer;
    background-color: transparent;
	color:var(--ew-light-gray);
    outline: none;
    height: 25px;
    line-height: 1em;
    width: 100%;
    font-size: 15px;
    margin: 0;
	padding:0 15px;
    display: block;
    text-overflow: ellipsis;
    z-index: 2;
	border:none;
}
.filter-wrap > div .select-wrapper span.caret {
	right: 8px;
    top: 6px;
}

#site-domain.browser-default.custom-select{
	width: 75%;
}
#site-domain.browser-default.custom-select option.multilang{
	background-color: var(--ew-green );
	color: white;
}
#site-lang-wrap .select-dropdown li img{
	height: auto;
	border: 1px solid #e3e3e3;
}

#middle-stats .chart-container{
	position: relative;
	height: 235px;
}

#bottom-stats .stat-block{
	height:300px;
	padding:15px 20px;
	width:calc(94%/4);
}
#bottom-stats .stat-block:first-child{
	margin-right:1.5%;
	height:300px;
}
#bottom-stats .stat-block:nth-child(2n){
	width:49.9%;
}
#bottom-stats .stat-block:nth-child(3n){
	float:right;
}
#bottom-stats #top-interesting{
	width:100%;
	border-collapse:collapse;
	margin-top:10px;
}
#bottom-stats #top-interesting td{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	padding:12px 10px 10px;
	color:var(--ew-dark);
	font-size:14px;
}
#bottom-stats #top-interesting th{
	padding:11px 10px;
	color:var(--ew-light-gray);
	font-size:15px;
}
#bottom-stats #top-interesting th,
#bottom-stats #top-interesting tbody tr:nth-child(even) td{
	background-color:#f7f7f7;
}
#bottom-stats #top-interesting button{
	width:58px;
	height:21px;
	text-align:center;
	color:#fff;
	background-color:var(--ew-red);
	border-radius:11px;
	font-size:14px;
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding:0;
	margin:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#bottom-stats #top-interesting button:hover,
#bottom-stats #top-interesting button:focus{
	background-color:var(--ew-blue);
}
#inner-container .stat-block.widget-activations h2{
	display:inline-block;
}
#inner-container .stat-block.widget-activations #get-full-list{
	float:right;
	font-size:15px;
	color:var(--ew-light-gray);
	margin-top:5px;
}
#inner-container .stat-block.widget-activations #get-full-list i{
	color:var(--ew-green);
	font-size:10px;
	margin-left:3px;
}
#inner-container .stat-block.widget-activations #get-full-list:hover,
#inner-container .stat-block.widget-activations #get-full-list:focus{
	color:var(--ew-blue);
}
#bottom-stats #top-interesting td:first-child{
	width:38%;
}
#bottom-stats #top-interesting td:nth-child(2){
	width:24%;
}
#bottom-stats #top-interesting td:nth-child(3){
	width:24%;
}

#popular-widget-name:before{
	content:"|";
	margin:0 5px 0 0px;
}

#popular-visitors-origin{font-weight:bold;}

#bottom-stats .stat-block:first-child h2, #bottom-stats .stat-block:last-child h2{margin-bottom: 40px;}

.filter-wrap #download-as-pdf{
	display:inline-block;
	width:172px;
	height:25px;
	vertical-align:top;
}


@media print {
	body[data-page="dashboard"] #main-container #side-menu,
	body[data-page="dashboard"] #bottom-section,
	body[data-page="dashboard"] #download-as-pdf,
	body[data-page="dashboard"] .filter-wrap label,
	body[data-page="dashboard"] .filter-wrap #download-as-pdf{
		display: none;
	}
	body[data-page="dashboard"] #main-container {
		padding-left: 0;
		padding-right: 0;
	}
	body[data-page="dashboard"] #inner-container .stat-block h2{
		display:inline-block;
		vertical-align:top;
	}
	body[data-page="dashboard"] .filter-wrap{
		display:inline-block;
	}
}