#main-container{
	width:100%;
	padding:0;
}
#page-content #inner-container{
	display:block;
	width:100%;
	height:100vh;
	background-color:#f6f6f6;
	padding:0;
}
#intro-banner .bgPic{
	position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -ms-transform-origin: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -webkit-transform-origin: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transform-origin: translateY(-50%) translateX(-50%);
}
#intro-banner .logo{
	display:inline-block;
	margin-top:30px;
	position:relative;
	z-index:3;
}
#intro-banner .logo img{
	display:block;
}

#intro-banner p strong{display:inline-block;}

#intro-banner #tiny-footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 23px;
    font-size: 12px;
    color: #fff;
	z-index:4;
}
#intro-banner #tiny-footer a {
    color: #fff;
    text-decoration: none;
}

#form-wrap{
	width:72%;
	float:right;
	padding-top:90px;
	text-align:center;
}
#form-wrap #heading-container{
	display:block;
	margin:0 auto 85px;
	width:100%;
	max-width:460px;
}
#form-wrap #heading-container h1{
	padding:0;
	margin:0 0 7px;
	text-align:center;
	line-height:1em;
	font-size:39px;
	color:var(--ew-dark);
}
#form-wrap #heading-container p{
	padding:0;
	margin:0;
	text-align:center;
	line-height:1em;
	font-size:30px;
	color:var(--ew-light-gray);
	font-weight:100;
}
#form-wrap #login-form{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:460px;
}
#site-terms-row{
	font-size:13px;
	color:var(--ew-dark);
	display:block;
	padding-top:30px;
	line-height:1.2em;
}
#site-terms-row a{
	color:var(--ew-dark);
	text-decoration:underline;
}
#site-terms-row a:hover,
#site-terms-row a:focus{
	color:var(--ew-blue);
}
a.dont-have-account{
	color:var(--ew-dark);
	font-size:14px;
}
a.dont-have-account span{
	color:var(--ew-blue);
}
a.dont-have-account:hover,
a.dont-have-account:focus{
	color:var(--ew-blue);
}
#password-recovery{
	float:right;
	color:var(--ew-light-gray);
	font-size:12px;
	display:inline-block;
}
#password-recovery:hover,
#password-recovery:focus{
	color:var(--ew-blue);
}

#pass-recovery-form{
	display:block;
	margin:0 auto 30px;
	width:100%;
	max-width:489px;
}
#pass-recovery-form .form-row{
	display:block;
	padding-left:47px;
	position:relative;
}

#pass-recovery-form .form-row i:not(.floating-custom-tt){
	color:#b0bec5;
	font-size:38px;
	position:absolute;
	left:26px;
	top:31px;
}

#pass-recovery-form .form-row > i:not(.floating-custom-tt){
	left:0;
}

#pass-recovery-form i.floating-custom-tt{
	right: 19%;
}
#pass-recovery-form .form-control-wrap{
	width:67.4%;
	display:inline-block;
	text-align:left;
}
#pass-recovery-form button{
	width:30.5%;
	float:right;
	display:inline-block;
	margin-top:24px;
}
#pass-recovery-form .form-control-wrap label:first-child{
	color:var(--ew-dark);
	font-size:16px;
	line-height:1em;
	height:21px;
	margin:0;
	display:inline-block;
	text-align:left;
}
seperator{
	display:block;
	margin:30px 0 30px 53px;
	text-align:center;
	position:relative;
}
seperator span{
	display:inline-block;
	background-color:#f6f6f6;
	line-height:1em;
	padding:0 20px;
	position:relative;
	z-index:3;
	color:var(--ew-dark);
	text-transform:uppercase;
}
seperator:before{
	content:"";
	width:100%;
	height:1px;
	background-color:#b0bec5;
	display:block;
	position:absolute;
	left:0;
	top:13px;
}
#log-out{
	font-size:16px;
	color:var(--ew-dark);
	/*margin-left: 54px;*/
}
#log-out:hover,
#log-out:focus{
	color:var(--ew-blue);
	border-color:var(--ew-blue);
}

.form-control.validate + label {
	position: absolute;
    top: 100%;
    right: unset;
}

#pass-recovery-form label[for="activation-code"]{right: 0 !important;}

/*recovery-mail-step*/

#pass-recovery-form.recovery-mail-step .form-control-wrap {
    width: 100%;
    display: block;
}

#pass-recovery-form.recovery-mail-step .form-row{padding:0;}

#pass-recovery-form.recovery-mail-step{
	width:100%;
	max-width:460px;
	margin:0 auto;
}

#pass-recovery-form.recovery-mail-step button {
    width: 100%;
    float: none;
    display: block;
    margin-top: 21px;
}

#pass-recovery-form.activation-step + #log-out{margin-left: 50px;} 

#pass-recovery-form.set-password-step input.invalid label{
    right: 0 !important;
    text-align: left;
    left: 80px;
}

/*
.form-control-wrap label[data-error="please fill a password!"],
.form-control-wrap label[data-error="please confirm the password!"]{left: 80px !important;}*/

.form-control-wrap .custom-tt-wrap {
    top: 10px;
    right: 112px;
    font-size: 10px;
}

.custom-tt-wrap i.show-pass-btn {
    font-size: 20px !important;
    left: -3px !important;
}

.form-control-wrap i.fa-question-circle {
    top: 3px !important;
    font-size: 16px !important;
    left: -12px !important;
	position: static !important;
}

/*end recovery-mail-step*/


/*set-password-step*/

#pass-recovery-form.set-password-step .form-row{
	padding: 0;
	margin: 0 0 30px;
}

#pass-recovery-form.set-password-step button {
    width: 67%;
    float: none;
    display: block;
    margin-top: 21px;
    margin: 0 auto;
}

/*end set-password-step*/
