#main-container{
	width:100%;
	padding:0;
}
#page-content #inner-container{
	display:block;
	width:100%;
	height:100vh;
	/*background-color:#f6f6f6;*/
	padding:0;
}
#intro-banner{
	display:block;
	height:100%;
	overflow:hidden;
	position:fixed;
	width:28%;
	text-align:center;
	float:left;
}
#intro-banner .bgPic{
	position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    -ms-transform-origin: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -webkit-transform-origin: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    transform-origin: translateY(-50%) translateX(-50%);
}
#intro-banner .logo{
	display:inline-block;
	margin-top:30px;
	position:relative;
	z-index:3;
}
#intro-banner .logo img{
	display:block;
}

#intro-banner #tiny-footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 23px;
    font-size: 12px;
    color: #fff;
	z-index:4;
}
#intro-banner #tiny-footer a {
    color: #fff;
    text-decoration: none;
}

#form-wrap{
	width:72%;
	float:right;
	padding-top:90px;
}

#side-menu + main #form-wrap{
	width:83%;
}
#form-wrap #heading-container{
	display:block;
	margin:0 auto 30px;
	width:100%;
	max-width:460px;
}
#form-wrap #heading-container h1{
	padding:0;
	margin:0 0 10px;
	text-align:center;
	line-height:1em;
	font-size:39px;
	color:var(--ew-dark);
}
#form-wrap #heading-container p{
	padding:0;
	margin:0;
	text-align:center;
	line-height:1em;
	font-size:30px;
	color:var(--ew-light-gray);
	font-weight:100;
}
#form-wrap #login-form{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:460px;
}

#form-wrap #login-form .form-row:first-child,
#form-wrap #login-form .form-row:nth-child(2){margin-bottom: 20px;}

#site-terms-row{
	font-size:13px;
	color:var(--ew-dark);
	display:block;
	padding-top:30px;
	line-height:1.2em;
}
#site-terms-row a{
	color:var(--ew-dark);
	text-decoration:underline;
}
#site-terms-row a:hover,
#site-terms-row a:focus{
	color:var(--ew-blue);
}
a.dont-have-account{
	color:var(--ew-dark);
	font-size:14px;
}
a.dont-have-account span{
	color:var(--ew-blue);
}
a.dont-have-account:hover,
a.dont-have-account:focus{
	color:var(--ew-blue);
}
#password-recovery{
	float:right;
	color:var(--ew-dark);
	font-size:14px;
	display:inline-block;
}
#password-recovery:hover,
#password-recovery:focus{
	color:var(--ew-blue);
}


#login-response{
	white-space: pre-line;
}