#main-container{
	width:100%;
	padding:0;
}
#page-content #inner-container{
	display:block;
	width:100%;
	height:100vh;
	/*background-color:#f6f6f6;*/
	padding:0;
}

#form-wrap{
	width:72%;
	float:right;
	padding-top:50px;
}
#form-wrap #heading-container{
	display:block;
	margin:0 auto 30px;
	width:100%;
	max-width:460px;
}
#form-wrap #heading-container h1{
	padding:0;
	margin:0 0 10px;
	text-align:center;
	line-height:1em;
	font-size:39px;
	color:var(--ew-dark);
}
#form-wrap #heading-container p{
	padding:0;
	margin:0;
	text-align:center;
	line-height:1em;
	font-size:30px;
	color:var(--ew-light-gray);
	font-weight:100;
}
#form-wrap #registration-form{
	display:block;
	margin:0 auto;
	width:100%;
	max-width:460px;
}
#site-terms-row{
	font-size:13px;
	color:var(--ew-dark);
	display:block;
	padding-top:0;
	line-height:1.2em;
}
#site-terms-row a{
	color:var(--ew-dark);
	text-decoration:underline;
}
#site-terms-row a:hover,
#site-terms-row a:focus{
	color:var(--ew-blue);
}
a.have-account{
	color:var(--ew-dark);
	font-size:18px;
}
a.have-account span{
	color:var(--ew-blue);
}
a.have-account:hover,
a.have-account:focus{
	color:var(--ew-blue);
}

#registration-form .form-row label[for="user-mail"]{white-space: nowrap;}


/**CDK**/

.isCDK #intro-banner{background: url(assets/img/banners/blank.jpg);}

.isCDK #intro-banner .cdk-contents-wrap{
	display:block;
	width:76%;
	margin:100px auto 0;
}
.isCDK #intro-banner p{
    font-size: 19px;
    line-height: 1.3em;
	position:static;
	text-align:left;
}
.isCDK #intro-banner p.bold{
	font-weight:bold;
}
.isCDK #intro-banner p a{
	color:#fff;
	text-decoration:underline;
}
#intro-banner .cdk-contents-footer img{
    display: block;
    width: auto;
    text-align: center;
    margin: 0px auto 0;
}
#intro-banner .cdk-contents-footer img.black-logo{
	display:none;
}
#intro-banner .cdk-contents-footer img.white-logo{
	margin-top:40px;
}
#inner-container .cdk-contents-wrap{
	display:none;
}
#cdk-steps{
	display:block;
	width:75%;
	margin:50px auto 50px;
}
#cdk-steps h2{
	color:var(--ew-dark);
	font-size:24px;
	font-weight:bold;
	text-align:center;
	margin-bottom:25px;
}
#cdk-steps ul{
	display:block;
	padding:0;
	margin:0;
	list-style:none;
}
#cdk-steps ul:after {
  content: "";
  display: table;
  clear: both;
}
#cdk-steps ul li{
	display:inline-block;
	float:left;
	width:calc(82%/7);
	margin-right:3%;
	text-align:center;
	position:relative;
}
#cdk-steps ul li:last-child{
	margin-right:0;
}
#cdk-steps ul li:after{
	content: "\f178";
    font-family: "Font AWesome 5 Pro";
    position: absolute;
    top: 22px;
    right: -27px;
    font-weight: 700;
    color: var(--ew-dark);
    font-size: 30px;
}
#cdk-steps ul li:last-child:after{
	content: "";
}
#cdk-steps ul li .cdk-step-text{
	display:block;
	text-align:center;
	font-size:16px;
	color:var(--ew-dark);
	line-height:1.1em;
}
#cdk-steps ul li  .cdk-step-icon{
	display:inline-block;
	margin:0 auto 10px;
	padding:7px;
	border-radius:10px;
	border:4px solid var(--ew-dark);
}
#cdk-steps ul li  .cdk-step-icon .cdk-step-num{
	display:block;
	width:65px;
	height:65px;
	text-align:center;
	font-size: 37px;
	font-weight: 700;
	text-align:center;
	color:#fff;
	background-color:var(--ew-light-gray);
	border-radius:7px;
	padding-top: 14px;
	line-height: 1em;
} 
#cdk-steps ul li:last-child .cdk-step-icon{
	border-color:var(--ew-blue);
}
#cdk-steps ul li:last-child .cdk-step-icon .cdk-step-num{
	background-color:var(--ew-blue);
}
/**end CDK**/

body[data-page="registration"].side-menu-minimized #main-container{
	padding:0 !important;
}
.iti .iti__selected-flag{
	height:52px !important;
}

body[data-page="registration"].side-menu-minimized #main-container{
	padding:0 !important;
}