#main-container {
    padding-right: 3.2%;
    overflow-x: hidden;
}
#inner-container #intro-text{
    font-size:15px;
	color:#7b868b;
	margin-bottom:45px;
}
#inner-container #top-shortcuts{
    float: right;
	margin-left:10px;
	display:none !important;
}
#inner-container #top-shortcuts button{
    display: inline-block;
    width: auto;
    padding:0.84rem 2.14rem;
	text-transform:none;
	font-size:17px;
}

table #sign-up-btn, 
table #log-in-btn, 
table .btn {
	text-transform:none;
}

.gridjs-table td:first-child, 
.gridjs-table th:first-child {
    padding-left: 15px !important;
}
.gridjs-table > thead *, 
.gridjs-table > tbody > tr.gridjs-tr * {
    color: var(--ew-dark);
    font-size: 16px;
}

.gridjs-table > tbody > tr.gridjs-tr > td.gridjs-td > span {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.img-thumbnail {
	padding: 0;
	border: none;
	border-radius: 0;
	margin-right:5px;
}
.scanning-cell i{
	color: var(--ew-blue)!important;
}
.gridjs-table .upgrade-cell{
	padding-top:17px;
}
.a11y-plan-cell div{
	text-transform:capitalize;
}
.gridjs-table > thead *, .gridjs-table > tbody > tr.gridjs-tr *{
	line-height:1.2em;
}
#inner-container h1{margin-bottom:30px;}

.gridjs-table th.upgrade-cell{
	vertical-align:top;
}
.gridjs-table .schedule-cell button i{
	position:relative;
	bottom:2px;
}

/* .gridjs-table .a11y-plan-cell,
.gridjs-table .monitor-plan-cell,
.gridjs-table .last-scan-cell,
.gridjs-table .next-scan-cell,
.gridjs-table .schedule-cell,
.gridjs-table .expiry-date-cell{
	width:8% !important;
}
.gridjs-table .num-of-pages-cell,
.gridjs-table .details-cell{
	width:5% !important;
}


.md-progress{
	width:90%;
} 
.scanning-cell .scanning-wrap{
	display:inline-block;
	margin-bottom:4px;
}
.scanning-cell .scanning-wrap:after {
    content: attr(data-current-value) '%';
	margin-left:5px;
}
.md-progress .indeterminate{
	background-color:#ddd;
}
.md-progress .progress-bar{
	position:relative;
	z-index:99;
} */

scans .chart-container{
	margin-bottom:75px !important;
}
scans h3{
	font-size:24px;
	color:var(--ew-dark);
	text-align:center;
	margin-bottom:20px;
}
scans h3 a{
	color:var(--ew-dark)!important;
}
scans h3 a:hover{
	color:var(--ew-blue)!important;
}
.scans-table .get-report-btn:not(#ew-dummy){
	background-color:#fff!important;
	color:var(--ew-dark)!important;
	border:1px solid var(--ew-dark)!important;
	font-size:15px !important;
	height:28px !important;
	border-radius:14px !important;
}
.scans-table .get-report-btn:not(#ew-dummy):hover,
.scans-table .get-report-btn:not(#ew-dummy):focus{
	color:#fff!important;
	background-color:var(--ew-dark)!important;
}
.scans-table .upgrade-plan-btn:not(#ew-dummy){
	font-size:15px !important;
	height:28px !important;
	border-radius:14px !important;
}

.scans-table .old-value{
	color:var(--ew-red)!important;
}
.scans-table .current-value,
.scans-table .current-value.text-danger{
	color:var(--ew-green)!important;
}                   
.scans-table td{
	font-size:14px!important;
}

.gridjs-table  .scans-table th{width:auto;}
.scans-table th.num-scan-cell{
	width:3%;
}
.scans-table th.date-scan-cell,
.scans-table .mode-scan-cell{
	width:7%;
}
.scans-table .pages-scan-cell{
	width:6%;
}
.scans-table tr.bottom-row{border:none;}
.gridjs-table tr:last-child td{border-bottom:none !important;}
.scans-table .fixed-by-ew{
	font-weight:600;
	text-align: right;
    display: block;
    margin-right: 82px;
}
#inner-container h2{
	font-size:18px;
	color:var(--ew-dark);
	font-weight:600;
	margin-bottom:12px;
}
#inner-container #intro-text{
	color:var(--ew-dark);
	font-size:18px;
	line-height:1.4em;
}
/* -------------------------- */

#overview-tbl .schedule-cell > *{
    display: inline-block;
}

.view-scans-btn{
    margin: auto;
}

tr.bottom-row {
    border-bottom: 3px solid;
}

scans{
    position: relative;
}
scans .scans-table .current-value{
    margin-left: .2rem;
}
scans .scans-table .current-value.text-success i{
    vertical-align: sub;
}
scans .scans-table .current-value.text-danger i{
    vertical-align: text-top;
}

scans .chart-container{
    background-color: var(--ew-very-light-gray);
    margin: 2rem auto;
    height: 300px;
}

scans > .close{
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
}

#all-sites-wrapper tr.even td{
	background-color:#f7f7f7;
}

.details-cell i {
	color: var(--ew-dark) !important;
	font-size:22px !important;
}
.scanning-cell i {
    color: var(--ew-green)!important;
}
.scanning-cell i.expired {
    color: var(--ew-red)!important;
}

#all-sites-wrapper .activity-cell{
	width:6%;
}
#all-sites-wrapper table th.site-domain-cell{
	width:13% !important;
	padding-right:10px;
}
#all-sites-wrapper table th.sitemap-cell{
	width:50px !important;
	
}
#all-sites-wrapper table .sitemap-cell button,
#all-sites-wrapper table td.settings-cell button{
	margin:0 auto !important;
}
#all-sites-wrapper table td.sitemap-cell{
	text-align:center;
	padding-left:0;
}

#all-sites-wrapper table td.settings-cell{
	text-align: center;
}
#all-sites-wrapper scans .close{
	display:none;
}

#all-sites-wrapper .scans-table .btn.get-report-btn:not(#ew-dummy):not(.icon-btn):hover,
#all-sites-wrapper .scans-table .btn.get-report-btn:not(#ew-dummy):not(.icon-btn):focus{
	background-color: var(--ew-dark)!important;
	color: white!important;
}
#all-sites-wrapper .scans-table .btn.upgrade-plan-btn:not(#ew-dummy):not(.icon-btn){
	background-color: white!important;
	color: var(--ew-dark)!important;
	border: 1px solid black;
}
#all-sites-wrapper .scans-table .btn.upgrade-plan-btn:not(#ew-dummy):not(.icon-btn):hover,
#all-sites-wrapper .scans-table .btn.upgrade-plan-btn:not(#ew-dummy):not(.icon-btn):focus{
	background-color: var(--ew-dark)!important;
	color: white!important;
}
#all-sites-wrapper .fixed-by-ew:before{
	color: var(--ew-green)!important;
	content:"\f058";
	font-family:"Font Awesome 5 Pro";
	margin-right:5px;
	font-weight:400;
}
#all-sites-wrapper .scans-table .text-danger:before{
	color: var(--ew-red)!important;
	content:"\f071";
	font-family:"Font Awesome 5 Pro";
	margin-right:5px;
	font-weight:400;
}

#all-sites-wrapper .scans-table .delete-report-btn{
	margin-left: 1rem;
}
#all-sites-wrapper .scans-table .delete-report-btn > icon:before{
	content:"\f1f8";
	color: var(--ew-red)!important;
	font-family:"Font Awesome 5 Pro";
}

#all-sites-wrapper .gridjs-table .report-cell .btn:not(#ew-dummy):not(.icon-btn){
	background:none!important;
	font-size:14px!important;
	color:var(--ew-green)!important;
	height:auto !important;
}
#all-sites-wrapper .gridjs-table .report-cell .btn:not(#ew-dummy):not(.icon-btn) i{
	font-size:16px!important;
	color:var(--ew-green)!important;
}

#all-sites-wrapper .gridjs-table .delete-cell .btn:not(#ew-dummy) i{
	color:var(--ew-red)!important;
}

.scans-table td[colspan="5"]{
	text-align:right;
	padding-right:25px;
	padding-left:0;
}

#inner-container .gridjs-tables_filter .form-control:not(#ew-dummy-selector){
	border-color:var(--ew-dark) !important;
	color:var(--ew-dark) !important;
}
.gridjs-tables_filter:after{
	color:var(--ew-dark);
	left:auto;
	right:0;
}
#all-sites-wrapper a.site-domain{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display:inline-block;
}
#inner-container .gridjs-tables_wrapper table th, 
#inner-container .fixedHeader-floating thead tr th.sorting{
	width:auto !important;
}

.modal #delete-schedule-btn,
.modal #delete-report-btn{
	background-color: var(--ew-red)!important;
}

.gridjs-wrapper .more-options-container{
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    left: -10px;
    top: -5px;
    align-items: flex-end;
    background-color: var(--ew-very-light-gray);
	padding: 10px 5px;
	opacity:0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.gridjs-wrapper .more-options-wrapper{
	position: relative;
}

.gridjs-wrapper .more-options-wrapper:hover .more-options-container,
.gridjs-wrapper .more-options-wrapper:focus-within .more-options-container{
	left:0px;
	opacity:1;
}

.gridjs-wrapper .more-options-container a {
    margin: 0 .5rem;
	font-size:18px;
}
.gridjs-wrapper .more-options-container a *{
	color:var(--ew-dark);
}
/* .gridjs-table .actions-cell, 
.gridjs-tables_wrapper table th.actions-cell{
	width: 6% !important; 
} */


.gridjs-wrapper .more-options-wrapper icon:before {
    font-family: "Font Awesome 5 Pro";
}

.gridjs-wrapper .more-options-trigger icon:before {
	content: "\f055";
	cursor:pointer;
}

.gridjs-wrapper .more-options-container a.sitemap-link icon:before {
    content: "\f865";
}
.gridjs-wrapper .more-options-container a.view-report-link icon:before {
    content: "\f570";
}
.gridjs-wrapper .more-options-container a.edit-settings-link icon:before {
    content: "\f013";
}
.gridjs-wrapper a.delete-schedule-btn icon:before {
    content: "\f1f8";
}

#all-sites-wrapper .gridjs-table.gridjs-tr-child-row-expanded .gridjs-tbody > tr{
	display: none;
}
#all-sites-wrapper .gridjs-table.gridjs-tr-child-row-expanded .gridjs-tbody > tr.gridjs-tr-child-row-expanded{
	display: table-row;
}