#page-content #inner-container{
    width:67%;
}
#form-intro-container{
    width:100%;
    max-width:709px;
    margin:0 auto 40px;
}
#form-intro-container h2{
    color:var(--ew-dark);
    font-size:24px;
    text-align:center;
    margin-bottom:13px;
}
#form-intro-container p{
    color:var(--ew-dark);
    font-size:18px;
    text-align:center;
    font-weight:400;
    margin:0;
    line-height:1.4em;
}
#scan-form{
    width:100%;
    max-width:689px;
    margin:0 auto;
}
#scan-form .form-row.btnz-row{
    padding-top: 1rem;
}
#scan-form .form-row.btnz-row #submit-btn{
    width:100%;
    max-width:255px;
    margin:0 auto;
    font-size:22px;
    border-radius:0;
    height:37px;
    font-weight:300;
    margin-bottom:10px;
}
#scan-form .form-row.btnz-row #reset-btn{
    width:30px;
    height:30px;
    margin:0 auto;
    background:none;
    color:var(--ew-blue);
    font-size:16px;
    font-weight:600;
}
#scan-form .form-row.btnz-row #reset-btn:hover,
#scan-form .form-row.btnz-row #reset-btn:focus{
    color:var(--ew-dark);
}
#scan-form .form-row label{
    display:block;
    text-align:center;
    margin-bottom:15px;
    color:var(--ew-dark);
    font-size:18px;
    font-weight:300;
}
#scan-form div.form-control:not(.select-dropdown),
#scan-form .select-wrapper input.select-dropdown{
    height:43px !important;
}
#scan-form div.form-control:not(.select-dropdown){
    border-color:var(--ew-dark);
}
#scan-form .select-wrapper span.caret{
    color:var(--ew-dark);
    font-size:22px;
    font-weight:300;
    top:11px;
}
#inner-container h1{
    margin-bottom:120px;
}

#domain-wrap .select-dropdown li img{
	height: auto;
}

#domain-wrap .select-dropdown >.search-wrap + li,
#domain-wrap .select-dropdown >.search-wrap + li > span{
    display: block !important;
}
.form-control-wrap{
    position: relative;
}
#show-domain-combo-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

#show-domain-combo-btn > icon:before{
    content:"\f03a";
    font-family:"Font Awesome 5 Pro";
    font-weight:400;
    font-size: 20px;
    padding: 1rem;
}
#page-content #inner-container{
    width:65%;
}