<div class="cdk-contents-wrap">
    <p class="bold">
        EqualWeb is an approved Sincro partner to provide ADA compliance & accessibility services throughout Sincro Platform.
    </p>
    <p>
        As your accessibility partner, we are excited to bring you an accessibility solution driven by cutting-edge Automatic Ai technology that meets the compliance laws and regulations of ADA, Section 508 & WCAG 2.1 AA+ with Human manual adjustments and tests.
    </p>
    <p>
        To get started, please register, Login and UPGRADE TO Sincro PREMIUM PLAN. 
    </p>
    <p>
        For assistance contact us at <a href="mailto:cdk.support@equalweb.com">our support mail</a> or call 202.788.0122
    </p>
    <div class="cdk-contents-footer">
        <img src="assets/img/logos/sincro-logo-black-mobile.png" alt="Sincro logo" class="black-logo">
        <img src="assets/img/logos/sincro-logo.png" alt="Sincro logo" class="white-logo">
    </div>
</div>