<div id="cdk-steps">
    <h2>Dealer's sign up for accessibility services with EqualWeb via Sincro's App Store:</h2>
    <ul >
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">1</div></div>
            <div class="cdk-step-text">Enter cdk.equalweb.com</div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">2</div></div>
            <div class="cdk-step-text">Account registration</div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">3</div></div>
            <div class="cdk-step-text">Insert your domain </div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">4</div></div>
            <div class="cdk-step-text">Choose Annual or Monthly Plan</div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">5</div></div>
            <div class="cdk-step-text">Buy Now</div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">6</div></div>
            <div class="cdk-step-text">Insert Credit Card details</div>
        </li>
        <li>
            <div class="cdk-step-icon"><div class="cdk-step-num">7</div></div>
            <div class="cdk-step-text">Confirm your order at <br />
                <a href="mailto:https://onlinestore.connectcdk.com">Sincro's App store</a>
            </div>
        </li>
    </ul>
</div>