<li class="has-sub-menu">
	<a href="/monitor/home" id="wcag-monitor-link">
		<icon></icon>
		<span>WCAG Monitor</span> 
	</a>
	<ul class="sub-menu" hidden>
		<li>
			<a href="/monitor/all-scans">
				<icon></icon>
				<span>My Scans</span>
			</a>
		</li>
		<% if (hasSiteProcess) { %>
		<li>
			<a href="/monitor/settings">
				<icon></icon>
				<span>Settings</span>
			</a>
		</li>
		<% } %> 
		<li>
			<a href="/monitor/report">
				<icon></icon>
				<span>Report</span>
			</a>
		</li>
		<li>
			<a href="/monitor/images">
				<icon></icon>
				<span>Alternative Text Editor</span>
			</a>
		</li>
	</ul>
</li>