.spinner-wrap.tiny .spinner-border{
    width: 1rem;
    height: 1rem;
}

.spinner-wrap.small .spinner-border{
    width: 1.5rem;
    height: 1.5rem;
}

.spinner-wrap.big .spinner-border{
    width: 3.5rem;
    height: 3.5rem;
}
.spinner-wrap.hugh .spinner-border{
    width: 6rem;
    height: 6rem;
}

#page-content + .spinner-wrap{
    width: 100%;
    height: 85vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}