combobox-wrapper,
combobox,
opt{
    display: block;
}
combobox-wrapper{
    position: relative;
    width: 240px;
    height: 40px;
}
combobox-wrapper.loading:before{
    content: 'Loading...';
}
combobox{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
}
combobox:focus{
    outline: 1px solid red;
}
combobox input{
    border: 1px solid var(--ew-light-gray);
    border-radius: .25rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 0 1rem;
}

combobox >  combo-caret{
    position: absolute;
    right: 10px;
    font-size: 1rem;
    color: var(--ew-green);
}
combobox > combo-caret:not(combo-caret[class]):before{
    content: '\A8FA';
}

listbox{
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: auto;
    margin: 0;
    opacity: 0;
    height: 0;
    width: 100%;
    min-width: 120px;
    max-height: 300px;
    overflow-y: auto;
    visibility: hidden;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    will-change: opacity;
    transition: opacity 0.3s ease-in-out;
    padding: .5rem;
}

listbox.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5; 
}
  
listbox.custom-scrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #dcdcdc; 
}
  
listbox.custom-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
}

combobox.has-autocomplete + listbox{
    top: 100%;
}

combobox[aria-expanded="true"] + listbox{
    height: auto;
    visibility: visible;
    opacity: 1;
}

opt{
    cursor: pointer;
    clear: both;
    color: black;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;
}

opt[aria-selected="true"]{
    background-color: var(--ew-middle-blue);
   
}
opt[aria-selected="true"] .opt-text,
opt[aria-selected="true"].active .opt-text{
    color: white;
}
opt .opt-text{
    font-size: 15px;
    color: var(--ew-dark);
    display: block;
    padding: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
opt:hover .opt-text,
opt.active .opt-text{
    color: var(--ew-blue);
    white-space: break-spaces;
    text-overflow: clip;
}

opt .image,
opt i{
    margin: .3rem .75rem;
    outline: 1px solid #e3e3e3;
}
opt img,
opt i{
    height: auto;
    width: 30px;
}

opt i{
    outline: none;
    text-align: center;
}

opt.filtered{
    display: none;
}

.native-combobox{
    display:block !important;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden !important;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0
}