input::-webkit-input-placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100);}
input::-moz-placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100); }
input::placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100);}

input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus::-moz-placeholder { color:transparent !important; } 
input:focus::placeholder { color:transparent !important; } 


textarea::-webkit-input-placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100); }
textarea::-moz-placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100); }
textarea::placeholder { color:#aaa !important;opacity:1;filter:alpha(opacity=100); }

textarea:focus::-webkit-input-placeholder { color:transparent !important; }
textarea:focus::-moz-placeholder { color:transparent !important; } 
textarea:focus::placeholder { color:transparent !important; } 


select.browser-default.custom-select {
	display: inline-block !important;
}
.form-row{
	width:100%;
	margin:0 0 20px;
	position:relative;
	display:block;
}
.form-row:after {
  content: "";
  display: table;
  clear: both;
}
.form-row label {
	font-size: 16px;
	cursor: pointer;
	color: var(--ew-dark);
	margin:0 0 2px;
	line-height:1.2em;
}
.custom-tt-wrap{
	position:absolute;
	right:25px;
	top:42px;
	display: inline-block;
}

.custom-tt-wrap.password-format-wrap{
	position: static;
}
.iti{
	width:100%;
}
input.form-control:not(.select-dropdown),
select.form-control.browser-default{
	border-radius:3px!important;
	border:1px solid #b0bec5!important;
	height:52px!important;
	width:100%!important;
	background:none !important;
	-moz-box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	box-sizing: border-box!important;
	margin:0 !important;
	box-shadow:none !important;
	font-size: 18px!important;
	color: var(--ew-gray) !important;
	border-radius:0 !important;
}
div.form-control:not(.select-dropdown){
	border-radius:3px!;
	border:1px solid #b0bec5!important;
	height:52px!important;
	width:100%!important;
	background:none !important;
	-moz-box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	box-sizing: border-box!important;
	margin:0 !important;
	box-shadow:none !important;
	font-size:16px!important;
}
textarea{
	border-radius:3px!;
	border:1px solid #b0bec5!important;
	width:100%!important;
	background:none !important;
	-moz-box-sizing: border-box!important;
	-webkit-box-sizing: border-box!important;
	box-sizing: border-box!important;
	margin:0 !important;
	box-shadow:none !important;
	font-size:16px!important;
}

textarea.sr-only {
	border: 0 !important;
	margin: -1px !important;
	width: 1px !important;
}

#sign-up-btn,
#log-in-btn,
.btn{
	display:block;
	width:100%;
	height:52px;
	background-color:var(--ew-blue);
	color:#fff;
	text-align:center;
	padding:0;
	margin:0 0 5px;
	text-transform:uppercase;
	font-size:17px !important;
	box-shadow:none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius:0 !important;
}
.btn{
	font-size:14px;
	margin:0;
}
#sign-up-btn:hover,
#sign-up-btn:focus,
#log-in-btn:hover,
#log-in-btn:focus,
.btn:focus,
.btn:hover{
	background-color:var(--ew-green);
	box-shadow:none;
	color:#fff;
}
input:-webkit-autofill:not(#ew-dummy-selector){
    -webkit-text-fill-color: var(--ew-text-gray) !important;
	-webkit-box-shadow: 0 0 0 30px white inset !important;
	font-size: 20px !important;
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    height: 52px;
    line-height: 1em;
    width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    display: block;
    text-overflow: ellipsis;
	z-index: 2;
	border-radius:0 !important;
}
.form-control{
	padding:0 10px;
	color:var(--ew-dark);
}
.select-wrapper span.caret {
    color:var(--ew-green);
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 0.63rem;
}

ul.dropdown-content{
	overflow-x: hidden;
}

.dropdown-content li > a, 
.dropdown-content li > span {
    font-size: 15px;
    color: var(--ew-dark);
    display: block;
	padding: 0.5rem;
}

.dropdown-content li > a, 
.dropdown-content li > span,
.country-list > .country{
	overflow: hidden;
    text-overflow: ellipsis;
}

.colorful-select .dropdown-content li a:hover, 
.colorful-select .dropdown-content li span:hover,
.colorful-select .dropdown-content li a:focus, 
.colorful-select .dropdown-content li span:focus {
    box-shadow: none;
    color: var(--ew-blue) !important;
    transition: 0.15s;
    border-radius: 0;
}
.colorful-select .dropdown-content li.active span {
    box-shadow: none;
    color: var(--ew-blue) !important;
}
.dropdown-content li:hover, 
.dropdown-content li.active,
.dropdown-content li.selected {
    background: none !important;
}
.dropdown-content li.selected span{
	color: var(--ew-blue) !important;
}
.colorful-select .dropdown-content{
	top:3px !important;
	left:0 !important;
}


.custom-toggle-switch{
	width:39px;
	height:23px;
	background-color:none !important;
	border-radius:21px;
	position:relative;
	padding:0;
	border:1px solid var(--ew-light-gray);
}
.custom-toggle-switch .bullet-btn{
	width:15px;
	height:15px;
	border-radius:50%;
	position:absolute;
	top:3px;
	left:4px;
	background-color:var(--ew-light-gray);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display:inline-block;
	border:none !important;
}
.custom-toggle-switch.on .bullet-btn{
	background-color:var(--ew-blue);
	left:19px;
}

.custom-toggle-switch:focus{
	outline: var(--ew-blue) auto 1px !important
}

.custom-control-label {
    width: 100%;
	height: 100%;
}

.custom-control.custom-switch.custom-switch-xl{
    transform: scale(2);
	transform-origin: 0 0;
	width: 50%;
}

.custom-control-input:checked ~ .custom-control-label:before {
    border-color: var(--ew-blue);
	background-color: var(--ew-blue);
}
.custom-control.custom-switch.custom-switch-xl .custom-control-input:focus ~ .custom-control-label:before {
	box-shadow: 0 0 0 0.1rem rgb(0 123 255 / 25%)
}


.form-check.form-switch.form-switch-xl{
	transform: scale(2);
    transform-origin: left;
}

/*Error handlers*/
.validate + .error-msg, 
.g-recaptcha + .error-msg{
	position: absolute;
	top: 100%;
	left: 0;
}

.form-row i + * .validate + .error-msg{
	left: unset;
}

.validate.valid + .error-msg,
.g-recaptcha.valid + .error-msg{
	top: 0;
	left: unset;
	right: 0;
}



input[type="email"] + .error-msg{white-space:nowrap;}


.g-recaptcha-row{margin: 30px 0;} 

.validate.valid[type="tel"] + .error-msg{top: -22px;}

select.validate + .error-msg{
	top: calc( 100% + 5px );
}

.validate + .error-msg:after,
.g-recaptcha + .error-msg:after{
	content: "";
	display: block;
	opacity: 0;
	transition: 0.2s opacity ease-out, 0.2s color ease-out;
}
.validate.invalid + .error-msg:after,
.g-recaptcha.invalid + .error-msg:after{
	content: attr(data-error);
	color: var(--ew-red);
	opacity: 1;
}
.validate.valid + .error-msg:after{
    content: attr(data-success);
    color: var(--ew-green);
    opacity: 1;
	font-size: 22px;
}

.g-recaptcha.valid + .error-msg:after{
	content:'';
}
/*==============*/

.form-control:focus,
.form-check-input[type="radio"]:focus + .error-msg{
	outline: var(--ew-blue) auto 1px;
}

.form-check-input[type="radio"]:checked + .error-msg:after, 
.form-check-input[type="radio"].with-gap:checked + .error-msg:after, 
label.btn input[type="radio"]:checked + .error-msg:after, 
label.btn input[type="radio"].with-gap:checked + .error-msg:after{
	background-color:var(--ew-dark);
}

.form-check-input[type="radio"]:checked + .error-msg:after, 
.form-check-input[type="radio"].with-gap:checked + .error-msg:before, 
.form-check-input[type="radio"].with-gap:checked + .error-msg:after, 
label.btn input[type="radio"]:checked + .error-msg:after, 
label.btn input[type="radio"].with-gap:checked + .error-msg:before, 
label.btn input[type="radio"].with-gap:checked + .error-msg:after{
	border-color: var(--ew-dark);
}

/*datepicker*/

.picker .btn{
	height: auto;
	width: auto;
	display: inline-block;
}
.picker__day.picker__day--infocus.picker__day--highlighted {
	background-color: var(--ew-green);
	color: white;
}

.picker__box .picker__header .picker__date-display,
.picker__box .picker__table .picker__day--selected, .picker__box .picker__table .picker__day--selected:hover, .picker__box .picker__table .picker--focused{
	background-color:var(--ew-blue);
}

.picker__box .picker__table .picker__day.picker__day--today{
	color: var(--ew-blue);
}

.picker__box .picker__footer .picker__button--today:before{
	border-top-color: var(--ew-turkiz);
}
.picker__box .picker__footer .picker__button--clear:before{
	border-top-color: var(--ew-red);
}

.picker .btn:hover,.picker__box .picker__footer .picker__button--today:hover, .picker__box .picker__footer .picker__button--clear:hover, .picker__box .picker__footer .picker__button--close:hover,
.picker .btn:focus,.picker__box .picker__footer .picker__button--today:focus, .picker__box .picker__footer .picker__button--clear:focus, .picker__box .picker__footer .picker__button--close:focus{
	background-color:var(--ew-light-blue);
}

/*autocomplete*/
button.mdb-autocomplete-clear{
	top: 50%;
}
button.mdb-autocomplete-clear:focus{
	outline: 1px dotted !important;
	outline: 5px auto -webkit-focus-ring-color !important;
}


.btn.icon-btn:not(#ew-dummy){
    width: auto;
    height: auto !important;
    padding: 0 !important;
	background-color: transparent !important;
	display: inline-block;
}

/* Picker */
.picker__box .picker__table .picker__day--disabled, 
.picker__box .picker__table .picker__day.picker__day--today,
.picker__box .picker__table .picker__day.picker__day--today.picker__day--highlighted {
    color: var(--ew-blue) !important;
	border:3px solid var(--ew-blue);
	font-weight:600;
	background-color:#f5f5f5 !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.picker__box .picker__table .picker__day--infocus,
.picker__box .picker__table .picker__day--infocus.picker__day--selected.picker__day--highlighted {
	background-color: var(--ew-green) !important;
	color:white !important;
}
.picker__box .picker__table .picker__day--infocus,
.picker__box .picker__table .picker__day--infocus.picker__day--selected.picker__day--highlighted{
	position:relative !important;
}
.picker__box .picker__table .picker__day:before{
	content:"\f15c";
	font-family:"Font Awesome 5 Pro";
	position:absolute;
	font-size:11px;
	top: 3px;
    left: 3px;
    font-weight: 300;
}
.picker__box .picker__table .picker__day.picker__day--disabled:before{
	content:"";
}
.picker__box .picker__table .picker__day--selected{
	border-radius:0 !important;
	transform: scale(1) !important;
    box-shadow: none !important;
	position:relative;
	border-radius:0;
}
.picker__box .picker__table .picker__day--selected:before{
	content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    position: absolute;
    top: 2px;
    right: 3px;
    color: #fff;
    font-size: 12px;
}

.picker__day.picker__day--infocus.picker__day--disabled{
	color:#888 !important;
	background: #f5f5f5 !important;
	border:1px solid #fff;
	font-weight:400;
}
.picker__box .picker__table .picker__day--infocus.picker__day--highlighted{
	background-color: #ddd !important;
	color:#333 !important;
}
.picker__box .picker__table .picker__day--infocus.picker__day--selected.picker__day--highlighted {
	background-color: var(--ew-green) !important;
	color:white !important;
}