body{
	font-family: sans-serif;
}
@font-face {
    font-family: ProximaNova;
	font-style: normal;
    font-weight: 400;
    src: url("/font/proximaNova/ProximaNova-Regular.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
	font-style: normal;
    font-weight: 100;
    src: url("/font/proximaNova/ProximaNova-Thin.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
	font-style: normal;
    font-weight: 300;
    src: url("/font/proximaNova/ProximaNova-Light.otf") format("opentype");
}
@font-face {
    font-family: ProximaNova;
	font-style: normal;
    font-weight: 700;
    src: url("/font/proximaNova/ProximaNova-Semibold.otf") format("opentype");
}

a{
	color: var(--ew-blue);
	text-decoration: none;
}
img{
	-webkit-user-drag: none;
}
body{
	font-family: 'ProximaNova', sans-serif;
	background-color: white !important;
}

body *:not(strong):not(b){
	font-weight: 400;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.reset-overflow:not(#ew-dummy){
	overflow: unset !important;
}
.text-success {
    color: var(--ew-green) !important;
}

#toast-container{
	position: fixed !important;
	z-index: 9999999999;
	top: 0;
	right: 0;
}

.has-header #toast-container{
	top: 60px;
}
#no-two-factor-auth-alert + header ~ #toast-container{
	margin-top: var(--no-2fa-alert);
}

#toast-container .toast{
	position: relative;
}

#toast-container .toast-header{
	font-size: 1.2rem;
}
#toast-container .btn-close{
	font-size:.7rem;
	position: absolute;
    right: .2rem;
    top: .2rem;
	z-index: 9999;
}
#toast-container .toast-body{
	font-size: 1rem;
}
#toast-container *{
	color: white !important;
}

#toast-container .toast-success > *{
	background-color: var(--ew-green) !important;
}
#toast-container .toast-error > *{
	background-color: var(--ew-red) !important;
}
#toast-container .toast-warning > *{
	background-color: var(--ew-yellow) !important;
}
#toast-container .toast-debug > *{
	background-color: var(--ew-middle-blue) !important;
}
	
.btn-success,
.md-toast-success{
	background-color: var(--ew-green) !important;
}

.text-danger, .red-text {
    color:  var(--ew-red) !important;
}
.btn-danger,
.md-toast-error{
	background-color: var(--ew-red) !important;
}

.ew-gray-bg{
	background-color: var(--ew-gray) !important;
	color: black;
}

.ew-blue-text{
	color: var(--ew-blue)!important;
}

.ew-blue-bg{
	background-color: var(--ew-blue) !important;
	color: white;
}

.ew-light-blue-bg{
	background-color: var(--ew-light-blue) !important;
	color: white;
}

.ew-green-bg{
	background-color: var(--ew-green) !important;
	color: var(--ew-dark);
}

.ew-cyan-bg{
	background-color: var(--ew-cyan) !important;
}

.ew-yellow-bg{
	background-color: var(--ew-yellow) !important;
}

.ew-red-bg{
	background-color: var(--ew-red) !important;
	color: white;
}

.ew-dark-bg{
	background-color: var(--ew-dark) !important;
	color: white;
}

.ew-outline-blue {
    border: 2px solid var(--ew-blue );
    color: var(--ew-blue ) !important;
    background-color: transparent;
}


.ew-blue-bg.active{
	background-color: white;
	color: var(--ew-blue ) !important;
}

.ew-dark-text{
	color: var(--ew-dark);
}

.disabled{
	pointer-events: none!important;
}
#main-container{
	display:block;
	padding-left:20.05%;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.side-menu-minimized #main-container{
	padding-left:120px;
}
h1 {
    padding: 0;
    margin: 0 0 30px;
    text-align: left;
    line-height: 1.1em;
    font-size: 39px;
    color: var(--ew-dark);
}

/*spinner customizations*/
.preloader-wrapper{
	margin: 25% auto;
}
.btn .preloader-wrapper,
.select-wrapper.mdb-select .preloader-wrapper{
	margin: unset;
}
.preloader-wrapper.positioned{
	position: absolute;
}

.preloader-wrapper.tiny{
	width: 1rem;
	height: 1rem;
}

.preloader-wrapper.hugh{
	width: 6rem;
	height: 6rem;
}

.preloader-wrapper.positioned.hugh{
	position: absolute;
}

.preloader-wrapper.positioned.tiny{
	right: .5rem;
}

.preloader-wrapper.positioned.small{
	top: .5rem;
	right:.5rem;
}

.preloader-wrapper.positioned.big{
	top: .5rem;
	right:.5rem;
}

.preloader-outer-wrapper{
    position: fixed;
    height: 98vh;
	width: 79vw;
	text-align:center;
}

.preloader-outer-wrapper .preloader-wrapper:not(.positioned) + .preloader-text{
	position: relative;
    top: -40%;
}
.preloader-outer-wrapper .preloader-text:after{
	content : 'We\'re working for you..';
	font-size:16px;
}
.preloader-outer-wrapper.cancelled-wrap,
.select-wrapper.mdb-select .preloader-outer-wrapper{
    position: static;
    height: auto;
	width: auto;
	float: right;
}

.btn .preloader-outer-wrapper *{
	font-size: 0 !important;
}
/*end spinner customizations*/

.floating-custom-tt{
    position: absolute;
    right: 25px;
    top: 42px;
}
#page-content #inner-container{
	padding-top:60px;
}
#page-content{
	position:relative;
}
.fixedHeader-floating{
	position:fixed;
}
.row{
	margin:0!important;
	display:block;
}

#greeting-block #account-menu{
	display:block;
	text-align:center;
	margin:0 auto 25px;
}
#greeting-block #account-menu #account-btn{
	display:block;
	background:none;
	text-align:center;
	border:none;
	padding:0;
	margin:0;
	width:100%;
}
#greeting-block #user-pic-holder{
	display:block;
	text-align:center;
	color:#fff;
	font-size:28px;
	line-height:1em;
	margin-bottom:5px;
}

#greeting-block #user-pic-holder i{font-weight: 100;}
#greeting-block #user-pic-holder img{width:50px;}

#greeting-block #user-details-holder{
	display:block;
	text-align:center;
	color:#fff;
	font-size:14px;
}
#greeting-block #user-details-holder span:last-child{
	line-height:1.1em;
	display:block;
}
#greeting-block #user-details-holder i{
	color:var(--ew-green);
}
#account-menu ul{
	display:block;
	text-align:center;
	list-style:none;
	padding:0;
	margin:0;
}
#account-menu ul li{
	display:inline-block;
}
#account-menu ul li a{
	display:inline-block;
	padding:5px 10px;
	border-radius:3px;
	font-size:14px;
	color:#fff;
	border:1px solid #fff;
	line-height:1em;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-top:10px;
}
#account-menu ul li a:hover,
#account-menu ul li a:focus{
	color:#fff;
	background-color:var(--ew-red);
	border-color:var(--ew-red);
}

#intro-banner, #right-side-bar, #side-menu{z-index: 999;}


/**is-new-client**/

.is-new-client #account-menu{
	position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 120px;
    z-index: 99999;
}

.is-new-client #account-menu #greeting-block{
	color:white;
}

.is-new-client #account-menu ul li a {
    color: #fff;
    border: none;
    background-color: var(--ew-green);
}

.is-new-client #account-menu ul li a:hover, .is-new-client #account-menu ul li a:focus {
    background-color: var(--ew-blue) !important;
    color: #fff !important;
}

/**end is-new-client**/

pre.scrollbar{
	width: 100%;
    height: auto;
    margin-left: auto;
    float: none;
    overflow-y: auto;
}

#acc-code-template.expanded{
	white-space: pre;
}

.tooltip .tooltip-inner{
	max-width: 300px;
	text-align: left;
	white-space: pre-line;
}

main{
	width: 100%;
	-webkit-transition: max-width 0.5s ease;
	-moz-transition:  max-width 0.5s ease;
	-ms-transition: max-width 0.5s ease;
	-o-transition:  max-width 0.5s ease;
	transition: max-width 0.5s ease;
}
.has-header main{
	padding-top:60px;
}
#bottom-tiny-footer{
	display:none;
}
.modal-dialog.modal-side{
	position: fixed;
	margin : 0;
}

.modal-dialog.modal-side.modal-left{
	left: 0;
}

.modal-dialog.modal-side.modal-right{
	right: 0;
}

.modal-dialog.modal-side.modal-bottom-right{
	bottom: 0;
	right: 0;
}
.modal-dialog.modal-side.modal-bottom-left{
	bottom: 0;
	left: 0;
}
.modal-dialog.modal-side.modal-top-right{
	top: 0;
	right: 0;
}
.modal-dialog.modal-side.modal-top-left{
	top: 0;
	left: 0;
}

/* Cookies */

.modal-backdrop.show{
    opacity: 0;
}
.modal.modal-scrolling .modal-dialog {
    position: fixed !important;
    bottom: 0 !important;
    right: 0 !important;
    top: auto !important;
    max-width: 100% !important;
	margin:0 !important;
}
.modal#cookies-modal .modal-dialog{
	width: 100% !important;
	position: fixed !important;
	bottom: 20px !important;
	right: 30px !important;
	max-width: 400px !important;
	margin:0 !important;
}
#cookies-modal .modal-title{
	font-size:22px !important;
	color:var(--ew-dark) !important;
	line-height:1em !important;
	padding:0 !important;
	margin:0 0 5px !important;
	text-align: left;
}
#cookies-modal .modal-body p{
	font-size:15px !important;
	line-height:1.1em !important;
	color:var(--ew-dark) !important;
}
#cookies-modal .modal-body a{
	display:inline-block;
	padding:7px 10px;
	border-radius:15px;
	background-color:var(--ew-blue) !important;
	color:#fff!important;
	font-size:15px;
	clear:both;
	line-height:1em;
	margin-top:8px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#cookies-modal .modal-body a:hover{
	background-color:var(--ew-dark) !important;
}
#cookies-modal .modal-header .close{
	display:inline-block;
	background-color:var(--ew-dark);
	color:#fff;
	font-size:14px;
	padding:4px 8px;
	border-radius:10px;
	border:none;
	font-weight:400;
	line-height:1em;
	opacity:0.6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	position:absolute;
	top: 1.5rem;
    right: 1.5rem;
}
#cookies-modal .modal-header .close:hover{
	opacity:1;
}
.modal-content{
	background: rgba(255,255,255,0.9) !important;
	padding:20px !important;
}
.modal-header{
	padding:0 !important;
	border:none !important;
}
#cookies-modal .modal-body{
	padding:0 !important;
}
#cookies-modal .modal-body p{
	margin-bottom:0 !important;
}

.redAleart {
    color: var(--ew-red);
}

#bottom-section{
	z-index:99999999;
	position: relative;
    display: inline-block;
}
.is-logged-in #bottom-section{
	z-index:999999999999;
}

button#back-to-top{
	position: fixed;
	z-index: 1020;
	right: 1.7rem;
	bottom: 5.3rem;
	width: auto;
	height: auto;
	padding: 10px;
	-webkit-transition: unset;
	transition: unset;
	background:var(--ew-dark);
	width:40px;
	height:40px;
	border-radius:50% !important;
	opacity:0.5;
	font-size:25px;
	opacity: 0.3;
    font-size: 25px !important;
	padding-top: 3px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
button#back-to-top icon:before{
	content:"\f341";
	font-family:"Font Awesome 5 Pro";
}
button#back-to-top:hover,
button#back-to-top:focus{
	opacity:1;
}

.select-dropdown li i[role="img"]{
	margin: 10px 20px;
    float: right;
}


/* Modal */

.modal-header{
	display:block;
	text-align:center;
	padding:50px 0 0;
	border:none;
}
.modal-header .close:hover,
.modal-header .close:focus{
	color:var(--ew-blue);
}
.modal-body p{
	display:block;
	text-align:center;
	margin-bottom:27px;
    font-size: 18px;
    color: var(--ew-dark);
    padding: 0;
    line-height: 1.4em;
}

.modal-body p .h5 strong{font-size:17px;}

.modal-body pre{
	white-space:nowrap;
	margin-bottom:0px;
	background-color:var(--ew-very-light-gray);
	border:1px solid #b0bec5;
	border-radius:3px;
	padding:20px;
	color:var(--ew-dark);
	font-size:12px;
	text-align:left;
}
.modal-body #toggle-code-btn{
	float:right;
	color:#fff;
	border:none;
	background-color:var(--ew-gray);
	border-radius:0 0 3px 3px;
	font-size:15px;
	font-weight:300;
	padding:3px 10px 6px;
	line-height:1em;
}
.modal-body #toggle-code-btn:before{
	content:"\f107";
	font-family:"Font Awesome 5 Pro";
	font-size: 20px;
    position: relative;
    top: 3px;
}
.modal-body #toggle-code-btn.expanded:before{
	content:"\f106";
}
.modal-body #toggle-code-btn:hover{
	background-color:var(--ew-blue);
}
.modal-body form{
	margin-bottom:50px;
	clear:both;
	margin-top:45px;
}
.modal-body form:after {
  content: "";
  display: table;
  clear: both;
}
.modal-body form #download-code-btn{
	padding:0;
	border:none;
	background:none;
	color:var(--ew-blue);
	font-size:14px;
	vertical-align:top;
	margin-top:8px;
}
.modal-body form #download-code-btn:hover,
#download-code-btn:focus{
	color:var(--ew-dark);
}
.modal-body form .form-control-wrap{
	float:right;
}
.modal-body form .form-control-wrap label{
	color:var(--ew-blue);
	font-size:14px;
	vertical-align:top;
	margin-top:8px;
}

.modal-body form .form-control-wrap input.validate + label{
	bottom: 100%;
    top: unset;
}

.modal-body form .form-control-wrap .form-control{
	display:inline-block!important;
	margin:0 5px!important;
	height:33px!important;
	width:175px!important;
	font-size:14px!important;
	color:var(--ew-light-gray)!important;
}
.modal-body form .form-control-wrap .btn{
	height:33px!important;
	width:70px !important;
	font-size:14px!important;
	display:inline-block!important;
}
.modal-footer{
	padding: 20px 0 0;
    margin: 0 auto;
    display: block;
}
#toggle-site-license-modal .modal-footer .btn:hover,
#toggle-site-license-modal .modal-footer .btn:focus{
	background-color:var(--ew-green)!important;
}

.modal-content .modal-title{
    text-align:center;
    font-size:22px;
    color: var(--ew-dark);
    margin-bottom:5px;
}
.modal-content .modal-body{
    text-align:center;
    font-size:16px;
    color: var(--ew-dark);
    margin:0;
    padding:0;
    line-height:1.4em;
}
.modal-content .modal-footer{
    padding-bottom:0;
}
.close{
	background-color: transparent;
    border: 0;
    font-size: 32px;
    margin: 0;
    padding: 0 10px;
    line-height: 1em;
    position: absolute;
    top: 3px;
    right: 1px;
	cursor:pointer;
	z-index: 999;
}
.modal-backdrop.show{
    opacity:0.5;
}
.modal-footer .btn{
    width:auto;
    height:auto;
    padding:9px 10px;
}

.modal-dialog.modal-fullscreen {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
.modal-dialog.modal-fullscreen .modal-content{
	height: 100%;
	border: 0;
	border-radius: 0;
}


/* drop down menu */
.dropdown-menu{
	background-color:#f7f7f7;
	border:none;
	border-radius:0;
	padding:15px 5px 15px 15px !important;
	min-width: 11rem !important;
}
.dropdown-menu a{
	color:var(--ew-dark) !important;
	font-size:14px !important;
	display:block !important;
	line-height:1em !important;
	margin-bottom:15px !important;
}
.dropdown-menu a:last-child{
	margin-bottom:0 !important;
}
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a.current-page{
	color:var(--ew-blue) !important;
}
.dropdown-menu a icon:before{
	font-family:"Font Awesome 5 Pro";
	display:inline-block;
	width:19px;
	font-weight:700;
	color:var(--ew-semi-light-gray) !important;
}
.dropdown-menu a:hover icon:before,
.dropdown-menu a:focus icon:before,
.dropdown-menu a.current-page icon:before{
	color:var(--ew-blue) !important;
}
.dropdown-menu a[data-target="report"] icon:before{
	content:"\f570";
}
.dropdown-menu a[data-target="monitorPlans"] icon:before{
	content:"\f291";
}
.dropdown-menu a[data-target="settings"] icon:before{
	content:"\f013";
}

.dropdown-menu #copy-report-link icon:before{
	content:"\f0c5";
}
.dropdown-menu #share-report-link icon:before{
	content:"\f0c1";
}
.dropdown-menu #share-by-whatsapp icon:before{
	content:"\f232";
	font-family:"Font Awesome 5 Brands";
}
.dropdown-menu #share-by-email icon:before{
	content:"\f0e0";
}
.dropdown-menu #download-as-pdf icon:before{
	content:"\f1c1";
}
.dropdown-menu a[data-target="siteMap"] icon:before{
	content:"\f865";
}
.dropdown-menu #reset-report-btn icon:before{
	content:"\f15c";
}


.dropdown-menu a[data-target="profile"] icon:before{
	content:"\f007";
}
.dropdown-menu a[data-target="pMethods"] icon:before{
	content:"\f09d";
}
.dropdown-menu a[data-target="transactions"] icon:before{
	content:"\f570";
}
.dropdown-menu a[data-target="invoices"] icon:before{
	content:"\f53c";
}
.dropdown-menu a[data-target="creditPlans"] icon:before{
	content:"\f51e";
}
.dropdown-menu a[data-target="API"] icon:before{
	content:"\f1e1";
}
.dropdown-menu #log-out icon:before{
	content:"\f08b";
}

.dropdown-menu a.delete-schedule-btn icon:before{
	content:"\f1f8";
}


body[data-page="invoices"] #invoices-tbl_filter{
	float:none;
}
#invoices-tbl .payment-method{
	width:200px !important;
}

#show-demo-video-btn{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	color:#fff;
	background-color:var(--ew-blue) !important;
	border:none;
	padding:5px 10px;
	line-height:1em;
	border-radius:0 0 3px 3px;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	cursor:pointer;
}
#show-demo-video-btn:hover,
#show-demo-video-btn:focus{
	background-color:var(--ew-green) !important;
}
#show-demo-video-btn icon:before{
	font-family:"Font Awesome 5 Pro";
	content:"\f144";
	font-size:16px;
}

#video-guides-modal .modal-body iframe{
	width:100%;
	height:65vh;
}