header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color:#f7f7f7;
    height:var(--header-height);
    border-bottom:1px solid #d4d2d3;
}

#header-top-link{
    position:absolute;
    left:69px; 
    top:9px;
}
#header-top-link #ew-top-icon{
    display: none;
}
#ew-header-logo-white{
    display:none;
}
header .toggle-menu-width{
    position:absolute;
    left:17%; 
    top:13px;
    color: var(--ew-semi-light-gray);
    font-size:20px;
    border:none;
    background:none;
}
header .toggle-menu-width:hover,
header .toggle-menu-width:focus{
    color: var(--ew-blue);
}
header .toggle-menu-width icon:before{
    content:"\f34b";
    font-family:"Font Awesome 5 Pro";
}
header .toggle-menu-width[aria-expanded="false"] icon:before{
    content:"\f0c9";
}
#top-menu{
    position:absolute;
    right:40px;
    top:3px;
}
#top-greeting{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin-top: 15px;
}

/* #payment-curreny-wrapper .select-wrapper li{
    position: relative;
} */
/* #payment-curreny-wrapper .select-wrapper li span:after{
    font-family: 'Font Awesome 5 Pro';
    font-weight: 400;
    float: right;
    margin-top: 5px;
    margin-right: 12px;
    position: absolute;
    right: 0;
    top: 0;
} */
/* 
#payment-curreny-wrapper .select-wrapper li:hover:after{
    color: var(--ew-blue);
} */

#payment-curreny-wrapper{
    width: 70px;
    display:inline-block;
    margin-right:10px;
    vertical-align:super;
    position:relative;
}

#payment-curreny-wrapper #selected-curreny-symbol{
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    left: 35px;
    top: -1px;
    color: var(--ew-blue) !important;
    font-size:15px;
}

#payment-curreny-wrapper combobox-wrapper{
    width: auto;
}

#payment-curreny-wrapper combobox input{
    background-color: transparent;
    border: none;
    color:var(--ew-blue);
}
#payment-curreny-wrapper #payment-curreny-combobox-list{
    left: auto;
    right: 0;
}
#payment-curreny-wrapper #payment-curreny-combobox-list opt .opt-text{
    width: 100%;
}
#payment-curreny-wrapper #payment-curreny-combobox-list opt[aria-selected="true"]{
    background:transparent;
}

#payment-curreny-wrapper #payment-curreny-combobox-list opt[aria-selected="true"] .opt-text, 
#payment-curreny-wrapper #payment-curreny-combobox-list opt[aria-selected="true"].active .opt-text{
    color: var(--ew-blue);
}

#payment-curreny-wrapper #payment-curreny-combobox-list opt span:after{
    font-family: 'Font Awesome 5 Pro';
    float: right;
}

#payment-curreny-wrapper [data-value="USD"] span:after{
    content: '\f155';
} 
#payment-curreny-wrapper [data-value="EUR"] span:after{
    content: '\f153';
} 
#payment-curreny-wrapper [data-value="GBP"] span:after{
    content: '\f154';
} 
#payment-curreny-wrapper [data-value="ILS"] span:after{
    content: '\f20b';
} 

#payment-curreny-wrapper combobox > combo-caret{
    color: var(--ew-light-gray);   
    font-weight: 400;
}

/* #payment-curreny-wrapper .dropdown-content{
    min-width: 120px;
    left:auto !important;
    right:0 !important;
}
#payment-curreny-wrapper .dropdown-content li > span{
    padding:5px;
}
#payment-curreny-wrapper .select-dropdown li img {
    height: auto;
    margin:7px 0 0;
}
#payment-curreny-wrapper .select-wrapper input.select-dropdown{
    padding:0 !important;
    color:var(--ew-blue) !important;
    height:auto;
} */



/* #payment-curreny-wrapper .select-wrapper span.caret{
    right: 0;
    font-size: 14px;
    font-weight: 400;
    color: #212529;
    top:2px;
} */

/*
#top-menu-more-actions > li{
    display:inline-block;
    margin-left:15px;
}

#top-menu-more-actions > li icon:before{
    font-family:"Font Awesome 5 Pro";
    color: var(--ew-semi-light-gray);
    font-size:18px;
    font-weight:700;
}
#top-menu-more-actions li > icon:hover:before,
#top-menu-more-actions li > icon:after:before{
    color: var(--ew-blue);
}
#top-menu-more-actions li:first-child > icon:before{
    content:"\f00a";
}
#top-menu-more-actions li:nth-child(2) > icon:before{
    content:"\f142";
}
#top-menu-more-actions li:nth-child(3) > icon:before{
    content:"\f0f3";
}
*/
#top-menu-dropdown-wrapper{
    display:inline-block;
    margin-left:11px;
}
#top-menu-dropdown-wrapper #top-menu-trigger{
    color: var(--ew-semi-light-gray);
    background:none;
}
#top-menu-dropdown-wrapper #top-menu-trigger icon:before{
    content:"\f2bd";
    font-family:"Font Awesome 5 Pro";
    font-size:35px;
    font-weight:300;
}
#top-menu-dropdown-wrapper #top-menu-trigger:hover,
#top-menu-dropdown-wrapper #top-menu-trigger:focus{
    color: var(--ew-blue);
}
#top-menu-dropdown-wrapper .dropdown-toggle:after{
    content:"";
    display:none;
}
#top-menu-dropdown-wrapper #top-menu-trigger img{
    display:block;
    border-radius:50%;
    width:41px;
    height:41px;
}
header #show-menu{
    display:none;
}