#intro-banner{
	display:block;
	height:100%;
	overflow:hidden;
	position:fixed;
	width:28%;
	text-align:center;
	float:left;
	background-color:#0b75d7;
}

#intro-banner .logo{
	display:inline-block;
	margin-top:30px;
	position:relative;
	z-index:3;
}
#intro-banner .logo img{
	display:block;
}
#intro-banner .banner-content{
	width:100%;
	right:0;
	position:absolute;
	bottom: 85px;
}
#intro-banner .banner-content img{
	display:block;
	margin:0 auto 28px;
	width:auto;
	max-width:100%;
}
#intro-banner p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2em;
    width:82%;
	margin:0 auto;
    text-align: center;
}
#intro-banner p img{
	display:block;
	margin:0 auto;
	width:auto;
	max-width:100%;
}
#intro-banner p strong {
    font-size: 33px;
    padding-top: 5px;
    display: block;
}
#intro-banner .tiny-footer {
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    right: 0;
    bottom: 23px;
    font-size: 15px !important;
    color: #fff;
	z-index:4;
}

#intro-banner .tiny-footer #INDmenu-btn:hover{
    background-color: #fff !important;
    color: var(--ew-blue) !important;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
	border:1px solid #cfd8dc;
}

#intro-banner .tiny-footer div{margin-bottom:10px;}

#intro-banner .tiny-footer a {
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 1440px){
#intro-banner p strong {
    font-size: 30px;
}
}/* close max-width 1440px */

@media screen and (max-width: 1255px){
#intro-banner p strong {
    font-size: 28px;
}
}/* close max-width 1255px */
