#no-two-factor-auth-alert{
    position: fixed;
    top: 0;
    z-index: 99999999;
    width: 100%;
    padding: 3px;
    font-size: 15px;
    text-align: center;
    background-color:var(--ew-red);
    color: white;
}

#no-two-factor-auth-alert #go-to-2fa-btn{
    width: auto;
    background: white;
    color: var(--ew-red);
    border: 2px solid white;
    transition: transform 0.2s ease-in;
    margin-left: 1rem;
    display: inline-flex;
    vertical-align: middle;
}

#no-two-factor-auth-alert #go-to-2fa-btn:hover,
#no-two-factor-auth-alert #go-to-2fa-btn:focus{
    transform: scale( 1.02 );
    background: var(--ew-very-light-gray);
    border-color: var(--ew-very-light-gray);
    color: black;
}

#no-two-factor-auth-alert + header,
#no-two-factor-auth-alert + header + #main-container,
#no-two-factor-auth-alert + header + #main-container #side-menu #site-links > ul{
    margin-top: var(--no-2fa-alert);
}

#no-two-factor-auth-alert[hidden] + header,
#no-two-factor-auth-alert[hidden] + header + #main-container,
#no-two-factor-auth-alert[hidden] + header + #main-container #side-menu #site-links > ul{
    margin-top: 0;
}

#close-2fa-alert-btn{
    font-size: 1.5rem;
    right: 3px;
}