@media screen and (max-width: 1680px) {
	#top-stats .stat-block{
		padding-left:20px !important;
	}
	#right-side-bar .detRow a br {
		display: block !important;
	}
	#right-side-bar h2:after{
		right: 41px;
	}
	body[data-page="registration"] #intro-banner,
	body[data-page="login"] #intro-banner,
	body[data-page="passwordRecovery"] #intro-banner,
	body[data-page="activation"] #intro-banner,
	body[data-page="siteProcess"] #intro-banner,
	body.is-new-client[data-page="plans"] #intro-banner,
	body.is-new-client[data-page="purchase"] #intro-banner{
		background-size:100%;
		background-repeat:no-repeat;
		background-color:#0b76d8;
	}
	.widget-appearance:before{
		left:21px !important;
	}
	body.is-new-client[data-page="plans"] #intro-banner{
		background-position:top;
	}
	body.is-new-client[data-page="plans"] #intro-banner p br{
		display:none;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 315px !important;
	}
	body[data-page="siteProcess"] #scroll-to-bottom{
		right:27%
	}
	/*#plans-container .plan .plan-name-price .plan-name{
		display:block !important;
	}
	#plans-container .plan .plan-name-price .plan-prices {
		float: none !important;
		text-align: left !important;
		display: inline-block !important;
	}
	#plans-container .plan .discount-percents{
		text-align:left !important;
	}*/
	#plans-container .plan .plan-max-pages{
		white-space:normal !important;
	}
	#plans-container .plan .plan-max-pages br{
		display:none;
	}
	#plans-container .plan .plan-name-price {
		min-height: 110px !important;
	}
	#plans-container .annually-method{
		display:inline-block !important;
		position: relative;
    	top: -5px;
    	line-height: 1.2em;
	}
	#plans-container .plan-method-toggle .save-percents{
		display:block !important;
	}
	#plans-container .monthly-method{
		vertical-align:top;
	}
	#plans-container .switch.plan-method-toggle label .lever{
		vertical-align:top !important;
	}
	#plans-container .plan-method-toggle{
		min-height:70px !important;
		margin-bottom:0 !important;
	}
	#menu-preview-wrap .appearance-text:before{
		right:49px;
		top:15px;
	}
}/* close max-width 1680px */



@media screen and (max-width: 1600px) {
	#right-side-bar h2:after{
		right: 33px;
	}
	body[data-page="agentSiteList"] .dataTable .site-payment, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.site-payment {
		width: 17% !important;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 289px !important;
	}
	#cdk-steps{
		width:85% !important;
	}
	body[data-page="siteProcess"] #scroll-to-bottom{
		right:26%
	}
	body[data-page="images"] #images-tbl_filter{
		float:none;
	}
}/* close max-width 1600px */


@media screen and (max-width: 1536px) {
	#right-side-bar h2:after{
		right: 20px;
	}
	body[data-page="siteProcess"] #intro-banner p br{
		display:none;
	}
	.dataTable .lang-cell, #site-list-tbl_wrapper table th.lang-cell{
		display:none;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 264px !important;
	}
	#cdk-steps{
		width:95% !important;
	}
	body[data-page="plans"] #plans-container .plan .plan-max-pages{
		white-space: normal !important;
		line-height:1.2em !important;
		min-height: 65px !important;
	}
	#right-side-bar .step-box{
		display:none;
	}
	body[data-page="wcagMonitor"] #right-side-bar .step-box-1, 
	body[data-page="siteMap"] #right-side-bar .step-box-2, 
	body[data-page="scan"] #right-side-bar .step-box-3{
		display:block;
	}
	#menu-preview-wrap .appearance-text:before {
		right: 36px;
	}
}/* close max-width 1536px */


@media screen and (max-width: 1440px) {
	#side-menu #site-links ul li a i {
		margin-right: 5px;
	}
	#right-side-bar h2:after{
		right: 4px;
	}
	body[data-page="siteProcess"].is-new-client #intro-banner,
	body.is-new-client[data-page="plans"] #intro-banner{
		background-size: 113%;
		background-position: -17px -1px;
	}
	.widget-appearance:before {
		left: 16px !important;
		background-size: 100%;
		width: 30px;
		top: -5px;
	}
	.widget-appearance{
		padding-top:24px;
	}
	demo-browser demo-browser-body{
		height:150px;
	}
	demo-browser #icon-preview svg {
		width: 15px;
		height: 15px;
	}
	.dataTable .activations-cell, 
	#site-list-tbl_wrapper table th.activations-cell{
		display:none;
	}
	body[data-page="agentSiteList"] .dataTable .activations-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.activations-cell{
		display:table-cell;
	}
	
	body[data-page="agentSiteList"] .dataTable .inst-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.inst-cell, 
	body[data-page="agentSiteList"] .dataTable .activated-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.activated-cell, 
	body[data-page="agentSiteList"] .dataTable .activations-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.activations-cell, 
	body[data-page="agentSiteList"] .dataTable .end-license-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.end-license-cell, 
	body[data-page="agentSiteList"] .dataTable .upgrade-cell, 
	body[data-page="agentSiteList"] #site-list-tbl_wrapper table th.upgrade-cell {
		width: 12% !important;
	}
	body[data-page="contactList"] .dataTable .reg-date-cell, 
	body[data-page="contactList"] #site-list-tbl_wrapper table th.reg-date-cell,
	body[data-page="contactList"] .dataTable .company-cell, 
	body[data-page="contactList"] #site-list-tbl_wrapper table th.company-cell{
		width:140px !important;
	}
	.isCDK #intro-banner .cdk-contents-wrap {
		display: block !important;
		width: 85% !important;
		margin-top: 72px !important;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 223px !important;
	}
	body[data-page="siteProcess"] #scroll-to-bottom{
		right:25%
	}
	#plans-container .switch.plan-method-toggle label .lever {
		margin-right: 5px !important;
		margin-left: 2px !important;
	}
	#plans-container .plan .plan-coverage{
		min-height:285px !important;
	}
	#inner-container #free-plan #coupons-form input {
		width: 70% !important;
	}
	#free-plan #coupons-form #activate-coupon-btn {
		width: 28% !important;
	}
	body[data-page="myScans"] #overview-tbl .last-scan-cell{
		display:none;
	}
	demo-menu-header > i{
		top:9px;
	}
	#help-list{
		width:100% !important;
	}
	#help-list li{
		margin-bottom:50px !important;
	}
}/* close max-width 1440px */

@media screen and (max-width: 1367px) {
	#side-menu #site-links ul li a{
		padding-left:17px;
	}
	#side-menu{
		padding-top:15px;
	}
	#side-menu #equalweb-side-logo{
		margin-bottom:10px;
	}
	#side-menu .tiny-footer{
		bottom:13px;
	}
	.toggle-menu-width-wrap{
		margin-top:11px;
	}
	#side-menu #site-links ul li a{
		height: 44px;
		padding-top: 14px;
	}
	.side-menu-minimized #side-menu #site-links ul li a {
		padding-left: 32px;
	}
	testimonial{
		padding:15px 15px 35px !important;
	}
	#right-side-bar h2:after{
		right: -12px;
	}
	body[data-page="registration"] #main-container h1{
		font-size:40px;
	}
	body[data-page="registration"] #page-content #inner-container p span,
	body[data-page="registration"] #page-content #inner-container p strong,
	body[data-page="registration"] #contact-details div{
		font-size:24px;
	}
	.widget-appearance:before {
		left: 12px !important;
	}
	#create-new-site-form,
	.md-progress{
		max-width:599px !important;
	}
	#background-color-wrap fieldset label{
		margin:0 1px !important; 
	}
	#step-2 #icon-type-row label {
		margin-right: 12px !important;
		margin-bottom: 12px !important;
	}
	.isCDK #intro-banner p {
		font-size: 17px !important;
	}
	#intro-banner #cdk-contents-footer img{
		width:100px !important;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 196px !important;
	}
	.modal#cookies-modal .modal-content {
		padding: 16px 10px 12px !important;
	}
	.modal#cookies-modal .modal-dialog .modal-header{
		display:block;
	}
	#cookies-modal .modal-header #cookies-agreement{
		position:absolute !important;
		top: -10px !important;
		right: 5px !important;
	}
	#header-top-link {
		left:40px;
	}
	#side-menu #site-links > ul > li > a icon:before{
		margin-right:8px;
	}
	#menu-preview-wrap .appearance-text:before {
		right: 16px;
	}
	#side-menu .tiny-footer{
		font-size:13px !important;
	}
}/* close max-width 1367px */



@media screen and (max-width: 1280px) {
	#side-menu {
		width:18%;
	}
	#right-side-bar h2:after{
		background:none;
	}
	#right-side-bar .detRow a br {
		display: none !important;
	}
	body[data-page="login"].side-menu-minimized #main-container,
	body[data-page="passwordRecovery"].side-menu-minimized #main-container{
		padding:0 !important;
	}
	body[data-page="login"].side-menu-minimized .tiny-footer > div,
	body[data-page="registration"].side-menu-minimized .tiny-footer > div,
	body[data-page="passwordRecovery"].side-menu-minimized .tiny-footer > div,
	body[data-page="activation"].side-menu-minimized .tiny-footer > div,
	body[data-page="plans"].side-menu-minimized .tiny-footer > div,
	body[data-page="purchase"].side-menu-minimized .tiny-footer > div{
		display:block !important;
		display:inline-block !important;
	}
	body[data-page="registration"].side-menu-minimized #main-container{
		padding:0 !important;
	}
	body[data-page="siteProcess"].is-new-client #intro-banner,
	body.is-new-client[data-page="plans"] #intro-banner{
		background-size: 130%;
		background-position: -68px -1px;
	}
	.priceBoxWrap .priceBox .btnDiv a{
		padding:15px 18px !important;
	}
	.priceBoxWrap .priceBox .detailsDiv{
		min-height:145px !important;
	}
	.priceBoxWrap .priceBox .successDiv{
		min-height:168px !important;
	}
	#contacts-tbl {
		min-width: 1300px !important;
	}
	.modal#cookies-modal .modal-dialog {
		max-width: 163px !important;
	}
	#cdk-steps ul li .cdk-step-text {
		font-size:15px !important;
	}
	body[data-page="siteProcess"] #scroll-to-bottom{
		right:24.5%
	}
	#plans-container .plan .plan-coverage {
		min-height: 340px !important;
	}
	#side-menu #site-links ul li a {
		height: 39px;
		padding-top: 11px;
	}
	header .toggle-menu-width {
		left:19%;
	}
	body[data-page="transactions"] .dataTables_wrapper .custom-filter-wrap:not(:first-child) {
		margin-left: 0;
	}
	body[data-page="transactions"] .dataTables_wrapper .custom-filter-wrap{
		display:block;
		margin-bottom:10px;
	}
	body[data-page="transactions"] #transactions-tbl_filter{
		float:none;
	}
	body[data-page="transactions"] .transact-date{
		padding-right:0 !important;
	}
	#invoices-tbl .transact-date{
		padding-right:0 !important;
	}
	#images-tbl .inline-form > button.save-alt-btn:not(#dummy-button) {
		width: 19%!important;
	}
	demo-menu-body .a11y-menu-function-btn{
		font-size:14px;
	}
}/* close max-width 1280px*/

@media screen and (max-width: 1080px) {
	#side-menu,
	.side-menu-minimized #side-menu{
		width:100%;
		display:block;
		float:none;
		height:60px;
		position:fixed;
		top:0;
		padding:0;
		background:none;
	}
	#side-menu:before{
		content:"";
		z-index:190;
		width:100%;
		height:60px;
		position:absolute;
		top:0;
		left:0;
		background-color:var(--ew-blue);
		display:block;
	}
	#main-container{
		padding:0 !important;
	}
	.toggle-menu-width-wrap:not(#ew-dummy){
		display:none;
	}
	#side-menu #equalweb-side-logo{
		position:absolute;
		left:20px;
		top:20px;
		z-index:199;
	}
	#side-menu .tiny-footer{
		display:none;
	}
	#side-menu #equalweb-side-logo img#ew-top-logo{
		display:block !important;
	}
	#side-menu #equalweb-side-logo img#ew-top-icon{
		display:none !important;
	}
	#account-menu {
		margin-bottom: 0px;
		display: inline-block;
		position: absolute;
		right:20px;
		top: 35px;
		z-index:199;
	}
	#greeting-block{
		display:inline-block;
	}
	#greeting-block #user-pic-holder{
		font-size: 24px;
		vertical-align: top;
		display:inline-block;
		vertical-align:top;
	}
	#greeting-block #user-details-holder{
		font-size: 15px;
		vertical-align: top;
		padding-top: 10px;
		display:inline-block;
	}
	#account-menu ul{
		display:inline-block;
		vertical-align:top;
	}
	#account-menu ul li a {
		margin-top:5px;
		border:none;
		font-size:17px;
	}
	#side-menu #show-menu{
		display:block;
		background:none;
		color:#fff;
		width:35px;
		height:35px;
		border-radius:3px;
		position: absolute;
		left: 20px;
		top: 96px;
		z-index:99;
		background-color:var(--ew-red);
		border:none;
		cursor:pointer;
		padding:0;
	}
	#side-menu #show-menu #menu-hamburger {
		width: 25px;
		height: 29px;
		display: block;
		margin: 9px auto 0;
		position: relative;
	}
	#side-menu #show-menu #menu-hamburger .hamburger-slice{
		display:block;
		background-color:#fff;
		height:3px;
		border-radius:3px;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		
	}
	#side-menu #show-menu #menu-hamburger .hamburger-slice:nth-child(2n){top:7px;}
	#side-menu #show-menu #menu-hamburger .hamburger-slice:nth-child(3n){top:14px;}
	#side-menu #show-menu:focus{
		background-color:var(--ew-blue);
	}
	#site-links{
		display:none;
	}
	main{
		padding:160px 20px 50px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	#bottom-tiny-footer{
		display:block;
		width:100%;
		position:fixed;
		bottom:0;
		left:0;
		text-align:left;
		padding:10px 20px;
		background-color:#fff;
		border-top: 1px solid var(--ew-very-light-gray) !important;
	}
	.side-menu-minimized .tiny-footer > div{
		display:inline-block;
		text-align:left;
		font-size:14px;
		color:var(--ew-blue);
		margin-left:10px;
		margin-top:5px;
	}
	.side-menu-minimized .tiny-footer > div a{
		color:var(--ew-blue);
	}
	.side-menu-minimized .tiny-footer > div a:hover{
		text-decoration:underline;
	}
	.INDpositionLeft .INDmenu-btn,
	.INDmenu-btn{
		float:left !important;
		padding:5px 5px 0 !important;
		background-color: var(--ew-blue) !important;
		color: #fff !important;
	}
	#site-links{
		position:fixed;
		top:60px;
		background-color:#fff;
		left:-100%;
		width:227px;
		bottom:0;
		z-index:9999;
	}
	.side-menu-minimized #side-menu #site-links ul li a span{
		display:inline-block;
	}
	#side-menu{
		padding-top:60px !important;
	}
	#side-menu:after{
		content:"";
		width:100%;
		height:100%;
		position:fixed;
		background:rgba(0,0,0,0);
		display:block;
		visibility:hidden;
		-webkit-transition: all 0.7s ease-in-out;
		-moz-transition: all 0.7s ease-in-out;
		-ms-transition: all 0.7s ease-in-out;
		-o-transition: all 0.7s ease-in-out;
		transition: all 0.7s ease-in-out;
	}
	.side-menu-open #side-menu:after{
		background:rgba(0,0,0,0.5);
		visibility:visible;
	}
	#side-menu #site-links ul li a,
	.side-menu-minimized #side-menu #site-links ul li a{
		padding-left:20px;
		color:var(--ew-blue);
	}
	#side-menu #site-links ul li a:hover,
	#side-menu #site-links ul li a:focus, 
	#side-menu #site-links ul li a.current-page {
		background-color: var(--ew-red)!important;
		color: #fff!important;
	}
	#side-menu #site-links ul li a:focus:before, 
	#side-menu #site-links ul li a.current-page:before{
		background-color:#fff;
	}
	#side-menu #site-links ul li a span{
		padding-top:2px;
	}
	#hide-menu{
		position: absolute;
		top: 0;
		right: -26px;
		color: #000;
		border-radius: 0;
		border: none;
		background: none;
		font-weight: bold;
		cursor: pointer;
		font-size: 22px;
		background-color: #ddd;
		line-height: 1em;
		width: 26px;
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#aaaaaa+2,dddddd+11,dddddd+100 */
background: #aaaaaa; /* Old browsers */
background: -moz-linear-gradient(left,  #aaaaaa 2%, #dddddd 11%, #dddddd 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #aaaaaa 2%,#dddddd 11%,#dddddd 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #aaaaaa 2%,#dddddd 11%,#dddddd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#dddddd',GradientType=1 ); /* IE6-9 */
		display:block !important;
	}
	#hide-menu:focus{
		text-shadow:1px 1px 5px rgba(255,255,255,1);
	}
	body[data-page="dashboard"] #page-content #inner-container{
		padding-top:0;
	}
	#bottom-stats{
		margin-bottom:0 !important;
	}
	#bottom-stats .stat-block:last-child{
		margin-bottom:0!important;
	}
	#site-links #doc-item{
		display:none!important;
	}
	body[data-page="support"] #right-side-bar{
		display:none;
	}
	body[data-page="support"] #page-content #inner-container{
		padding-top:0;
		display:block;
		width:100%;
	}
	body[data-page="support"] #heading-container{
		width:100%;
	}
	#right-side-bar{
		width:100%;
		position:static;
		height:auto;
	}
	body[data-page="faq"] #page-content #inner-container{
		float:none;
		width:100%;
		padding:0;
	}
	#right-side-bar .innerWrap{
		width:100%;
		margin:0;
		padding:20px;
	}
	body[data-page="faq"] main{
		padding:90px 0px 25px;
	}
	body[data-page="faq"] #page-content #inner-container{
		padding:0 20px !important;
	}
	#faq-accordion .card .card-header a,
	#faq-accordion .card .card-body{
		padding-left:0 !important;
	}
	body[data-page="faq"] #right-side-bar h2 {
		margin-bottom:22px;
	}
	body[data-page="faq"] #right-side-bar .detRow{
		margin-bottom:20px;
	}
	body[data-page="faq"] #right-side-bar .detRow.detRow3{
		margin-bottom:0;
	}
	#page-content #inner-container{
		padding-top:30px !important;
	}
	body[data-page="profile"] #right-side-bar{
		display:none;
	}
	body[data-page="profile"] #page-content #inner-container{
		width:100%
	}
	body[data-page="registration"] #form-wrap,
	body[data-page="login"] #form-wrap,
	body[data-page="passwordRecovery"] #form-wrap,
	body[data-page="activation"] #form-wrap{
		display:block;
		float:none;
		margin:0 auto;
		padding:0 20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	body[data-page="passwordRecovery"] #form-wrap,
	body[data-page="login"] #form-wrap,
	body[data-page="activation"] #form-wrap{
		width:100%;
	}
	body[data-page="registration"] main,
	body[data-page="login"] main,
	body[data-page="passwordRecovery"] main,
	body[data-page="activation"] main,
	body.is-new-client[data-page="plans"] main,
	body.is-new-client[data-page="purchase"] main,
	body[data-page="authentication"] main{
		padding:120px 0 30px;
	}
	body.is-disconnected #intro-banner,
	body[data-page="authentication"] #intro-banner,
	body.is-new-client[data-page="plans"] #intro-banner,
	body.is-new-client[data-page="purchase"] #intro-banner{
		background-image:none;
		width:100%;
		height:89px;
		position:fixed;
		float:none;
		right:0;
		top:0;
		background-color:var(--ew-blue);
	}
	body[data-page="registration"] #intro-banner #side-tiny-footer,
	body[data-page="registration"] #intro-banner p,
	body[data-page="authentication"] #intro-banner #side-tiny-footer,
	body[data-page="authentication"] #intro-banner p,
	body[data-page="login"] #intro-banner #side-tiny-footer,
	body[data-page="login"] #intro-banner p,
	body[data-page="passwordRecovery"] #intro-banner #side-tiny-footer,
	body[data-page="passwordRecovery"] #intro-banner p,
	body[data-page="activation"] #intro-banner #side-tiny-footer,
	body[data-page="activation"] #intro-banner p,
	body.is-new-client[data-page="plans"] #intro-banner #side-tiny-footer,
	body.is-new-client[data-page="plans"] #intro-banner p,
	body.is-new-client[data-page="purchase"] #intro-banner #side-tiny-footer,
	body.is-new-client[data-page="purchase"] #intro-banner p{
		display:none;
	}
	body[data-page="registration"] #intro-banner .logo,
	body[data-page="login"] #intro-banner .logo,
	body[data-page="passwordRecovery"] #intro-banner .logo,
	body[data-page="activation"] #intro-banner .logo,
	body.is-new-client[data-page="plans"] #intro-banner .logo,
	body.is-new-client[data-page="purchase"] #intro-banner .logo,
	body[data-page="authentication"] #intro-banner .logo{
		position:absolute;
		left:20px;
		top:20px;
		margin:0;
	}
	body[data-page="registration"] #page-content #inner-container,
	body[data-page="login"] #page-content #inner-container,
	body[data-page="passwordRecovery"] #page-content #inner-container,
	body[data-page="activation"] #page-content #inner-container,
	body.is-new-client[data-page="plans"] #page-content #inner-container,
	body.is-new-client[data-page="purchase"] #page-content #inner-container,
	body[data-page="authentication"] #page-content #inner-container{
		height:auto;
		background-color:#fff !important;
	}
	body[data-page="login"].side-menu-minimized .tiny-footer > div,
	body[data-page="registration"].side-menu-minimized .tiny-footer > div,
	body[data-page="passwordRecovery"].side-menu-minimized .tiny-footer > div,
	body[data-page="activation"].side-menu-minimized .tiny-footer > div,
	body[data-page="plans"].is-new-client.side-menu-minimized .tiny-footer > div,
	body[data-page="purchase"].is-new-client.side-menu-minimized .tiny-footer > div,
	body[data-page="authentication"] .tiny-footer > div{
		display:inline-block !important;
	}
	body[data-page="authentication"] #form-wrap{width:100%;}
	body[data-page="passwordRecovery"] #form-wrap #heading-container,
	body[data-page="activation"] #form-wrap #heading-container{
		margin-bottom:30px;
	}
	body[data-page="registration"] #main-wrap{
		width:100%;
		padding:0 20px;
	}
	body[data-page="siteProcess"].is-new-client #intro-banner{
		width:100%;
		display:block;
		float:none;
		height:89px;
		position:fixed;
		top:0;
		padding:0;
		background-image:none;
	}
	body[data-page="siteProcess"].is-new-client #intro-banner p,
	body[data-page="siteProcess"].is-new-client #intro-banner #side-tiny-footer{
		display:none;
	}
	body[data-page="siteProcess"].is-new-client #intro-banner .logo{
		position:absolute;
		left:20px;
		top:20px;
		z-index:199;
		margin:0;
	}
	body[data-page="siteProcess"].is-new-client main{
		padding:120px 0 25px;
	}
	body[data-page="siteProcess"].is-new-client #page-content #inner-container #form-wrap{
		padding:0;
	}
	#icon-preview-wrap{
		text-align:center;
	}
	.widget-appearance{
		display:inline-block;
	}
	.widget-appearance:before {
		left: -26px !important;
	}
	demo-browser{
		width:270px;
		margin:0 auto;
	}
	body[data-page="siteProcess"] #page-content #inner-container #form-wrap{
		margin-bottom:30px;
	}
	#page-content #inner-container{
		width:100% !important;
		float:none !important;
	}
	body[data-page="siteProcess"] main{
		padding-right:0 !important;
		padding-left:0 !important;
		padding-bottom:20px;
	}
	#step-1 .step-title{
		min-height:1px !important;
	}
	.priceBoxWrap{
		width:100% !important;
	}
	.priceBoxWrap .priceBox .btnDiv a {
		padding: 15px 5px !important;
	}
	body[data-page="purchase"] #right-side-bar{
		display:block;
	}
	body[data-page="purchase"] main{
		padding-right:0;
		padding-left:0;
	}
	body[data-page="purchase"] #inner-container{
		padding:0 20px;
	}
	body[data-page="purchase"] #page-content #inner-container h1,
	body[data-page="purchase"] #heading-container{
		margin-bottom:0;
	}
	body.isCDK[data-page="purchase"] #inner-container h1{
		margin-bottom:20px!important;
	}
	body[data-page="plans"].is-new-client #page-content #inner-container #plans-main-wrap{
		padding:0 20px;
	}
	body[data-page="purchase"].is-new-client #inner-wrapper{
		padding:0;
	}
	.modal#cookies-modal .modal-dialog{
		max-width:100% !important;
		right:0 !important;
		bottom:0 !important;
	}
	#inner-container .cdk-contents-wrap{
		display: block !important;
		width: 100% !important;
		margin: 30px auto 20px !important;
		border-top: 1px solid var(--ew-very-light-gray) !important;
		padding-top: 20px;
	}
	#inner-container .cdk-contents-wrap p{
		font-size: 18px;
		line-height: 1.3em;
		color:var(--ew-dark);
		text-align:left;
		margin-bottom:8px;
	}
	#inner-container .cdk-contents-wrap .white-logo{
		display:none;
	}
	.isCDK  #form-wrap{
		width:100% !important;;
	}
	#inner-container .cdk-contents-wrap .black-logo{
		display:block;
		margin-top:12px;
	}
	.modal#cookies-modal .modal-content {
		padding: 20px !important;
	}
	.isCDK #intro-banner .cdk-contents-wrap{
		display:none !important;
	}
	#cdk-steps {
		width: 100% !important;
	}
	#cdk-steps h2{
		text-align:left !important;
	}
	#cookies-modal .modal-header #cookies-agreement{
		right:20px !important;
	}
	body[data-page="siteProcess"] #scroll-to-bottom{
		display:none !important;
	}
	#intro-banner .banner-content{display:none;}
	header .toggle-menu-width{
		display:none;
	}
	#ew-header-logo-white{
		display:block;
	}
	#ew-header-logo{
		display:none;
	}
	header{
		border:none;
		background-color:var(--ew-blue);
	}
	#top-menu-more-actions, #top-greeting,
	#top-menu-dropdown-wrapper #top-menu-trigger{
		color:#fff;
	}
	header #show-menu{
		position:absolute;
		color:#fff;
		top:13px;
		left:40px;
		right:auto;
		background:none;
		border:none;
		font-size:25px;
		display:inline-block;
	}
	header #show-menu icon:before{
		content:"\f0c9";
		font-family:"Font Awesome 5 Pro";
		font-weight:300;
	}
	#header-top-link{
		left:90px !important;
		top:10px;
	}
	#top-menu-dropdown-wrapper #top-menu-trigger:hover, #top-menu-dropdown-wrapper #top-menu-trigger:focus {
		color: #fff;
	}
	#side-menu #site-links ul li .sub-menu li a{
		color: var(--ew-blue) !important;
	}
	#side-menu #site-links ul li a:after{
		background-color: var(--ew-blue) !important;
	}
	.Commerce #chat-dummy-ph {
		z-index:9999999999!important;
		width:50px!important;
		height:50px!important;
	}
	.Commerce #chat-dummy-ph:before {
		font-size:1.6em;
	}
	button#back-to-top{
		opacity:1;
		background:rgba(255,255,255,0.6);
		color: var(--ew-dark);
		right: 1.45rem;
    	bottom: 4.4rem;
	}
	#inner-container #other-details-wrap {
		right: 0;
		top: 55px;
	}
	body[data-page="API"] #right-side-bar{
		display:none;
	}
	body[data-page="API"] #page-content #inner-container{
		height:auto;
	}
	body[data-page="API"] #api-keys-form{
		margin-bottom:0;
	}
	body[data-page="settings"] main{
		padding-right:0;
		padding-left:0;
		padding-bottom:25px;
	}
	body[data-page="settings"] #right-side-bar .innerWrap img{
		display:none;
	}
	body[data-page="settings"] #page-content #inner-container{
		padding:0 20px;
	}
	body[data-page="wcagMonitor"] main,
	body[data-page="siteMap"] main,
	body[data-page="scan"] main{
		padding-right:0;
		padding-left:0;
		padding-bottom:25px;
	}
	body[data-page="wcagMonitor"] #inner-container,
	body[data-page="siteMap"] #inner-container,
	body[data-page="scan"] #inner-container{
		padding-right:20px;
		padding-left:20px;
	}
	body[data-page="wcagMonitor"] #inner-container h1,
	body[data-page="siteMap"] #inner-container h1,
	body[data-page="scan"] #inner-container h1 {
		margin-bottom: 40px;
	}
	body[data-page="wcagMonitor"] #form-intro-container,
	body[data-page="siteMap"] #scan-form {
		max-width: 999px;
	}
	body[data-page="wcagMonitor"] #form-intro-container h2 {
		text-align: left;
	}
	body[data-page="wcagMonitor"] #form-intro-container p{
		text-align: left;
	}
	body[data-page="siteMap"] #current-status{
		text-align:left;
		margin-bottom:10px;
	}
	body[data-page="siteMap"] #current-status div,
	body[data-page="siteMap"] .site-mapped #current-status #monitor-instructions{
		text-align:left;
	}
	body[data-page="siteMap"] #intro-loader-wrap{
		max-width:100%;
		text-align:left;
		margin-bottom:30px;
	}
	#intro-loading-text {
		text-align:center;
	}
	#intro-loader-wrap #intro-text{
		margin-bottom:20px !important;
	}
	body[data-page="siteMap"] .site-mapped #current-status{
		max-width:100%;
	}
	#inner-container #show-scan-modal-wrapper{
		text-align: center;
		padding-top: 10px;
		position: fixed;
		left: 0;
		right: 0;
		padding: 20px;
		background: rgba(255,255,255,0.8);
		z-index: 9;
		bottom: 40px;
		-webkit-box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.2);
		box-shadow: 0 -2px 5px 0 rgba(0,0,0,0.2);
	}
	#inner-container #max-pages-selected-wrap{
		text-align: left;
    	margin-bottom: 30px;
	}
	#map-tree-wrapper #tree-toolbar.sticked{
		top:60px !important;
	}
	body[data-page="siteMap"] #page-content #inner-container{
		padding-bottom:20px;
	}
	body[data-page="siteMap"] #right-side-bar .innerWrap{
		padding-bottom:91px;
	}
	#map-tree-wrapper #tree-functions .btn{
		padding:0 5px !important;
	}
	#scan-wrap .progress.md-progress{
		max-width: 100% !important;
	}
	body[data-page="scan"] #page-content #inner-container{
		padding-bottom:20px;
	}
	body[data-page="scan"] #current-status{
		text-align:left;
		font-size:22px;
	}
	body[data-page="scan"] #current-status .page-root{
		text-align:left;
	}
	body[data-page="scan"] #scan-instructions p ,
	body[data-page="scan"] #scan-wrap #crawling-website{
		text-align:left;
	}
	header #show-menu{
		width:33px !important;
		max-width:33px !important;
		padding:0 !important;
		margin:0 !important
	}
	#menu-preview-wrap,
	#icon-preview-wrap{
		text-align:center;
	}
	#menu-preview-wrap .appearance-text,
	#icon-preview-wrap .appearance-text{
		display:inline-block;
	}
	#menu-preview-wrap .appearance-text:before {
		right: -40px;
	}
	#icon-preview-wrap .appearance-text:before{
		left: -47px;
	}
	demo-menu {
		transform: scale(1);
		width: 260px;
		margin: 0 auto;
	}
	body[data-page="siteProcess"] #page-content #inner-container{
		padding-right:20px;
		padding-left:20px;
	}
	#payment-curreny-wrapper .select-wrapper input.select-dropdown,
	#payment-curreny-wrapper .select-wrapper span.caret{
		color:#fff !important;
	}
	body[data-page="help"] main {
		padding-bottom:0;
	}
	#show-demo-video-btn{
		left:auto !important;
		right:20px !important;
		background: #009970;
		background: -moz-linear-gradient(top,  #009970 0%, #00d4ae 13%, #00d4ae 100%); 
		background: -webkit-linear-gradient(top,  #009970 0%,#00d4ae 13%,#00d4ae 100%); 
		background: linear-gradient(to bottom,  #009970 0%,#00d4ae 13%,#00d4ae 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009970', endColorstr='#00d4ae',GradientType=0 ); 
	}
	#show-demo-video-btn:hover,
	#show-demo-video-btn:focus{
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#065ba5+0,0984e3+13,0984e3+100 */
background: #065ba5; /* Old browsers */
background: -moz-linear-gradient(top,  #065ba5 0%, #0984e3 13%, #0984e3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #065ba5 0%,#0984e3 13%,#0984e3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #065ba5 0%,#0984e3 13%,#0984e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#065ba5', endColorstr='#0984e3',GradientType=0 ); /* IE6-9 */

	}

	#site-provider-details,
	#site-terms-and-privacy{display:inline-block;}
	#site-provider-details:after{
		content:"|";
		margin:0 2px;
	}

}/* close max-width 1080px */

@media screen and (max-width: 1024px) {
	#plans-container .plan-method-toggle {
		width: 91% !important;
	}
}/* close max-width 1024px */

@media screen and (max-width: 800px) {
	:root{
		--no-2fa-alert: 42px;
	}
	#no-two-factor-auth-alert{
		font-size: 12px;
	}
	#no-two-factor-auth-alert #no-two-factor-content{
		max-width: 67%;
		display: inline-flex;
		flex-flow: column;
		vertical-align: middle;
	}

	#top-stats{
		margin-bottom:15px !important;
	}
	#middle-stats{
		margin-bottom:15px !important;
	}
	#bottom-stats .stat-block{
		width:100% !important;
		margin:0 auto 15px !important;
		height:auto !important;
	}
	#inner-container #middle-stats #a11y-states{
		height:auto !important;
	}
	body[data-page="support"] #heading-container h1,
	body h1{
		text-align:left;
		margin-bottom:17px;
	}
	body[data-page="faq"] h1{
		margin-bottom:0;
	}
	body[data-page="support"] #heading-container p{
		text-align:left;
	}
	body[data-page="support"] #support-form{
		width:100%;
	}
	body[data-page="support"] #heading-container{
		margin-bottom:20px;
	}
	body[data-page="support"] #support-form #submit-btn {
		display:inline-block;
		padding:0 20px;
		width:auto;
		margin:0 !important;
		float:right;
	}
	#faq-accordion .card .card-header a h3 i {
		position: absolute !important;
		top: 23px !important;
		right: 0 !important;
	}
	#credit-card-list .credit-card-wrap{
		margin-right:3.5% !important;
		width:calc(96.5%/2) !important;
	}
	#credit-card-list .credit-card-wrap:nth-child(3n){
		margin-right:3.5% !important;
	}
	#credit-card-list .credit-card-wrap:nth-child(2n){
		margin-right:0 !important;
	}
	body[data-page="profile"] .field-wrap .form-row,
	body[data-page="profile"] #user-password-form .field-wrap .form-row{
		margin:0 3.7% 30px 0;
		width: calc(96.3%/2);
	}
	body[data-page="profile"] .field-wrap .form-row:nth-child(3n){
		margin-right:3.7%;
	}
	body[data-page="profile"] .field-wrap .form-row:nth-child(2n),
	body[data-page="profile"] #user-password-form .field-wrap .form-row:nth-child(2n){
		margin-right:0;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox{
		width:100% !important;
		margin:0 0 15px !important;
		padding:0;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .titleDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .priceDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .detailsDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .successDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .btnDiv{
		display:inline-block;
		float:left;
		width:20%;
		height:155px;
		min-height:1px !important;
		padding:10px 10px 0;
		margin:0;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .successDiv{
		border-right: 1px solid #b0bec5;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .detailsDiv{
		border-top: 0px solid #b0bec5;
		border-bottom: 0px solid #b0bec5;
		border-left: 1px solid #b0bec5;
		border-right: 1px solid #b0bec5;
	}
	.priceBoxWrap .priceBox .btnDiv a{
		margin:0 auto!important;
	}
	body[data-page="sitesList"] #site-list-tbl,
	#transactions-tbl,
	body[data-page="agentSiteList"] #sites-tbl,
	#invoices-tbl,
	#overview-tbl{
		background-color:#eee;
	}
	body[data-page="sitesList"] #site-list-tbl thead,
	#transactions-tbl thead,
	body[data-page="agentSiteList"] #sites-tbl thead,
	#invoices-tbl thead,
	#overview-tbl thead{
		display:none;
	}
	body[data-page="sitesList"] #site-list-tbl tbody,
	#transactions-tbl tbody,
	body[data-page="agentSiteList"] #sites-tbl tbody,
	#invoices-tbl tbody,
	#overview-tbl tbody{
		display:block;
		padding-top:15px;
	}
	body[data-page="sitesList"] #site-list-tbl tr,
	#transactions-tbl tr,
	body[data-page="agentSiteList"] #sites-tbl tr,
	#invoices-tbl tr,
	#overview-tbl tr{
		display: inline-block;
		width: 30%;
		vertical-align: top;
		background-color: #fff;
		margin: 0 1.5% 2.5%;
		padding:10px;
		position:relative;
		min-height:352px;
	}
	#transactions-tbl tr{
		min-height:1px;
	}
	body[data-page="agentSiteList"] #sites-tbl tr{
		min-height:350px;
	}
	body[data-page="sitesList"] #site-list-tbl tr td,
	#transactions-tbl tr td,
	body[data-page="agentSiteList"] #sites-tbl tr td,
	#invoices-tbl tr td,
	body[data-page="myScans"] #main-container #overview-tbl tr td{
		display:block;
		padding:0 0px;
		border:none !important;
		width:100% !important;
	}
	body[data-page="sitesList"] #site-list-tbl tr td.site-domain-cell,
	#transactions-tbl tr td.site-domain,
	body[data-page="agentSiteList"] #sites-tbl tr td.site-domain-cell,
	#invoices-tbl tr td.site-domain-cell,
	#overview-tbl tr td.site-domain-cell{
		border-bottom:1px solid #eee !important;
		padding-bottom:5px;
		margin-bottom:5px;
	}
	body[data-page="sitesList"] #site-list-tbl tr td:before,
	#transactions-tbl tr td:before,
	body[data-page="agentSiteList"] #sites-tbl tr td:before,
	#invoices-tbl tr td:before,
	#overview-tbl tr td:before{
		display:inline-block;
		margin-right:4px;
		font-weight:bold;
	}
	body[data-page="sitesList"] #site-list-tbl tr td.platform-cell:before{
		content:"Platform";
	}
	body[data-page="sitesList"] #site-list-tbl tr td.plan-cell:before{
		content:"Plan";
	}
	body[data-page="sitesList"] #site-list-tbl tr td.inst-cell:before{
		content:"Installation";
		position:relative;
		top:1px;
	}
	body[data-page="sitesList"] #site-list-tbl tr td.activated-cell:before{
		content: "Activated";
		position: relative;
		top: -5px;
	}
	body[data-page="sitesList"] #site-list-tbl tr td.activations-cell:before{
		content:"Activations";
	}
	body[data-page="sitesList"] #site-list-tbl tr td.site-payment:before{
		content:"Payment";
	}
	body[data-page="sitesList"] #site-list-tbl tr td.end-license-cell:before{
		content:"End license";
	}
	body[data-page="sitesList"] #site-list-tbl tr td div,
	body[data-page="agentSiteList"] #sites-tbl tr td div{
		display:inline-block;
	}
	body[data-page="sitesList"] #site-list-tbl .site-domain-cell a,
	body[data-page="agentSiteList"] #sites-tbl .site-domain-cell a{
		font-weight:bold;
	}
	body[data-page="sitesList"] #site-list-tbl .edit-site-btn:after{
		content:"Edit";
	}
	body[data-page="sitesList"] #site-list-tbl .edit-site-btn{
		position:absolute;
		bottom:10px;
		right:10px;
	}
	body[data-page="sitesList"] #site-list-tbl .upgrade-cell{
		padding-top:10px;
	}
	body[data-page="sitesList"] #site-list-tbl .inst-cell{
		padding:3px 0px 8px;
	}
	body[data-page="sitesList"] #site-list-tbl .inst-cell .btn{
		display:inline-block;
	}
	body[data-page="sitesList"] #site-list-tbl .lang-wrap,
	body[data-page="agentSiteList"] #sites-tbl tr td .lang-wrap{
		position: absolute;
		top: 0;
		right: 0;
	}
	body[data-page="sitesList"] #site-list-tbl .upgrage-license-btn{
		position:absolute;
		bottom:10px;
		left:10px;
	}
	#transactions-tbl td.site-domain a{
		color:var(--ew-dark)!important;
		margin:0 auto!important;
	}
	body[data-page="transactions"] #transactions-tbl_wrapper .payment-method,
	body[data-page="transactions"] #transactions-tbl_wrapper .price{
		width:100%!important;
	}
	#transactions-tbl tr td.plan-cell:before{
		content:"Plan";
	}
	#transactions-tbl tr td.price:before{
		content:"Price";
	}
	#transactions-tbl tr td.description:before{
		content:"Description";
	}
	#transactions-tbl tr td.payment-method:before{
		content:"Payment method";
	}
	#transactions-tbl tr td.invoice:before{
		content:"Invoice";
	}
	#transactions-tbl tr td.created-date:before{
		content:"Created on";
		display:block;
	}
	body[data-page="agentSiteList"] tr td.platform-cell:before{
		content:"Platform";
	}
	body[data-page="agentSiteList"] tr td.plan-cell:before{
		content:"Plan";
	}
	body[data-page="agentSiteList"] tr td.activations-cell:before{
		content:"Activations";
	}
	body[data-page="agentSiteList"] tr td.site-payment:before{
		content:"Payment";
	}
	body[data-page="agentSiteList"] tr td.reg-date-cell:before{
		content:"Created on";
	}
	body[data-page="agentSiteList"] tr td.end-license-cell:before{
		content:"End license";
	}
	body[data-page="agentSiteList"] tr td .show-site-details-btn{
		position:absolute;
		bottom:10px;
		left:10px;
	}

	#invoices-tbl tr td.plan-cell:before{
		content:"Plan";
	}
	#invoices-tbl tr td.price:before{
		content:"Price";
	}
	#invoices-tbl tr td.description:before{
		content:"Description";
	}
	#invoices-tbl tr td.payment-method:before{
		content:"Payment method";
	}
	#invoices-tbl tr td.invoice:before{
		content:"Invoice";
	}
	#invoices-tbl tr td.transact-date:before{
		content:"Created on";
	}

	/*#overview-tbl tr td.sitemap-cell:before{
		content:"Scan";
	}*/
	#overview-tbl tr td.monitor-plan-cell:before{
		content:"Monitor Plan";
	}
	#overview-tbl tr td.schedule-cell:before{
		content:"Schedule";
	}
	#overview-tbl tr td.settings-cell:before{
		content:"Settings";
	}
	#overview-tbl tr td.num-of-pages-cell:before{
		content:"Pages";
	}
	#overview-tbl tr td.last-scan-cell:before{
		content:"Last scan";
	}
	#overview-tbl tr td.next-scan-cell:before{
		content:"Next scan";
	}
	#overview-tbl tr td.scanning-cell:before{
		content:"Scan Status";
	}
	#overview-tbl tr td.activity-cell:before{
		content:"Activity";
		position:relative;
		top:5px;
	}
	#overview-tbl tr td.expiry-date-cell:before{
		content:"Expiry date";
	}
	/*#overview-tbl tr td.upgrade-cell:before{
		content:"Upgrade";
	}*/

	#cdk-steps ul li {
		display: block !important;
		float: none !important;
		width: 100% !important;
		margin-right: 0 !important;
		text-align: left !important;
		padding-bottom: 35px;
	}
	#cdk-steps ul li:after{
		content: "\f063" !important;
		left: 17px !important;
		right: auto !important;
		bottom: 0px !important;
		font-size: 27px !important;
		top: auto !important;
	}
	#cdk-steps ul li:last-child:after{
		content:"" !important;
	}
	#cdk-steps ul li .cdk-step-text{
		display:inline-block !important;
		vertical-align:top !important;
		margin-left:5px !important;
		font-size:20px !important;
		padding-top:19px !important;
	}
	#cdk-steps ul li .cdk-step-text br{
		display:none;
	}
	#cdk-steps ul li .cdk-step-icon .cdk-step-num {
		width: 40px !important;
		height: 40px !important;
		font-size: 27px !important;
		padding-top: 6px !important;
	}
	#meeting-modal button.close{
		opacity:1 !important;
	}
	#plans-container .plan{
		margin:0 5% 20px 0!important;
		width:calc(95%/2) !important;
	}
	#plans-container .plan:nth-child(2n){
		margin-right:0!important;
	}
	#plans-container .plan:nth-child(3n),
	#plans-container .plan:nth-child(4n){
		margin-bottom:0!important;
	}
	.monitor-scope #plans-container .plan .plan-coverage{
		display:none!important;
	}
	#plans-container .plan .btn-wrap .plan-na{
		text-align:left!important;
	}
	#plans-container .plan .plan-name-price,
	#plans-container .plan .btn-wrap{
		margin-bottom:15px !important;
	}
	#plans-container .plan .plan-name-price {
		min-height: 90px !important;
	}
	#plans-container .plan-method-toggle .save-percents {
		display: inline-block !important;
	}
	#plans-container .plan-method-toggle {
		min-height: 45px !important;
		margin-bottom:0 !important;
	}
	body[data-page="plans"] #plans-container .plan .plan-max-pages {
		min-height: 47px !important;
	}
	#plans-container .plan .plan-coverage {
		min-height: 220px !important;
	}
	#free-plan #free-plan-container {
		display: block !important;
		margin-bottom: 20px !important;
	}
	#free-plan #coupons-form {
		display: block !important;
		float: none !important;
		width: 47% !important;
		position: relative;
		top: 0 !important;
	}
	#free-plan{
		margin-bottom:0 !important;
	}
	body[data-page="sitesList"] #site-list-tbl .site-domain-cell a{
		white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	body[data-page="sitesList"] .fixedHeader-floating{
		display:none !important;
	}
	body[data-page="purchase"] #right-side-bar{
		display:none !important;
	}
	#transactions-tbl_wrapper .custom-filter-wrap{
		display:block !important;
		margin-bottom:10px !important;
	}
	#transactions-tbl_wrapper.dataTables_wrapper .custom-filter-wrap:not(:first-child) {
		margin-left: 0 !important;
	}
	#transactions-tbl_wrapper .dataTables_filter{
		float:none !important;
	}
	
	header #show-menu {
		left:17px;
	}
	#top-menu{
		right:20px;
	}
	#header-top-link {
		left: 62px !important;
	}
	body[data-page="support"] #heading-container h1, 
	#inner-container h1{
		font-size:30px;
		margin-bottom:10px !important;
	}
	body[data-page="support"] #heading-container p{
		font-size:20px;
	}
	#page-content #payment-methods-actions-btnz .btn{
		padding:0 10px;
		font-size: 15px !important;
	}
	body[data-page="invoices"] .dataTables_filter{
		float:none;
	}
	body[data-page="wcagMonitor"] #inner-container h1,
	body[data-page="siteMap"] #inner-container h1 {
		margin-bottom: 20px;
	}
	body[data-page="wcagMonitor"] #form-intro-container h2,
	body[data-page="siteMap"] #current-status {
		font-size:22px;
		margin-bottom:6px;
	}
	body[data-page="wcagMonitor"] #form-intro-container p,
	body[data-page="siteMap"] #intro-loader-wrap{
		font-size:16px;
	}

	#custom-settings-form #map-deep-wrap > label{
		position:static !important;
	}
	#custom-settings-form #map-deep-wrap{
		width:100% !important;
	}
	#custom-settings-form #map-deep-wrap > select{
		height:52px !important;
	}
	#custom-settings-form #custom-page-root, #custom-settings-form #map-deep-wrap > select{
		height:45px !important;
	}
	#custom-settings-form #map-deep-wrap{
		padding:15px 0;
	}
	body[data-page="scan"] #scan-instructions p {
		font-size:16px;
	}
	body[data-page="scan"] #scan-wrap #crawling-website {
		margin-top: 19px;
		font-size: 18px;
	}
	body[data-page="scan"] #scan-instructions{
		margin-bottom:30px;
	}
	#overview-tbl_wrapper table td.sitemap-cell {
		text-align:left !important;
	}
	#overview-tbl_wrapper tr.even td{
		background:none !important;
	}
	body[data-page="myScans"] #overview-tbl_wrapper table .sitemap-cell .get-sitemap-btn,
	body[data-page="myScans"] .settings-cell  .edit-Schedule-btn,
	body[data-page="myScans"] .upgrade-cell .upgrade-plan-btn,
	#overview-tbl tr td.report-cell .btn{
		margin: 0 !important;
		display: inline-block;
	}
	body[data-page="myScans"] #main-container #overview-tbl tr td{
		padding:2px 0;
	}
	body[data-page="myScans"] td.details-cell,
	body[data-page="expiry-date-cell"] td.details-cell{
		display:none !important;
	}
	/*#overview-tbl tr td.report-cell:before {
		content: "Report";
	}*/
	#overview-tbl .plan-wrap{
		display:inline-block;
	}
	body[data-page="myScans"] #inner-container #top-shortcuts {
		float: none !important;
		height: 52px !important;
		margin-left: 0px !important;
	}
	#help-list li{
		width:31% !important;
	}
	#help-list li h2 {
		font-size:25px !important;
	}
	#help-list li .help-description {
		font-size:18px !important;
		height:48px !important;
	}
	#video-guide-list li {
		width:45% !important;
	}
	body[data-page="videoGuides"] .modal-body iframe {
		height: 40vh !important;
	}
	body[data-page="plans"] .modal-content .modal-footer form{
		display:block;
	}
	body[data-page="plans"] .modal-content .modal-footer form > div{
		text-align:center;
	}
	body[data-page="plans"] .modal-content #purchase-premium-btn{
		margin:22px auto 0 auto;
	}
	#plans-container .annually-method{
		top:0;
	}
}/* close max-width 800px */

@media screen and (max-width: 768px) {
}/* close max-width 768px */

@media screen and (max-width: 736px) {
	body[data-page="dashboard"] #top-stats .stat-block {
		height: 99px !important;
		padding: 13px 0 0 13px !important;
	}
}/* close max-width 736px */

@media screen and (max-width: 667px) {
	#payment-methods-actions-btnz button .hide-on-mobile{
		display:none;
	}
	body[data-page="pMethods"] main{
		padding-right:0 !important;
		padding-left:0 !important;
	}
	#credit-card-list{
		padding:0 20px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	#payment-methods-actions-btnz {
		position: fixed;
		bottom: 49px;
		background-color: var(--ew-very-light-gray);
		width: 100%;
		padding: 10px 20px;
		text-align: center;
	}
	#payment-methods-actions-btnz .btn {
		display: inline-block;
		width: auto;
		padding: 5px 5px !important;
		height: 30px;
		font-size: 14px;
	}
	body[data-page="pMethods"] #inner-container h1{
		padding-left:20px;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .titleDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .priceDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .detailsDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .successDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .btnDiv{
		height:165px;
	}
	body[data-page="sitesList"] #site-list-tbl tr,
	#transactions-tbl tr,
	body[data-page="agentSiteList"] #sites-tbl tr,
	#invoices-tbl tr,
	#overview-tbl tr{
		width: 47%;
	}
	body[data-page="plans"] #plans-container .plan .plan-max-pages {
		min-height: 65px !important;
	}
	#plans-container .plan .plan-coverage {
    min-height: 268px !important;
	}
	#schedule-form #cred-password-wrap .custom-tt-wrap{
		right:10px !important;
	}
	#inner-container #schedule-form #scan-device-wrap > .select-wrapper{
		width:29% !important;
	}
	#schedule-form #scan-device-wrap > #scan-device-inner-wrap{
		width:36% !important;
	}
	#map-tree-top div {
		display: block !important;
		text-align: left !important;
		float: none !important;
		padding: 3px 0 !important;
	}
	#inner-container #max-pages-selected-wrap {
		text-align: left;
		margin-bottom: 13px;
	}
	#map-tree-wrapper #tree-functions .btn{
		font-size:15px !important;
	}
	#help-list li {
    width: 48% !important;
	}
	#inner-container #schedule-form #set-cookies .input-group {
		width: 94% !important;
		float: left !important;
	}
}/* close max-width 667px */

@media screen and (max-width: 640px) {
	#acc-stats-filters #download-as-pdf{
		margin-top:10px;
	}
	#schedule-form .form-row > label, #schedule-form .form-row > .fake-legend{
		width:36% !important;;
	}
	#schedule-form #scan-device-wrap > #scan-device-inner-wrap {
		width: 35% !important;
	}
	#schedule-form .custom-control-inline:last-child{
		margin-right:0 !important;
	}
	#top-interesting .cell-name span{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		width: 170px;
	}
	#top-interesting td,
	top-interesting th{
		width:auto !important;
	}
	#top-interesting .cell-name{
		width:40% !important;
	}
}/* close max-width 640px */

@media screen and (max-width: 568px) {
	:root{
		--no-2fa-alert: 63px;
	}
	#no-two-factor-auth-alert{
		font-size: 13px;
	}
	#credit-card-list .credit-card-wrap{
		margin-right:0 !important;
		width:100% !important;
	}
	body[data-page="profile"] .field-wrap .form-row,
	body[data-page="profile"] #user-password-form .field-wrap .form-row{
		margin:0 0 20px 0!important;
		width: 100%!important;
	}
	body[data-page="registration"] #form-wrap #registration-form,
	body[data-page="registration"] #form-wrap #heading-container{
		max-width:100%;
	}
	body[data-page="registration"] #form-wrap{
		width:100%;
	}
	#create-new-site-form{
		padding:0 20px !important;
	}
	.md-progress{
		width:auto !important;
		margin:0 20px 35px !important;
	}
	.step-title span{
		font-size:35px !important;
	}
	.step-title p, #background-color-wrap legend{
		font-size:20px !important;
	}
	#step-3 .form-control-wrap{
		float:none !important;
	}
	#background-color-wrap fieldset label {
		margin: 0 6px 7px !important;
	}
	#icon-colors-row, #icon-outline-row, #icon-size-row, #use-mobile-row{
		display:block !important;
		margin-right: 0!important;
		margin-bottom: 20px!important;
	}
	#icon-type-row {
		margin-bottom: 15px!important;
	}
	#icon-position-wrap {
		display: block!important;
		width: 100%!important;
		float: none!important;
		margin-bottom: 25px;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .titleDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .priceDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .detailsDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .successDiv,
	body[data-page="plans"] .priceBoxWrap .priceBox .btnDiv{
		display:block;
		float:none;
		width:100%;
		padding:10px;
		height:auto;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .detailsDiv{
		border-top: 1px solid #b0bec5;
		border-bottom: 1px solid #b0bec5;
		border-left: 0px solid #b0bec5;
		border-right: 0px solid #b0bec5;
	}
	body[data-page="plans"] .priceBoxWrap .priceBox .successDiv{
		border:none;
	}
	.dataTables_filter{
		float:left !important;
		margin:20px 0 10px !important;
	}
	.dataTables_paginate{
		display:block;
		float:none;
		margin-top:16px;
	}
	.dataTables_paginate ul{
		margin-bottom:0;
	}
	#inner-container .cdk-contents-wrap{
		width:100% !important;
	}
	#plans-container .plan-method-toggle .save-percents {
		display: block !important;
	}
	#plans-container .plan .plan-coverage {
		min-height: 305px !important;
	}
	#plans-container .plan-method-toggle {
		min-height: 52px !important;
	}
	#ew-header-logo-white {
		display: none;
	}
	#header-top-link #ew-top-icon {
		display: block;
		height:36px;
	}
	#top-menu {
		top:6px;
	}
	#header-top-link{
		top:13px;
	}
	header #show-menu {
		top:14px;
	}
	#inner-container #other-details-wrap {
		top: 45px;
	}
	body[data-page="invoices"] .dataTables_filter{
		margin-top:0 !important;
	}
	#main-container #schedule-form .form-row > label, 
	#main-container #schedule-form .form-row > .fake-legend,
	#main-container #schedule-form .select-wrapper, 
	#main-container #schedule-form .form-row > input, 
	#main-container #schedule-form .form-row > .input-group {
		width: 100% !important;
	}
	#main-container #schedule-form .form-row > label{
		margin-bottom:5px;
	}
	#main-container #schedule-form #schedule-activity-wrap > label,
	#main-container #schedule-form #inject-a11y-wrap > label{
		width:auto !important;
		margin-right:10px;
	}
	#main-container #schedule-form #submit-btnz-wrap > button{
		width:100% !important;
	}
	#schedule-form #scan-device-wrap > #scan-device-inner-wrap {
		width: 49% !important;
	}
	#inner-container #schedule-form #scan-device-wrap > .select-wrapper {
		width: 45% !important;
	}
	#map-tree-wrapper #tree-functions .btn{
		height:30px !important;
		display:block !important;
	}
	#map-tree-wrapper .dropdown-menu{
		-webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
		box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
	}
	body[data-page="dashboard"] #top-stats .stat-block {
		height: 111px !important;
	}
	#set-cookies legend{
		width:100% !important;
	}
	#site-settings #set-cookies #cookie-list{
		width:100% !important;
	}
	#main-container #cookie-list .input-group .input-group-prepend,
	#main-container #cookie-list .input-group > input{
		width: 48% !important;
	}
	#main-container #set-cookies #cookie-list{
		padding:0 !important;
	}
	#main-container #schedule-form #add-cookie-btn-wrapper{
		width:100% !important;
		text-align:center !important;
		margin:0 !important;
	}
	#plans-container .annually-method{
		top:-5px;
	}
}/* close max-width 568px */

@media screen and (max-width: 480px) {
	#account-menu #greeting-block{
		display:none;
	}
	.side-menu-minimized #account-menu ul li a span,
	#account-menu ul li a span{
		display:inline-block;
	}
	#side-menu #equalweb-side-logo{
		top:13px;
	}
	#side-menu #equalweb-side-logo img#ew-top-logo{
		width:131px;
	}
	#side-menu, 
	.side-menu-minimized #side-menu,
	#side-menu:before{
		height:63px;
	}
	#account-menu{
		top:20px;
	}
	main{
		padding-top:121px;
	}
	#side-menu #show-menu {
		top:74px;
	}
	#account-menu ul li a{
		padding-right:0;
	}
	#site-links{
		top:63px;
	}
	#top-stats .stat-block{
		margin:0 auto 15px !important;
		width:100% !important;
	}
	#heading-container h1,
	body h1{
		font-size:30px !important;
	}
	body[data-page="support"] #heading-container h1{
		margin-bottom:9px !important;
	}
	#heading-container p{
		font-size: 18px !important;
    	line-height: 1.2em !important;
	}
	#contact-details,
	#contact-details div{
		font-size:18px !important;
	}
	#support-form {
		margin-bottom:40px !important;
	}
	#activation-form .form-row > i{
		display:none;
	}
	#activation-form .form-row{
		padding-left:0 !important;
	}
	#activation-form seperator{
		margin-left:0 !important;
	}
	#step-1 #language-row, #step-1 #platform-row{
		width:100% !important;
	}
	#step-actions{
		margin:0 20px !important;
	}
	#step-actions .btn,
	#next-choose-plan-row #choose-plan-next{
		max-width:100% !important;
	}
	body[data-page="siteProcess"] #domain-row #domain-protocol + #site-domain{
		width:75% !important;
	}
	body[data-page="siteProcess"] #domain-row #domain-protocol{
		width:25% !important;
	}
	body[data-page="purchase"] #page-content #inner-container p{
		font-size:20px;
	}
	body[data-page="purchase"] #page-content #inner-container .platforms-list li {
		display: inline-block;
		margin: 0 14px 10px;
	}
	body[data-page="purchase"] #page-content #inner-container #go-to-all-platforms{
		margin-top:0;
	}
	body[data-page="purchase"] #installation-guides{
		margin-bottom:30px;
	}
	body[data-page="purchase"] #installation-guides h2{
		margin-bottom:15px;
	}
	#contact-options li a{
		font-size:18px !important;
	}
	body[data-page="sitesList"] #site-list-tbl tr,
	#transactions-tbl tr,
	body[data-page="agentSiteList"] #sites-tbl tr,
	#invoices-tbl tr,
	#overview-tbl tr{
		width: 100%;
		margin:0 0 15px;
		float:none;
		min-height:10px;
		padding-bottom:30px;
	}
	body[data-page="agentSiteList"] #sites-tbl tr{
		padding-bottom:40px;
	}
	body[data-page="sitesList"] #site-list-tbl tbody,
	#transactions-tbl tbody,
	body[data-page="agentSiteList"] #sites-tbl tbody,
	#invoices-tbl tbody,
	#overview-tbl tbody{
		padding:15px 15px 5px;
	}
	#plans-container .plan{
		margin:0 0 20px 0!important;
		width:100% !important;
	}
	#plans-container .plan:nth-child(3n){margin:0 0 20px 0!important;}
	#plans-container .plan .plan-top,
	#plans-container .plan .plan-name-price,
	#plans-container .plan-method-toggle,
	#plans-container .plan .btn-wrap,
	#plans-container .plan .plan-max-pages,
	#plans-container .plan .plan-coverage{
		width:90% !important;
	}
	#plans-container .plan .plan-name-price {
		min-height: 10px !important;
	}
	#plans-container .plan-method-toggle{
		min-height:10px !important;
		margin:0 0 20px 5% !important;
		width:90% !important;
	}
	#plans-container .plan-method-toggle .save-percents {
		display: inline-block !important;
	}
	body[data-page="plans"] #plans-container .plan .plan-max-pages{
		min-height:10px !important;
		margin-bottom:20px !important;
	}
	#plans-container .plan .plan-coverage {
		min-height:10px !important;
	}
	#plans-container .plan{
		padding-bottom:15px!important;
	}
	#free-plan #coupons-form{
		width:100% !important;
		margin-bottom:35px !important;
	}
	#plans-container #premium-plan .plan-method-toggle{
		display:none;
	}
	#transactions-tbl_wrapper .custom-filter-wrap .custom-filter-radio-legend{
		display:block !important;
	}
	body[data-page="authentication"] #form-wrap #heading-container,
	body[data-page="authentication"] #authentication-form{max-width:90%;}
	#authentication-form .form-row i{display:none;}
	#authentication-form .form-row{padding-left:0!important;}
	#inner-container #other-details-wrap {
		top: 54px;
	}
	#api-keys-form #api-keys-list .chip{
		display:block !important;
		width:100% !important;
		float:none !important;
		margin-bottom:10px !important;
	}
	#api-keys-form .copy-key-btn{
		display:block !important;
		width:100% !important;
		float:none !important;
	}
	#map-tree-wrapper #tree-toolbar.sticked {
		top: 66px !important;
	}
	#custom-settings-form .input-group-prepend{
		display:block !important;
		width:100% !important;
	}
	#top-interesting .cell-plan{
		display:none;
	}
	body[data-page="dashboard"]  #top-stats .stat-block {
		height: auto !important;
		padding: 15px !important;
	}
	#step-2 #custom-design-tabs > button{
		font-size:14px !important;
	}
	#menu-design-panel #menu-design-panel-inner  .menu-color-row label,
	#menu-design-panel #menu-design-panel-inner  .menu-color-row label span{
		display:block;
		text-align:center;
		margin-bottom:4px;
	}
	#menu-design-panel #menu-design-panel-inner  .color-component{
		text-align:center;
	}
	#menu-design-panel .reset-color{
		display:inline-block;
		position:static;
	}
	#help-list li .help-description {
		height: 64px !important;
	}
	#help-list li icon:before {
		font-size:40px !important;
	}
	#video-guide-list li {
		width:100% !important;
	}
	#show-demo-video-btn{
		top:3px !important;
	}
	#plans-container {
		display: block !important;
	}
	#plans-container .annually-method {
		top: 0px;
	}
}/* close max-width 480px */

@media screen and (max-width: 414px) {
	#contact-details span{
		display:block !important;
		text-align:center !important;
	}
	body[data-page="registration"] .form-row label,
	body[data-page="login"] .form-row label,
	body[data-page="passwordRecovery"] .form-row label{
		font-size:14px;
		padding-top:3px;
	}
	body[data-page="registration"] .form-row input[aria-invalid="true"] + label,
	body[data-page="login"] .form-row input[aria-invalid="true"] + label,
	body[data-page="passwordRecovery"] .form-row input[aria-invalid="true"] + label{
		position:static;
		width: 100%;
		display: block;
		white-space: normal !important;
		line-height:1.1em;
	}
	#activation-form .btnz-wrap button:first-child{
		margin:0 !important;
	}
	#activation-form .btnz-wrap button#call-phone-btn{
		float:right;
	}
	#step-3 .form-control-wrap label{
		display:block !important;
	}
	body[data-page="siteProcess"] #step-3 .form-control-wrap .form-control{
		margin:0 5px 0 0!important;
	}
	body[data-page="purchase"] iframe{
		height:680px;
	}
	body[data-page="purchase"] #contact-details span {
		text-align: left !important;
	}
	#cdk-steps h2{
		font-size:20px!important;
		margin-bottom:20px!important;
	}
	#cdk-steps ul li{
		padding-bottom: 23px !important;
	}
	#cdk-steps ul li:after {
		content: "\f063" !important;
		left: 10px !important;
		right: auto !important;
		bottom: 2px !important;
		font-size: 19px !important;
		top: auto !important;
	}
	#cdk-steps ul li .cdk-step-text{
		font-size: 16px !important;
		padding-top: 10px !important;
	}
	#cdk-steps ul li .cdk-step-icon {
		display: inline-block !important;
		margin: 0 auto 10px !important;
		padding: 3px !important;
		border-radius: 7px !important;
		border: 2px solid var(--ew-dark) !important;
	}
	#cdk-steps ul li .cdk-step-icon .cdk-step-num{
		border-radius: 3px !important;
		width: 30px !important;
		height: 30px !important;
		font-size: 21px !important;
		padding-top: 4px !important;
	}
	#cdk-steps{
		margin-bottom:0 !important;
	}
	#meeting-wrap .modal.modal-scrolling .modal-dialog{
		width:100%;
	}
	#meeting-modal button.close{
		top:5px !important;
		right:5px !important;
		left:auto !important;
	}
	#inner-container #other-details-wrap{
		position:static;
	}
	#page-content #other-details-wrap .details-value{
		float:none;
	}
	#api-keys-form #api-keys-list .chip .api-key {
		width:90% !important;
	}
	#inner-container #schedule-form #scan-device-wrap > .select-wrapper,
	#schedule-form #scan-device-wrap > #scan-device-inner-wrap {
		width: 100% !important;
	}
	#schedule-form #scan-device-wrap > #scan-device-inner-wrap{
		margin-bottom:5px;
	}
	body[data-page="settings"] button#back-to-top{
		display:none !important;
	}
	body[data-page="wcagMonitor"] .step-box-1, 
	body[data-page="siteMap"] .step-box-2, 
	body[data-page="scan"] .step-box-3{
		border:none;
		border-top: 10px solid var(--ew-blue);
		text-align:center;
		padding:10px 15px 15px;
	}
	body[data-page="wcagMonitor"] .step-box-1 h3, 
	body[data-page="siteMap"] .step-box-2 h3, 
	body[data-page="scan"] .step-box-3 h3{
		text-align:center;
	}
	body[data-page="wcagMonitor"] .step-box:before, 
	body[data-page="siteMap"] .step-box:before, 
	body[data-page="scan"] .step-box:before{
		position:static;
		margin:0 auto 10px;
		display:block;
	}
	#scan-form .form-row.btnz-row #submit-btn{
		max-width:100% !important;
	}
	#top-interesting .cell-name span{
		width:140px;
	}
	.reparrented-step #language-row, .reparrented-step #platform-row {
		display:block;
		width: 100%;
	}
	.side-menu-minimized .tiny-footer > div{
		margin-top:0;
	}
	#site-provider-details, #site-terms-and-privacy {
		display: block;
		line-height: 1.2em;
	}
	#site-provider-details:after {
		content: "";
		margin: 0;
	}
}/* close max-width 414px */

@media screen and (max-width: 384px) {
	.widget-activations #top-interesting th:nth-child(2),
	.widget-activations #top-interesting td:nth-child(2){
		display:none;
	}
	body[data-page="support"] #support-form #submit-btn{
		width:100% !important;
	}
	#activation-form .form-row .btn i{
		font-size:30px !important;
	}
	body[data-page="pMethods"] button#back-to-top {
		bottom: 10rem;
	}
	body[data-page="pMethods"] #chat-dummy-ph {
		bottom:87px;
	}
	#auth-credentials{
		margin-top:30px;
	}
	#top-interesting .cell-installed {
		display: none;
	}
	#top-interesting .cell-name span {
		width: 190px;
	}
	#custom-design-tabs > button{
		display:inline-block !important;
	}
	#top-menu-dropdown-wrapper #top-menu-trigger icon:before{
		font-size:29px;
	}
	#payment-curreny-wrapper {
		width: 50px;
		/*margin: 18px 0 0 5px;*/
	}
	#top-greeting{
		max-width:145px;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
	#top-menu-dropdown-wrapper{
		margin-left:6px;
	}
}/* close max-width 384px */

@media screen and (max-width: 375px) {
	#heading-container h1, body h1 {
		font-size: 30px !important;
		line-height:1em !important;
	}
	body[data-page="purchase"] iframe{
		height:700px;
		overflow:hidden;
		overflow:hidden !important;
		width:100% !important;
	}
	#top-interesting .cell-name span {
		width: 180px;
	}
	#top-greeting {
		max-width: 125px;
	}
	#help-list li .btn {
		padding: 10px 8px !important;
	}
}/* close max-width 375px */

@media screen and (max-width: 360px) {
	body[data-page="purchase"] iframe{
		height:700px;
		overflow:hidden;
		overflow:hidden !important;
		width:330px !important;
	}
	body[data-page="scan"] #current-status{
		line-height:1.1em;
		white-space: normal;
	}
	#top-interesting .cell-name span {
		width: 170px;
	}
	#menu-design-panel #menu-design-panel-inner .menu-color-row label span{
		line-height:1em;
		height:34px;
	}
	#menu-design-panel .form-row{
		width:32% !important;
	}
	#top-greeting {
		max-width: 105px;
	}
	#terms-and-condition-cb-error-message {
		font-size:12px !important;
	}
}/* close max-width 360px */


@media screen and (max-width: 320px) {
	#activation-form .form-control-wrap label:first-child{
		height:auto !important;
		margin-bottom:3px !important;
	}
	#activation-form .btnz-wrap{
		padding-top:13px !important;
	}
	#cdk-steps ul li .cdk-step-text br{
		display:block !important;
	}
	#cdk-steps ul li .cdk-step-text{
		text-align:left !important;
	}
	#cdk-steps ul li:last-child .cdk-step-text{
		padding-top:2px !important;
	}
	#top-interesting .cell-name span {
		width: 135px;
	}
	#menu-design-panel .form-row {
		width: 32%;
	}
	#top-greeting {
		max-width: 75px;
	}
	#help-list li {
		width: 100% !important;
	}
	#help-list li .help-description{
		height:auto !important;
		margin-bottom:10px;
	}
	#terms-and-condition-cb-error-message{
		left:0 !important;
	}
}/* close max-width 320px */
