#right-side-bar{
	display:block;
	width:26%;
	position:fixed;
	height:100vh;
	background-color: var(--ew-very-light-gray);
	top:0;
	right:0;
}
#right-side-bar .innerWrap{
	display:block;
	margin: calc(100vh/10) auto;
	margin: 120px auto 0;
	width:84%;
}

#right-side-bar .innerWrap .top-title-wrap {
    text-align: center;
    margin: 0 auto 10px;
    font-size: 24px;
}

#right-side-bar #top-title-domain {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

#right-side-bar h2{
	display:block;
	font-size:18px;
	color:var(--ew-dark);
	position:relative;
	font-weight:600;
	margin:0;
}
#right-side-bar p{
	display:block;
	margin-bottom:48px;
	font-size:16px;
	font-weight:300;
	color:var(--ew-dark);
	position:relative;
}

#right-side-bar .innerWrap ul{
	margin:0;
	padding:0;
	list-style:none;
}
#right-side-bar .detRow{
	display:block;
	margin-bottom:30px;
	font-size:15px;
	font-weight:100;
	color:var(--ew-dark);
}

#right-side-bar .detRow.detRow3 a span{margin-left: 5px;}

#right-side-bar .detRow div{
	display:block;
}
#right-side-bar .detRow1 i{
	color:var(--ew-blue);
	font-size:18px;
}
#right-side-bar .detRow a{
	color:var(--ew-dark);
	font-weight:100;
}
#right-side-bar .detRow a br{
	display:none;
}
#right-side-bar .detRow a span{
	text-decoration:underline;
}
#right-side-bar .detRow1 a span{
	color:var(--ew-blue);
}
#right-side-bar .detRow1 a span:hover,
#right-side-bar .detRow1 a span:focus{
	color:var(--ew-dark);
}
#right-side-bar .detRow2 i{
	color:#9ea2a3;
	font-size:18px;
}

testimonial{
	background:#e3e6e7;
	border-radius:10px;
	padding:25px 40px 35px;
	display:block;
	position:relative;
}
testimonial p{
	font-size:16px;
	color:var(--ew-dark);
	font-weight:100;
	line-height:1.2em;
}
testimonial customer-details{
	display:block;
	position:absolute;
	bottom:-80px;
	text-align:center;
	width:100%;
	left:0;
}
testimonial customer-details img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 2px;
    padding: 15px;
    background-color: #fff;
}
testimonial customer-details customer-name{
	display:block;
	text-align:center;
	font-size:16px;
	color:var(--ew-dark);
}


/* Demo browser */

demo-browser{
	width:100%;
	display:block;
}
demo-browser demo-browser-header{
	display:block;
	height:22px;
	background: #44d899; /* Old browsers */
	background: -moz-linear-gradient(right,  #44d899 0%, #0a9ac4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(right,  #44d899 0%,#0a9ac4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, var(--ew-green) 0%, var(--ew-blue) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding:5px 0 0 10px;
}
demo-browser demo-browser-header circle{
	width:12px;
	height:12px;
	background-color:#fff;
	border-radius:50%;
	margin-right:9px;
	float:left;
}
demo-browser demo-browser-body{
	height:220px;
	background-color:#fff;
	display:block;
	position:relative;
}

/*browser simulator*/
demo-browser #icon-preview > *{
	display:none;
}
demo-browser #icon-preview svg{
    width: 25px;
	height: 25px;
	overflow: unset !important;
}

demo-browser #icon-preview{
	--ew-btn-scale : 0.8;
	--ew-btn-vposition : 80%; 
	--indscale-contra: calc(1 - var(--ew-btn-scale));
	--indscale-margin: calc( var(--indscale-contra) * 10 * -2px );
	padding: 5px;
	border: none;
    outline: none;
    box-shadow: none;
	transform: scale( var(--ew-btn-scale, 1) );
	background: var(--ew-main-color);
	position: absolute;
	top: var(--ew-btn-vposition);
}

demo-browser #icon-preview.ew-icon-btn > svg,
demo-browser #icon-preview.ew-textual-btn > span{
	display: block !important;
} 

demo-browser #icon-preview.ew-left-side-btn{
	left: 5px;
}

demo-browser  #icon-preview.ew-right-side-btn{
	right: 5px;
}


demo-browser #icon-preview > svg *{
	fill: var(--ew-second-color);
}

demo-browser #icon-preview > span{
	text-align: center;
	font-size: 1.2rem;
	color: var(--ew-second-color);
}

/* Demo Menu */
demo-menu{
	transform: scale(.8);
	transform-origin: top;
}
demo-menu,
demo-menu > *{
	display:block;
	background-color: white;
}

demo-menu-header{
	position: relative;
}
demo-menu-header > #menu-header-expanded-bg{
    width: 100%;
    height: auto;
}
demo-menu-header > #menu-header-expanded-bg stop:first-child {
    stop-color: var(--ew-menu-main-color);
}
demo-menu-header > #menu-header-expanded-bg stop:last-child {
    stop-color: var(--ew-menu-second-color);
}

demo-menu-header > i{
	position: absolute;
	top: 1rem;
	color: white;
}
demo-menu-header > i.fa-times{
	left: 1rem;
}
demo-menu-header > i.fa-eye-slash{
	right: 1rem;
}
demo-menu-header > i.fa-arrows-h{
	right: 3rem;
}

demo-menu-header > #dummy-menu-lang-combo{
	left: 3rem;
    width: 100px;
    height: 16px;
    background: var(--ew-menu-main-color);
    border-radius: 1rem;
}

demo-menu-body{
	height: 382px;
	overflow: hidden;
	padding: 1rem;
    text-align: center;
}
demo-menu-body .a11y-menu-function-btn{
	border: 1px solid var(--ew-menu-main-color);
	color: var(--ew-menu-main-color);
	display: inline-block;
    float: left;
    margin-right: 8%;
    margin-bottom: 23px;
    width: calc(91.8%/2);
    background: 0;
    text-align: center;
    cursor: pointer;
    padding: 4px 2px 0;
    border-radius: 3px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

demo-menu-body .a11y-menu-function-btn:nth-child(2n){
	margin-right:0;
}
demo-menu-body .a11y-menu-function-btn .a11y-menu-function-btn-name:before,
demo-menu-body .a11y-menu-function-btn .a11y-menu-function-btn-desc:before{
	line-height:1em;
	display:inline-block;
}
demo-menu-body #a11y-menu-function-btn-1 .a11y-menu-function-btn-name:before{
	content:"Screen Reader Adjustment";
}
demo-menu-body #a11y-menu-function-btn-2 .a11y-menu-function-btn-name:before{
	content:"Keyboard Navigation";
}
demo-menu-body #a11y-menu-function-btn-3 .a11y-menu-function-btn-name:before{
	content:"Smart Navigation";
}
demo-menu-body #a11y-menu-function-btn-4 .a11y-menu-function-btn-name:before{
	content:"Blinks Blocking";
}
demo-menu-body #a11y-menu-function-btn-5 .a11y-menu-function-btn-name:before{
	content:"Text Reader";
}
demo-menu-body #a11y-menu-function-btn-6 .a11y-menu-function-btn-name:before{
	content:"Voice Commands";
}


demo-menu-body #a11y-menu-function-btn-1 .a11y-menu-function-btn-desc:before{
	content:"Makes the site compatible for screen reader users";
}
demo-menu-body #a11y-menu-function-btn-2 .a11y-menu-function-btn-desc:before{
	content:"Enables users to navigate by keyboard, without using the mouse";
}
demo-menu-body #a11y-menu-function-btn-3 .a11y-menu-function-btn-desc:before{
	content:"Enables users to navigate the site by numeric keys";
}
demo-menu-body #a11y-menu-function-btn-4 .a11y-menu-function-btn-desc:before{
	content:"Stops blinking and flashing of moving elements";
}
demo-menu-body #a11y-menu-function-btn-5 .a11y-menu-function-btn-desc:before{
	content:"Reading the site's text aloud, in supported browsers";
}
demo-menu-body #a11y-menu-function-btn-6 .a11y-menu-function-btn-desc:before{
	content:"Executing Commands with a microphone, in supported browsers";
}

demo-menu-body .a11y-menu-function-btn svg{
	fill: var(--ew-menu-main-color);
	width: 40px;
    height: 50px;
    display: block;
    margin: 0 auto 5px;
    opacity: 1;
    position: relative;
    top: 0;
    z-index: 9;
}

demo-menu-body .a11y-menu-function-btn.active{
	border: 2px solid var(--ew-menu-button-active-color);
}

demo-menu-body .a11y-menu-function-btn.active:before{
	content: "\2714";
	position: absolute;
	right: 5px;
	z-index: 99;
	padding: 3px;
	top: 0;
	font-size: 1rem;
	color: #12bdd1;
}

demo-menu-body .a11y-menu-function-btn.active:hover:before{
	font-size: .8rem;
}

demo-menu-body .a11y-menu-function-btn:hover{
	background-color:var(--ew-menu-button-hover-color);
}

demo-menu-body .a11y-menu-function-btn .a11y-menu-function-btn-desc{
	color: white;
}

demo-menu-body .a11y-menu-function-btn .a11y-menu-function-btn-desc,
demo-menu-body .a11y-menu-function-btn:hover > *{
	display: none;
}
demo-menu-body .a11y-menu-function-btn:hover > .a11y-menu-function-btn-desc{
	display: block;
}

demo-menu-footer .menu-footer-block{
	height: 40px;
}
demo-menu-footer{
	background-color:var(--ew-menu-main-color);
}
demo-menu-footer .menu-footer-block:last-child{
	background: rgba(0,0,0,0.2);
}

/*== Icon shapes ==*/

/*circle shape*/
demo-browser #icon-preview.circle-btn{
	border-radius: 100px;
}

/*rounded shape*/
demo-browser #icon-preview.rounded-btn{
	border-radius: 5px;
}

/*semi-circle shape*/
demo-browser #icon-preview.ew-left-side-btn.semicircle-btn{
	border-radius: 0 100px 100px 0;
	padding-left: 12px;
	left:0;
	margin-left: var(--indscale-margin);
}

demo-browser #icon-preview.ew-right-side-btn.semicircle-btn{
	border-radius: 100px 0 0 100px;
	padding-right: 12px;
	right:0;
	margin-right: var(--indscale-margin);
}

/*Outlined button*/
demo-browser #icon-preview.outline-btn{
	color: var( --ew-second-color );
	border: 5px solid var( --ew-second-color );
}

.appearance-text{
	display:block;
	text-align:center;
	color:var(--ew-dark);
	font-size:15px;
	position:relative;
	padding-top:36px;
}
#menu-preview-wrap .appearance-text{
	padding: 0 0 36px 0;
}

.appearance-text:before {
    content: "";
    position: absolute;
    display: block;
    width: 44px;
    height: 56px;
    background-image: url(/img/green-arrow.png);
    background-position: top;
    background-repeat: no-repeat;
    top: 9px;
    left: 36px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(166deg);
}
#menu-preview-wrap .appearance-text:before{
	right: 90px;
	left: auto;
	-moz-transform: none;
    -webkit-transform: none;
    -o-transform:  none;
    -ms-transform: none;
    transform: none;
}

.steps-wrap{
	display:block;
}
.step-box{
	display:block;
	padding:16px 15px 15px 85px;
	color:var(--ew-dark);
	font-size:14px;
	font-weight:300;
	line-height:1.4em;
	position:relative;
	background-color:rgba(255,255,255,0);
	-webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0);
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0);
	margin-bottom:0px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.step-box:before{
	content:"";
	width:59px;
	height:59px;
	position:absolute;
	left:12px;
	right:12px;
	display:block;
	background-position:top;
	background:no-repeat;
}
.step-box-1:before{
	background-image:url(/img/right-side-step-1.png);
}
.step-box-2:before{
	background-image:url(/img/right-side-step-2.png);
}
.step-box-3:before{
	background-image:url(/img/right-side-step-3.png);
}
.step-box-4:before{
	background-image:url(/img/right-side-step-4.png);
}
.step-box h3{
	color:var(--ew-dark);
	font-size:16px;
	font-weight:600;
	margin-bottom:2px;
}
body[data-page="wcagMonitor"] .step-box-1,
body[data-page="siteMap"] .step-box-2,
body[data-page="scan"] .step-box-3{
	background-color:white;
	margin-bottom:10px;
	border-left:10px solid var(--ew-blue);
}
body[data-page="wcagMonitor"] .step-box-1 h3,
body[data-page="siteMap"] .step-box-2 h3,
body[data-page="scan"] .step-box-3 h3{
	color:var(--ew-blue);
}
#right-side-bar .innerWrap img{
	width:100%;
	max-width:271px;
	margin:0 auto;
	display:block;
}