#INDmenu-btn {
	display: none !important;
}
.INDmenu-btn {
	padding: 5px 10px !important;
    border-radius: 3px;
    color: #fff !important;
    background-color: #fff !important;
	color:var(--ew-dark) !important;
    border-color: var(--ew-blue);
	-webkit-transition: all 0.3s ease-in-out !important;
	-moz-transition: all 0.3s ease-in-out !important;
	-ms-transition: all 0.3s ease-in-out !important;
	-o-transition: all 0.3s ease-in-out !important;
	transition: all 0.3s ease-in-out !important;
}
.INDmenu-btn:focus {
    outline: -webkit-focus-ring-color auto 1px;
}
#side-menu{
	float: left;
	width:16.35%;
	height:100vh;
	position:fixed;
	left:0;
	top:0px;
	padding-top:109px !important;
	background-color:var(--ew-blue);
	-webkit-box-shadow: 0 0 15px 0 rgba(96,125,139,15);
	box-shadow: 0 0 15px 0 rgba(96,125,139,0.15);
	padding-top:40px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

#side-menu .mobile-btn{
	display: none;
}

#side-menu #equalweb-side-logo{
	display:block;
	margin:0 auto 22px;
}
#side-menu #equalweb-side-logo img{
	display:block;
	margin:0 auto;
}
#side-menu #equalweb-side-logo img#ew-top-icon{
	display:none;
	margin:0 auto;
	width:70px;
}
.side-menu-minimized #side-menu #equalweb-side-logo img#ew-top-icon{
	display:block;
}
.side-menu-minimized #side-menu #equalweb-side-logo img#ew-top-logo{
	display:none;
}

#side-menu #site-links ul{
	padding:0;
	margin:0;
	list-style:none;
	/* overflow-y:auto; */
}

#side-menu #site-links > ul > li > a + ul{
	margin-left: 2rem;
}
#side-menu #site-links ul li{
	display:block;
	position:relative;
	z-index:9999;
}
#side-menu #site-links ul li.has-submenu{
	z-index: 99999999;
}
#side-menu #site-links ul li a,
#side-menu #site-links ul li.has-submenu .btn-group .btn{
	display:block;
	position:relative;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	width:100%;
	height:47px;
    font-size: 17px;
    color: #fff;
	line-height:1em;
	padding:16px 0 0 30px;
	vertical-align:top;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#side-menu #site-links ul li a:before{
	content:"";
	width:4px;
	height:100%;
	background-color:#fff;
	display:block;
	position:absolute;
	left:-4px;
	top:0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#side-menu #site-links ul li .sub-menu a:before{
	background:none !important;
}
#side-menu #site-links ul li .sub-menu li{
	padding:5px 0 5px 30px;
}
#side-menu #site-links ul li .sub-menu li a{
	position:relative;
	overflow:hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
	height:auto;
	width:auto;
    font-size: 17px;
    color: #fff !important;
	line-height:1em;
	padding:5px 0 5px 0px;
	background:none !important;
	border:none !important;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	display:inline-block;
  }
  #side-menu #site-links ul li .sub-menu li a:after {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #fff;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  #side-menu #site-links ul li .sub-menu li a:hover:after, 
  #side-menu #site-links ul li .sub-menu li a:focus:after, 
  #side-menu #site-links ul li .sub-menu li a.current-page:after {
	right: 0;
  }
#side-menu #site-links > ul > li > a i{
    font-size: 18px;
    margin-right: 15px;
    vertical-align: top;
    width: 20px;
}
#side-menu #site-links > ul > li a + ul > li i{
	margin-right: .5rem;
}
#side-menu #site-links > ul > li > a icon:before{
	content:"";
	font-family:"Font Awesome 5 Pro";
	font-size: 18px;
    margin-right: 15px;
    vertical-align: top;
    width: 20px;
}

/* Side icons */

#side-menu #site-links > ul > li > #dashboard-link icon:before{
	content:"\f080";
}
#side-menu #site-links > ul > li > #wcag-monitor-link icon:before{
	content:"\f611";
}
#side-menu #site-links > ul > li > a[data-target="profile"] icon:before{
	content:"\f2bd";
}
#side-menu #site-links > ul > li > a[data-target="documentation"] icon:before{
	content:"\f1c9";
}
#side-menu #site-links > ul > li > a[data-target="faq"] icon:before{
	content:"\f059";
}
#side-menu #site-links > ul > li > a[data-target="support"] icon:before,
#side-menu #site-links > ul > li > a[data-target="help"] icon:before{
	content:"\f4aa";
}


/* Agent */

#side-menu #site-links > ul > li > a[data-target="contactList"] icon:before{
	content:"\f2c2";
}
#side-menu #site-links > ul > li > a[data-target="agentSiteList"] icon:before{
	content:"\f37e";
}
#side-menu #site-links > ul > li > a[data-target="coupons"] icon:before{
	content:"\f02c";
}
#side-menu #site-links > ul > li > a[data-target="leads"] icon:before{
	content:"\f4ad";
}
#side-menu #site-links > ul > li > a[data-target="transactions"] icon:before{
	content:"\f570";
}
#side-menu #site-links > ul > li > a[data-target="siteProcess"] icon:before{
	content:"\f055";
}
#side-menu #site-links > ul > li > a[data-target="sitesList"] icon:before{
	content:"\f0ca";
}


/* Admin */
#side-menu #site-links > ul > li > a[data-target="dashboard"] icon:before{
	content:"\f080";
}
#side-menu #site-links > ul > li > a[data-target="dashboard"] icon:before{
	content:"\f611";
}
#side-menu #site-links > ul > li > a[data-target="affiliates"] icon:before{
	content:"\f508";
}
#side-menu #site-links > ul > li > a[data-target="sites"] icon:before{
	content:"\f37e";
}
#side-menu #site-links > ul > li > a[data-target="logs"] icon:before{
	content:"\f2f6";
}
#side-menu #site-links > ul > li > a[data-target="users"] icon:before{
	content:"\f500";
}
#side-menu #site-links > ul > li > a#assets-link icon:before{
	content:"\f15c";
}
#side-menu #site-links > ul > li > a[data-target="lastScans"] icon:before{
	content:"\f865";
}

#side-menu  .sub-menu a icon:before{
	content:"\f0da";
	font-family:"Font Awesome 5 Pro";
	font-weight:700;
	margin-right:3px;
}

#side-menu #site-links ul li a span{
	padding-top:4px;
	vertical-align:top;
}

#side-menu #site-links ul li a:hover,
#side-menu #site-links ul li.has-submenu .btn-group .btn:hover{
    background-color: var(--ew-red);
    color: #fff;
}

#side-menu #site-links ul li a:focus,
#side-menu #site-links ul li.has-submenu .btn-group .btn:focus,
#side-menu #site-links > ul > li > a.current-page{
	color: var(--ew-red) !important;
	background-color:#fff !important;
	outline: none;
}

#side-menu #site-links ul li a:focus:before,
#side-menu #site-links > ul > li > a.current-page:before{background-color: var(--ew-red);}


#side-menu #equalweb-side-logo:focus,
#side-menu .tiny-footer div a:focus{outline:1px solid #fff;}

#side-menu a:focus{outline:1px solid var(--ew-red);}

#account-menu ul li a:focus{outline: 0;}


#side-menu #site-links ul li a:hover:before,
#side-menu #site-links > ul > li > a.current-page:before{
	left:0;
}
#side-menu #site-links ul li a .custom-tt-wrap{
	position:absolute;
	right:10px;
	top:16px;
}
#side-menu #site-links ul li a .custom-tt-wrap i{
	margin:0;
}

/*sub-menu customizations*/
#side-menu #site-links ul li.has-submenu > a{
	width: 80%;
	display: inline-block;
}
.side-menu-minimized #side-menu #site-links ul li.has-submenu > a{
	width: 67%;
}

#side-menu #site-links ul li.has-submenu .btn-group .btn{
	padding: 0;
}
#side-menu #site-links ul li.has-submenu .btn-group{
	width: 18%;
}

#side-menu #site-links ul li.has-submenu .btn-group > .dropdown-menu{
	background-color: var(--ew-blue);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	left: 1px !important;
}

.side-menu-minimized #side-menu #site-links ul li.has-submenu .btn-group > .dropdown-menu{
	min-width: auto;
	left: 6px !important;
}

#side-menu #site-links ul li.has-submenu .btn-group > .dropdown-menu a{
	padding-left: 10px;
	padding-right: 10px;
}


/*end*/
#side-menu .tiny-footer{
	position:absolute;
	display:block;
	width:100%;
	text-align:center;
	right:0;
	bottom:30px;
	font-size:15px;
	color:#fff;
}

#side-menu .tiny-footer > div{margin-bottom:10px;}

#side-menu .tiny-footer a{
	color:#fff;
	text-decoration:none;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px; 
}

#side-menu .tiny-footer a:hover,
#side-menu .tiny-footer a:focus{
    text-decoration:underline;
}

#side-menu #site-links .far.fa-credit-card{font-size:16px;}

#account-menu{margin-bottom: 20px;}


/* toggle-menu-width-wrap */

.toggle-menu-width-wrap:not(#ew-dummy){
	display:block;
	margin-top:10px;
	text-align:center;
	position:relative;
}
.toggle-menu-width-wrap .toggle-menu-width{
	display:inline-block;
	background-color:#fff;
	border-radius:50%;
	width:30px;
	height:30px;
	text-align:center;
	border:none;
	color:var(--ew-blue);
	font-size:22px;
	position:relative;
	z-index:9;
}
.toggle-menu-width-wrap .toggle-menu-width i{
	position:absolute;
	top:5px;
	left:5px;
	
	-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.side-menu-minimized #side-menu #site-links ul li a + ul{
	margin-left: 0;
}
.side-menu-minimized #side-menu {
	width:80px;
	padding-top:10px;
}
.side-menu-minimized .tiny-footer > div{
	display:none;

}
.side-menu-minimized #side-menu #site-links ul li a span,
.side-menu-minimized #account-menu ul li a span{
	display:none;
}
.side-menu-minimized #day-time{
	display:none;
}
.side-menu-minimized .tiny-footer .INDmenu-btn span{
	border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
.side-menu-minimized .tiny-footer .INDmenu-btn i{
	font-size:20px;
}
.side-menu-minimized #account-menu li{
	display:block;
}
.side-menu-minimized .INDmenu-btn{
	padding-top:10px !important;
}
.side-menu-minimized .fa-exclamation-square:before{
	display:none;
}

#side-menu #site-links ul{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#side-menu.with-scroll #site-links ul{
	padding-right: 13px;
	margin-right: 10px;
	overflow-y: auto;
}

#side-menu.calculating-height #site-links ul li .hide-temporarily{
	opacity: 0;
}

#side-menu.with-scroll #site-links ul::-webkit-scrollbar {
    width: 10px;
	border-radius:10px;
}
#side-menu.with-scroll #site-links ul::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color:#0873c5;
	border-radius:10px;
}
#side-menu.with-scroll #site-links ul::-webkit-scrollbar-thumb {
  background-color: #ff6f61;
  outline: 1px solid slategrey;
  border-radius:10px;
}

#side-menu .badge{
    font-size: 14px;
    line-height: 1em;
    padding: 3px 7px 3px !important;
}
#side-menu .badge.new-badge{
	background-color: var(--ew-green);
    box-shadow: none;
}
#side-menu .badge.numerical-badge{
	background-color: var(--ew-red);
    box-shadow: none;
}

#side-menu .badge.animated{
	animation-iteration-count: 3;
}

.side-menu-minimized #side-menu #site-links ul li a[data-target="overview"] .fa-sort-up:before{content:"\f15c";}
.side-menu-minimized #side-menu #site-links ul li a[data-target="schedule"] .fa-sort-up:before{content:"\f073";}
.side-menu-minimized #side-menu #site-links ul li a[data-target="report"] .fa-sort-up:before{content:"\f65a";}
.side-menu-minimized #side-menu #site-links ul li a[data-target="images"] .fa-sort-up:before{content:"\f03e";}

.side-menu-minimized #side-menu #site-links ul li a[data-target="overview"] .fa-sort-up,
.side-menu-minimized #side-menu #site-links ul li a[data-target="schedule"] .fa-sort-up,
.side-menu-minimized #side-menu #site-links ul li a[data-target="report"] .fa-sort-up,
.side-menu-minimized #side-menu #site-links ul li a[data-target="images"] .fa-sort-up{transform:none !important;}