:root {
	/*colors*/
	--ew-background: #f3f7fd;
	--ew-dark-green:#1bca9a;
	--ew-green: #00d4ae;
	--ew-yellow: #ffc107;;
	--ew-orange: #ffb74d;
	--ew-blue: #0984e3;
	--ew-light-blue: #b3e5fc;
	--ew-middle-blue: #72cbf4;
	--ew-gray: #636e73;
	--ew-semi-light-gray: #878787;
	--ew-text-gray: #607d8b;
	--ew-light-gray: #7b868b;
	--ew-very-light-gray: #eee;
	--ew-dark: #111;
	--ew-semi-dark: #263238;
	--ew-red: #ff6f61;
	--ew-turkiz: #11bcd2;
	--ew-dev-color: var(--ew-dark);

	/*Measurements*/
	--header-height: 60px;
	--no-2fa-alert: 34px;
	--side-menu-width: 16.35%;
	--main-cont-width-with-right-side: 67%;
}