<section>
	<link rel="stylesheet" href="/css/pages/monitor/all-scans.css">
	<div id="inner-container">
		<h1><span class="sr-only">Monitor - </span> My Scans</h1>
		<% if (hasSiteProcess && !isAgent) { %>	
		<div id="top-shortcuts">
			<button class="btn ew-red-bg" data-target="siteProcess">
				<i class="far fa-plus-circle"></i>
				Add new site
			</button>
		</div>
		<% } %>
		<h2>List of scanned domains</h2>
		<p id="intro-text">
		My Scans gathers the full list of all your websites that have been added to the Ongoing Monitor.<br>
		You can always check the scan's status, the number of pages or scan settings to schedule an ongoing scan to each domain.<br>
		When the scan is completed, you can view the evaluation on the "Report" section.
		</p>
		<div id="all-sites-wrapper"></div>
	</div>
</section>
<script src="/js/pages/monitor/all-scans/index.js" type="module"></script>