<style>
#domain-wrap .dropdown-menu,
#domain-wrap combobox-wrapper{
    width: 100%;
    max-height: 250px;
    margin: auto;
}
#domain-wrap combobox > combo-caret{
    color: var(--ew-dark);
    font-size: 22px;
    font-weight: 300;
    top: 11px;
}
</style>
<section>
    <link rel="stylesheet" href="/css/pages/monitor/home.css">
    <div id="inner-container">
    <% if (isDev) { %>	
        <button id="show-demo-video-btn" data-id="z_9mqGnAwNc" data-name="Mr Bean">
            <icon></icon>
            <span>Demo</span>
        </button>
    <% } %>
        <h1><span class="sr-only">Monitor - </span>Website Monitor Scanner</h1>
        <div id="form-intro-container">
            <h2>Let's Start Monitoring</h2>
            <p>
            When it comes to compliance, you are at the right place. Ongoing monitoring scans your website pages for accessibility issues to conform with WCAG 2.1 success criteria for levels A and AA.  
            The monitor will analyze any potential accessibility violation risks and produce an evaluation report.
            </p>
        </div>
        <form id="scan-form" aria-label="Scan your site now" role="form">
            <div class="form-row-wrap">
                <div class="form-row" id="custom-domain-wrap" hidden>
                    <label for="custom-domain" data-error="please fill your domain!" data-success="✓">Insert your domain</label>
                    <div class="form-control-wrap">
                        <input id="custom-domain" type="text" class="form-control validate" name="siteDomain" id="site-domain" data-field-exist-error="This domain is already exist for this language!" maxlength="150">
                        <button id="show-domain-combo-btn" class="btn" title="Choose site from the list">
                            <icon></icon>
                            <span class="sr-only">Choose from the list</span>
                        </button>
                    </div>
                </div>
                <div class="form-row" id="domain-wrap">	
                    <label 
                        for="site-domain<% if ( isMonitorAdminGroupMember ) { %>-autocomplete<% } %>" 
                        data-error="Please enter a valid domain or select one" 
                        data-success="✓">Choose domain from the list or enter your site domain
                    </label>
                <% if ( isMonitorAdminGroupMember ) { %>	
                    <div class="form-group">
                        <input type="hidden" name="site-domain" id="site-domain" aria-label="site domain">
                        <input type="text" required id="site-domain-autocomplete" class="form-control validate" autocomplete="off">
                    </div>
                <% } else { %>
                    <select searchable="Enter a site domain" name="site-domain" id="site-domain" class="mdb-select colorful-select form-control validate">
                    </select>
                <% } %>
                </div>
                <div class="form-row btnz-row">
                    <button id="submit-btn" class="btn">Continue</button>
                    <button id="reset-btn" class="btn" title="Reset selection">
                        <i class="far fa-undo"></i>
                        <span class="sr-only">Reset</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <%- include('../partials/right-side'); %>
</section>
<script type="application/json" id="sites-template">@@allClientSites</script>
<script type="module">
//# sourceURL=https://monitor/home.js
</script>