<section>
    <link rel="stylesheet" href="/css/pages/forgot-password.css">
	<div id="inner-container">
		<%- include('../partials/left-banner'); %>
		<div id="form-wrap">
			<div id="heading-container">
				<h1>Forgot your password?</h1>
			</div>
			<form id="pass-recovery-form" aria-label="Password recovery" role="form" class="recovery-mail-step" action="/forgot-password" method="post">
				<div class="form-row">
					<div class="form-control-wrap">
						<label for="recovery-email" data-error="please fill your e-mail address!" data-success="✓">Enter your e-mail address</label>
						<input type="email" id="recovery-email" name="email" required class="form-control validate" maxlength="100">
					</div>
				</div>
				<div class="form-row g-recaptcha-row">
					<div id="recovery-g-recaptcha" class="g-recaptcha" data-error="please declare your not a robot!"  data-success="✓"></div>
				</div>
				<div class="form-row">
					<button id="check-email-btn" class="btn">Submit</button>
				</div>
			</form>
			<a href="/logout" id="log-out">
				<i class="far fa-arrow-alt-to-left"></i>
				<span>Back</span>
			</a>
		</div>
	</div>
</section>