<section>
  <link rel="stylesheet" href="/css/pages/login.css">
  <div id="inner-container">
    <%- include('../partials/left-banner'); %>
    <div id="form-wrap">
      <div id="heading-container">
        <h1>Login to EqualWeb</h1>
        <p>Welcome back</p>
      </div>
      <form id="login-form" aria-label="Login" role="form" action="/login" method="post">
        <div class="form-row">
          <label for="userEmail" data-error="Please fill correct e-mail!" data-success="✓">Your email</label>
          <input type="email" id="userEmail" name="email" class="form-control validate" required maxlength="100">
        </div>
        <div class="form-row">
          <label for="user-pass" data-error="Please fill a password!" data-success="✓">Your password</label>
          <input type="password" id="user-pass" name="password" class="form-control validate" required maxlength="50">
        </div>
        <div class="form-row">
          <a href="/forgot-password" data-target="passwordRecovery" id="password-recovery">Forgot password?</a>
        </div>
        <div class="form-row g-recaptcha-row">
          <div id="login-g-recaptcha" class="g-recaptcha" data-error="please declare your not a robot!"  data-success="✓"></div>
        </div>
        <div id="login-response" class="response" role="alert"></div>
        <div class="form-row">
          <button id="log-in-btn" class="btn">Login</button>
        <% if (hasSiteProcess) { %>
          <a href="/registration" class="dont-have-account">Don't have an account? <span>Sign up</span></a>
        <% } %>
        </div>
      </form>
    </div>
  </div>
</section>
<script type="module">
  //# sourceURL=https://login.js
  import * as utils from '/js/utils/helpers.js';
  import { POST } from '/js/utils/request.js';
  // import { createPopper } from '/popperjs/core/lib/popper-lite.js';
  // import { Toast } from '/bootstrap/dist/js/bootstrap.esm.js';
  ( ()=>{
    const form = document.getElementById('login-form');
    const postResult = form.querySelector('#login-response');
  
    const showResult = result =>{
      let error = result.error || result.message;
      if( error ){
        postResult.classList.remove('text-success');
        postResult.classList.add('text-danger');
        postResult.innerText = error;
      } else{
        postResult.classList.remove('text-danger');
        postResult.classList.add('text-success');
        postResult.innerText = 'Please wait..';
      }
    }

    const postData = async () =>{
      let token = await utils.getRecaptchaToken();
      <% if (isDev) { %>
        token = 'fakeDevToken';
      <% } %>
      if( !token ){
        showResult({ 
          error: 'Invalid token'
        });
        return;
      }

      POST( form.action, {
        form,
        payload: {token}
      })
        .then(response =>{
          showResult(response);
        })
        .catch( response =>{
          showResult(response);
        })	
    }
	
    form.addEventListener('submit', function( e ){
      e.preventDefault();
      if( !this.checkValidity() ){
        return;
      }
      
      postData();	
    });
  })();
</script>