<section>
	<link rel="stylesheet" href="/css/pages/registration.css">
	<div id="inner-container">
		<%- include('../partials/left-banner'); %>
		<div id="form-wrap">
			<div id="heading-container">
				<h1>Create a Free Account</h1>
				<p>Get started with EqualWeb</p>
			</div>
			<form id="registration-form" aria-label="Registration" role="form" autocomplete="off" action="/registration" method="post">
				<div class="form-row">			
					<label for="user-name" data-error="please fill you name!" data-success="✓">Your name</label>
					<input type="text" id="user-name" name="name" class="form-control validate" required maxlength="100">
				</div>
				<div class="form-row">
					<label for="user-phone" data-error="please fill a phone number!" data-success="✓" class="active">Cell Phone</label>
					<input type="tel" id="user-phone" name="phone" class="form-control validate" data-format-error="please fill phone in correct format" required maxlength="15">
				</div>
				<div class="form-row">
					<label for="user-mail" data-error="please fill correct e-mail!" data-success="✓">Your email</label>
					<input type="email" id="user-mail" name="email" data-field-exist-error="This e-mail already exist! Please try a different e-mail." class="form-control validate" required maxlength="100">
				</div>
				<div class="form-row">
					<label for="user-pass" data-error="Please match the requested format." data-success="✓">Your password</label>
					<input type="password" autocomplete="off" id="user-pass" name="password" class="form-control validate has-form-tt" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" maxlength="50">
				</div>
				<div class="form-row">
					<label for="confirm-pass" data-error="please confirm the password!" data-success="✓">Confirm password</label>
					<input type="password" autocomplete="off" id="confirm-pass" data-match-to="user-pass" data-match-error="These passwords don't match. Please try again." class="form-control validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" maxlength="50">
				</div>
				<!-- <div class="form-row g-recaptcha-row">
					<div id="reg-g-recaptcha" class="g-recaptcha" data-error="please declare your not a robot!"  data-success="✓"></div>
				</div> -->
				<div class="form-row">
					<div id="reg-response" class="response" role="alert"></div>
					<!-- <button id="sign-up-btn" class="btn" aria-describedby="site-terms-row">Start now</button> -->
					<button id="sign-up-btn"
							aria-describedby="site-terms-row"
							class="btn">Start now</button>
					<a href="/login" class="have-account">Have an account? <span>Log in</span></a>
				</div>
				<div class="form-row" id="site-terms-row">
					By clicking the "Start now" button, you are creating an EqualWeb account, and you agree to EqualWeb
					<a href="https://www.equalweb.com/html5/?_id=10016&did=1116&G=10016" target="_blank" rel="noopener">Terms of Service</a> and 
					<a href="http://www.equalweb.com/html5/sbs.py?_id=8615&did=1116&G=8593" target="_blank" rel="noopener">Privacy Policy</a>.
				</div>
			</form>
      	<% if (isCDK) { %>
        	<%- include('partials/CDK/reg-content'); %>
        	<%- include('partials/CDK/steps'); %>
		<% } %>
		</div>
	</div>
</section>
<% if (!isDev) { %>
<script src="https://www.google.com/recaptcha/api.js?render=6LfkdVYcAAAAAEZMxfHRs3V45j6rlem1rUvpYeKh"></script>
<% } %>
<script type="module">
//# sourceURL=https://registration.js
import * as utils from '/js/helpers.js';
<% if (isDev) { %>
import autoFiller from '/js/auto-filler.js';
<% } %>
( ()=>{
	const form = document.getElementById('registration-form');
	const passConfirm = form.querySelector('[data-match-to]');
	const password = form.querySelector( `#${passConfirm.dataset.matchTo}` );
	const postResult = form.querySelector('#reg-response');

	const showResult = result =>{
		let error = result.error || result.message;
		if( error ){
			postResult.classList.remove('text-success');
			postResult.classList.add('text-danger');
			postResult.innerText = error;
		} else{
			postResult.classList.remove('text-danger');
			postResult.classList.add('text-success');
			postResult.innerText = 'Please wait..';
		}
	}

	const postData = async () =>{
		let token = await utils.getRecaptchaToken();
		<% if (isDev) { %>
			token = 'fakeDevToken';
		<% } %>
		if( !token ){
			showResult({ 
				error: 'Invalid token'
			});
			return;
		}

		utils.postForm({
			url : form.action,
			form,
			payload: {token}
		})
			.then(response =>{
				showResult(response);
			})
			.catch( response =>{
				showResult(response);
			})	
	}
	
	form.addEventListener('click', function(e) {
		passConfirm.setCustomValidity('');
		postResult.innerText = '';
	});

	form.addEventListener('submit', function( e ){
		e.preventDefault();
		if( !this.checkValidity() ){
			return;
		}
		if( passConfirm.value !== password.value ){
			passConfirm.setCustomValidity( passConfirm.dataset.matchError );
			passConfirm.reportValidity();
			return;
		}

		postData();	
	});

	<% if (isDev) { %>
	autoFiller( form );
	<% } %>
})();	
</script>
