<section>
    <link rel="stylesheet" href="/css/pages/forgot-password.css">
	<div id="inner-container">
		<%- include('../partials/left-banner'); %>
		<div id="form-wrap">
			<div id="heading-container">
				<h1>Reset Your Password</h1>
			</div>
			<form id="pass-recovery-form" aria-label="Password recovery" role="form" class="set-password-step" action="/reset/<%= token %>" method="post">
				<div class="form-row">
					<i class="fal fa-key"></i>
					<div class="form-control-wrap">
						<label for="new-password" data-error="please fill a password!" data-success="✓">New password</label>
						<input type="password" id="new-password" name="password" class="form-control validate has-form-tt" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" maxlength="50">
					</div>
				</div>
				<div class="form-row">
					<i class="fal fa-check-square"></i>
					<div class="form-control-wrap">
						<label for="confirm-new-password" data-error="please confirm the password!" data-success="✓">Confirm new password</label>
						<input type="password" id="confirm-new-password" data-match-to="new-password" data-match-error="These passwords don't match. Please try again." class="form-control validate" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,50}" maxlength="50">
					</div>
				</div>
				<div class="form-row">
					<button id="change-password-btn" class="btn">Submit</button>
				</div>
            </form>
        </div>
	</div>
</section>