<ul>
	<li>
		<a href="/admin/dashboard">
			<icon></icon>
			<span>Dashboard</span>
		</a>
	</li>
	<%- include('../monitor/menu-links'); %>
	<li>
		<a href="/admin/transactions">
			<icon></icon>
			<span>Billing & Transactions</span> 
		</a>
	</li>
	<li>
		<a href="/siteProcess">
			<icon></icon>
			<span>Add new site</span>
		</a>
	</li>
	<li>
		<a href="/admin/affiliates">
			<icon></icon>
			<span>Affiliates Deals</span> 
		</a>
	</li>
	<li>
		<a href="/admin/lastScans">
			<icon></icon>
			<span>Monitor last scans</span> 
		</a>
	</li>
	<li>
		<a href="/admin/sites">
			<icon></icon>
			<span>Sites</span> 
		</a>
	</li>
	<li>
		<a href="/admin/logs">
			<icon></icon>
			<span>Logs</span> 
		</a>
	</li>
	<li class="has-sub-menu">
		<a href="/admin/users">
			<icon></icon>
			<span>Users</span> 
		</a>
		<ul class="sub-menu" hidden>
			<li>
				<a href="/admin/users/credits">
					<icon></icon>
					<span>Clients Credits</span> 
				</a>
			</li>
			<li>
				<a href="/admin/agentsList">
					<icon></icon>
					<span>Agents list</span>
				</a>
			</li>
			<li>
				<a href="/admin/permissions">
					<icon></icon>
					<span>Permissions</span> 
				</a>
			</li>
		</ul>
	</li>
	<li class="has-sub-menu">
		<a role="none" id="assets-link">
			<icon></icon>
			<span>Assets</span> 
		</a>
		<ul class="sub-menu" hidden>
			<li>
				<a href="/admin/leads">
					<icon></icon>
					<span>Leads</span>
				</a>
			</li>
			<li>
				<a href="/admin/adminPlans">
					<icon></icon>
					<span>Plans</span> 
				</a>
			</li>
			<li>
				<a href="/admin/coupons">
					<icon></icon>
					<span>Coupons</span> 
				</a>
			</li>
			<li>
				<a href="/admin/currencies">
					<icon></icon>
					<span>Currencies</span> 
				</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="/admin/managedPlans">
			<icon></icon>
			<span>Managed Plans</span> 
		</a>
	</li>
</ul>